@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="4"]';
body[data-current-slide-class="slide4"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/4/background.png');
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/4/background.png');
  text-align: center;

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .personajes{
    background-image: url(../img/4/personajes.png);
    width: 31%;
    height: 45%;
    left: 7%;
    top: 47%;
  }

  .caja{
    background-image: url(../img/4/caja.png);
    width: 20%;
    height: 21%;
    left: 20%;
    top: 33%;
    padding: 2%;
    z-index: 2;
    display: inline-table;
    text-align: center;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    span{
      font-family: FFBold;
      font-size: 1.8em;
      color: white;
      display: table-cell;
      vertical-align: middle;
    }

    &:hover{
      //transform:scale(1.1);
    }

    &[data-n="2"]{
      left: 41%;
    }

    &[data-n="3"]{
      left: 62%;
    }

    &[data-n="5"]{
      left: 41%;
      top: 58%;
    }

    &[data-n="4"]{
      left: 62%;
      top: 58%;
    }
  }
  
}