@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5"]';
body[data-current-slide-class="slide5"] #wrapper {
  background-color: #CE6B00;
  background-image: url('../img/2/background.png');
}
#{$slide} {
  background-color: #CE6B00;
  background-image: url('../img/2/background.png');
  text-align: center;

  textarea{
    width: 84%;
    height: 80%;
    min-height: 30%;
    float: left;
    margin-left: 8%;
    border-color: transparent;
    color: #680F10;
    padding: 2%;
    font-size: 1.8em;
  }

  textarea:hover{
    border-color: $base;  
  }

  textarea::-webkit-input-placeholder {
    color: #9A999E;
    text-align:center;
    padding-top: 15%;
    font-size: 2em;
  }
  textarea:-moz-placeholder {
    color: #9A999E;
    text-align:center;
    padding-top: 15%; 
    font-size: 2em;
  }
  textarea:-ms-input-placeholder { 
    color: #9A999E;
    text-align:center;
    padding-top: 15%; 
    font-size: 1.5em;
  }

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .isla{
    background-image: url(../img/1/isla.png);
    width: 80%;
    height: 77%;
    left: 72%;
    top: 40%;
  }

  .edificio{
    background-image: url(../img/1/edificio1.png);
    width: 14%;
    height: 42%;
    left: 79%;
    top: 26%;
  }

  .logo{
          float: left;
          background-image: url(../img/2/logo1.png);
          width: 25%;
          height: 15%;
          margin-left: 8%;
          margin-top: 7%;

          &[data-logo="2"]{background-image: url(../img/2/logo2.png);}
          &[data-logo="3"]{background-image: url(../img/2/logo3.png);}
          &[data-logo="4"]{background-image: url(../img/2/logo4.png);}
          &[data-logo="5"]{background-image: url(../img/2/logo5.png);}
          &[data-logo="6"]{background-image: url(../img/2/logo6.png);}
          &[data-logo="7"]{background-image: url(../img/2/logo7.png);}
          &[data-logo="8"]{background-image: url(../img/2/logo8.png);}
          &[data-logo="9"]{background-image: url(../img/2/logo9.png);}
          &[data-logo="10"]{background-image: url(../img/2/logo10.png);}
          &[data-logo="11"]{background-image: url(../img/2/logo11.png);}
          &[data-logo="12"]{background-image: url(../img/2/logo12.png);}
          &[data-logo="13"]{background-image: url(../img/2/logo13.png);}
          &[data-logo="14"]{background-image: url(../img/2/logo14.png);}
          &[data-logo="15"]{background-image: url(../img/2/logo15.png);}

        }

  .pagina{
    position: absolute;
    top: 7%;
    left: 0%;
    width: 100%;
    height: 86%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    .title-slide{margin-left: 10%;}

    .button-continuar{ top: 4%; }

    .preguntas{
      top: 25%;
      left: 15%;
      background-color: #383448;
      span{ color: white; }
    }

    .boton-pregunta{
      position: absolute;
      background-image: url(../img/2/pregunta1.png);
      width: 16%;
      height: 40%;
      left: 27%;
      top: 54.206%;
      z-index: 2;
      opacity: 0.7;
      transition: all 0.7s linear;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;

      &[data-n="2"]{
        background-image: url(../img/2/pregunta2.png);
        left: 38%;
        top: 36.206%;
        z-index: 1;
        height: 50%;
        width: 17%;
        z-index: 1;
      }

      &[data-n="3"]{
        background-image: url(../img/2/pregunta3.png);
        left: 49.506%;
        top: 55.206%;
      }

      &[data-n="4"]{
        background-image: url(../img/2/pregunta4.png);
        left: 60%;
        top: 26%;
        z-index: 1;
        height: 53%;
        width: 17%;
        z-index: 1;
      }


      &.activo, &:hover{
        opacity: 1;
      }
    }

    .titulo-pregunta{
      width: 90%;
      height: 12%;
      text-align: left;
      margin-left: 10%;

      .icono-pregunta{
        float: left;
        background-image: url(../img/2/icono_1.png);
        width: 6%;
        height: 100%;
        margin-top: 2%;

        &[data-n="2"]{background-image: url(../img/2/icono_2.png);}
        &[data-n="3"]{background-image: url(../img/2/icono_3.png);}
        &[data-n="4"]{background-image: url(../img/2/icono_4.png);}

      }

      h3{
          float: left;
          font-family: FFBold;
          font-size: 2.2em;
          color: white;
          margin-left: 3%;
          margin-top: 3%;
          width: 66%;
          text-align: justify;
      }
    }

    .contenedor{
      margin-top: 5%;
      margin-left: 5%;
      width: 90%;
      height: 75%;
      padding: 3%;
      background-color: #FF8025;

      &[data-n="2"]{background-color: transparent;}

      .draggable-items{
        float: left;
        width: 25%;
        height: 100%;

        .draggable-element{
          cursor:pointer;

          &:hover{
              transform: scale(1.2);
          }

          &.disabled{
              pointer-events: none;
          }
      }
        

        
      }

      .dropables{
        display: inline-table;
        text-align: center;

        span{
          font-family: FFLight;
          font-size: 3em;
          color: #9A999E;
          display: table-cell;
          vertical-align: middle;
        }

        &.dropeado{
          span{
            color: transparent;
          }
        }

        .drop{
          position: absolute;
          top: 28%;
          left: 32%;
          width: 28%;
          height: 57%;

          &.highlight{
              background-color: rgba(255, 255, 255, 0.5);
          }

          &.over{
              transform:scale(1.2);
              background-color:rgba($base, 0.5);
          }
        }
      }

      .iguales{
        float: left;
        width: 33%;
        margin-left: 4%;
        height: 90%;
        background-color: rgba(#FFF, 0.7);
      }
    }
  }

  .volver{
    top: 81.506%;
    left: 63%;
    background-color: #006D36;
    span{color: #F6F7F6;}
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    &:hover{
      span{
        color: #006D36; 
      }
    }
  }

  .guardar{
    top: 81.506%;
    left: 71.506%;
    background-color: #006D36;
    span{color: #F6F7F6;}
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    &:hover{
      span{
        color: #006D36; 
      }
    }
  }

  
}