@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';
body[data-current-slide-class="slide3"] #wrapper {
  background-color: #37BDB3;
  background-image: url('../img/3/background.png');
}
#{$slide} {
  background-color: #37BDB3;
  background-image: url('../img/3/background.png');
  text-align: center;

  /* unvisited link */
  a:link {
      color: #006D36!important;
  }

  /* visited link */
  a:visited { 
      color: #0C2714!important;
  }

  /* mouse over link */
  a:hover {
      color: #0C2714!important;
  }

  /* selected link */
  a:active {
      color: blue!important;
  }

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  textarea{
    width: 100%;
    height: 80%;
    min-height: 30%;
    float: left;
    border-color: transparent;
    color: #680F10;
    padding: 2%;
    font-size: 2.1em;

    &[data-n="2"]{
        margin: 0;
        width: 100%;  
        height: 100%; 
        font-size: 2.2em;
    }
  }

  textarea:hover{
    border-color: $base;  
  }

  textarea::-webkit-input-placeholder {
    color: #9A999E;
    text-align:center;
    padding-top: 15%;
    font-size: 2em;
  }
  textarea:-moz-placeholder {
    color: #9A999E;
    text-align:center;
    padding-top: 15%; 
    font-size: 2em;
  }
  textarea:-ms-input-placeholder { 
    color: #9A999E;
    text-align:center;
    padding-top: 15%; 
    font-size: 1.5em;
  }

  /* Style the tab */
.tab {
    overflow: hidden;
    //border: 1px solid #ccc;
    background-color: #3F4163;
    width: 100%;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #3F4163;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.8em;
    font-family: FFBold;
    width: 20%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #383448;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #383448;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 5px solid #383448;
    border-top: none;
    width: 100%;
    height: 90%;
    background-color: white;

    h3{
      font-family: FFBold;
      font-size: 2.5em;
      color: #0C2714;
      text-align: center;
      margin: 5%;

      &[data-n="2"]{
        margin-top: 10%;
      }
    }

    .botonera{
      position: absolute;
      top: 69%;
      left: 30%;
      width: 40%;
      height: 25%;
      transition: all 0.7s linear;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;

      .boton-pregunta, .boton-enlace{
        float: left;
        background-image: url(../img/3/rombo_inactivo.png);
        width: 15%;
        height: 100%;
        margin-left: 10%;
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;

        &.activo, &:hover{
          background-image: url(../img/3/rombo_activo.png);
        }
      }

      &[data-n="2"]{
        top: 80%;
      }
    }

    .pregunta, .enlace{
      position: absolute;
      top: 90%;
      left: 21%;
      width: 52%;
      height: 19%;
      padding: 2%;
      display: inline-table;
      text-align: center;
      transition: all 0.7s linear;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;

      a{
        font-family: FFBold;
        font-size: 2.8em;
        display: table-cell;
        vertical-align: middle;
      }

      &[data-n="2"]{
        top: 95%;
      }
    }

    .pagina{
      padding: 6px 12px;
      width: 100%;
      height: 100%;

      &.inactiva{
        display: none;
      }

      &.activa{
        display: block;
      }

      p{
        font-family: FFBold;
        font-size: 2.2em;
        color: #0C2714;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;

        &.sangria{
          padding-left: 2%;
        }
      }

      .caso{
        width: 15%;
        top: 101%;
        left: 82%;
      }

      &[data-n="2"]{
        .volver{
          top: 100%;
          left: 72%;
        }

        .matriz{
          top: 100%;
          left: 85%;
        }
      }

      &[data-n="3"]{
        

        .volver{
          top: 109%;
          left: 69%;
        }

        .continuar{
          top: 109%;
          left: 80%;
        }
      }

      &[data-n="3"]{
        .caja{
          float: left;
          width: 32%;
          height: 100%;
          margin-left: 1%;
          border: solid 1px rgb(151, 172, 166);
          -webkit-box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
          -moz-box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
          box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
        }

        .titulo{
          background-color: #6E8F31;
          width: 100%;
          height: 20%;
          display: inline-table;
          text-align: center;

          span{
            font-family: FFLight;
            font-size: 1.9em;
            color: white;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
}

  .contenedor{
    position: relative;
    top: 5%;
    left: 5%;
    width: 89%;
    height: 70%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
  }

  .imagen{
    position: absolute;
    top: 26%;
    left: 2%;
    width: 96%;
    height: 80%;
    padding: 0;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    .izquierda{
      float: left;
      position: relative;
      width: 80%;
      height: 97%;

      .locura{
        background-image: url(../img/3/locura.png);
        width: 100%;
        height: 69%;
      }
    }

    .derecha{
      float: left;
      width: 20%;
      height: 67%;
      padding: 0% 1%;
      margin-left: 0%;
      background-color: #3F4163;

      h3{
        font-size: 1.5em;
      }

      p{
          font-family: FFLight;
          font-size: 1.3em;
          color: white;
          margin-top: 1%;
      }

      .draggable-items{
        position: relative;
        width: 100%;
        height: 23%;
        margin-top: 5%;
        margin-left: 0%;
        z-index: 10;
        background-color: #383448;
        
        .circulo{
          background-image: url(../img/3/circulo.png);
          width: 50%;
          height: 100%;
          position: absolute!important;
          left: 21%;
          top: 0;
        }

        .equis{
          background-image: url(../img/3/equis.png);
          width: 50%;
          height: 80%;
          position: absolute!important;
          left: 21%;
          top: 0;
        }
      }
    }

    .reiniciar{
      top: 70%;
      left: 49%;
    }

    .volver{
        top: 70%;
        left: 62%;
    }
    .guardar{
        top: 70%;
        left: 73%;
        width: 21%;
    }
  }

  .dropeable{
    position: absolute;
    width: 100%;
    height: 69%;
    left: 0%;
    top: 0%;
    z-index: 2;

    .drop{
      float: left;
      width: 16.606%;
      height: 33.306%;

        &.highlight{
            background-color: rgba($base, 0.5);
            -webkit-box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
            -moz-box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
            box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
        }

        &.over{
            background-color:rgba($base, 0.1);
        }

        .circulo{
          background-image: url(../img/3/circulo.png);
          width: 80%;
          height: 100%;
          margin-left: 10%
        }

        .equis{
          background-image: url(../img/3/equis.png);
          width: 60%;
          height: 60%;
          margin-left: 25%;
          margin-top: 15%;
        }
    }
  }

  #social .compartir, #retro .finalizar{
    top: 100%;
    left: 70%;
    width: 25%;
  }

  .button-continuar{
    z-index: 5;
  }

  .title-slide h3 {
    font-size: 1.66em;
  }

}