@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
}

#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
  
  .actividad{
      top: 80%;
      left: 82%;
  }

  .disabled{
    opacity: 0.5;
  }

  .bloques{
    background-image: url(../img/1/bloques.png);
    width: 68.506%;
    height: 70%;
    left: 14.506%;
    top: 20%;
  }

  .edificio{
    width: 15%;
    height: 32%;
    left: 33%;
    top: 27%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    &:hover{
      .icono{
        background-image: url(../img/1/exp_1_activo.png);

        &[data-n="2"]{
          background-image: url(../img/1/exp_2_activo.png);         
        }

        &[data-n="3"]{
          background-image: url(../img/1/exp_3_activo.png);          
        }
      }
    }

    &[data-n="2"]{
      left: 54%;
      top: 33%;
    }

    &[data-n="3"]{
      left: 53%;
      top: 70%;
    }

    .icono{
      position: absolute;
      background-image: url(../img/1/exp_1_inactivo.png);
      width: 53%;
      height: 41%;
      left: 7%;
      top: -29%;
      z-index: 2;
      transition: all 0.7s linear;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;

      &[data-n="2"]{
        background-image: url(../img/1/exp_2_inactivo.png);     

        // &.izquierda{
        //   left:   22%;
        // }
      }

      &[data-n="3"]{
        background-image: url(../img/1/exp_3_inactivo.png);
      }
    }

    .caja{
      position: absolute;
      width: 170%;
      height: 80%;
      top: -20%;
      left: -148%;
      z-index: 1;

      .titulo{
        width: 100%;  
        height: 20%;
        background-color: #EBC346;
        display: inline-table;
        text-align: center;

        span{
          font-family: FFBold;
          font-size: 1.8em;
          color: #90133C;
          display: table-cell;
          vertical-align: middle;
        }
      }

      .cajita{
        margin-top: 5%;
        width:  93%;
        height: 35%;
        margin-left: 7%;
        background-color: rgba(#000618, 0.7);
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;

        .simbolo{
          float: left;
          background-image: url(../img/1/a_1.png);
          width:  20%;
          height: 55%;
          margin-left: 10%;
          margin-top: 6%;

          &[data-n="2"]{background-image: url(../img/1/r_1.png);}
          &[data-n="3"]{background-image: url(../img/1/r_2.png);}
          &[data-n="4"]{background-image: url(../img/1/a_2.png);}
          &[data-n="5"]{background-image: url(../img/1/r_3.png);}
          &[data-n="6"]{background-image: url(../img/1/a_3.png);}
        }

        .nombre{
          float: left;
          width:  70%;
          height:   100%;
          padding: 1%;
          display: inline-table;
          text-align: center;

          span{
            font-family: FFBold;
            font-size: 1.8em;
            color: white;
            display: table-cell;
            vertical-align: middle;

            &[data-n="2"]{
              font-size: 1.3em;
            }

            &[data-n="3"]{
              font-size: 1.5em;
            }
          }
        }

        &[data-n="2"]{margin-left: 0;}
      }

      &[data-n="2"]{
        top: -20%;
        left: 37%;
      }

      &[data-n="3"]{
        top: -50%;
        left: 37%;
      }

    } //fin caja
  }
}
