<div class="title-slide" data-ani-class="bounceInRight">
	<div class="fs-bg icono" data-n="4" data-ani-class="bounce" data-ani-delay="300"></div> 
  <h2>Experiencia de aprendizaje 3</h2>
  <h3>Estrategias de fortalecimiento organizacional y planes de intervención desde el Copasst.</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="fs-bg abs-p personajes disabled info hoverable noColor" data-info="4"></div>

<div class="fs-bg abs-p caja info hoverable click-me" data-n="1" data-info="1"><span>Fortalecimiento organizacional</span></div>
<div class="fs-bg abs-p caja disabled info hoverable noColor" data-n="2" data-info="2"><span>Gestión organizacional</span></div>
<div class="fs-bg abs-p caja disabled info hoverable noColor" data-n="3" data-info="3"><span>Comités de apoyo</span></div>
<div class="fs-bg abs-p caja disabled info hoverable noColor" data-n="4" data-info="6"><span>Investigación de accidentes  e incidentes de trabajo</span></div>
<div class="fs-bg abs-p caja disabled info hoverable noColor" data-n="5" data-info="5"><span>Inspección de seguridad</span></div>