<div class="title-slide" data-ani-class="bounceInRight">
	<div class="fs-bg icono" data-n="2" data-ani-class="bounce" data-ani-delay="300"></div> 
  <h2>Actividad de aprendizaje 2</h2>
  <h3>Intervención de los grupos de apoyo en la Gestión organizacional de la seguridad y salud en el trabajo</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>


<div class="contenedor">
	<div class="tab">
	  <button class="tablinks" data-tab="recursos" id="defaultOpen">1 . Recursos</button>
	  <button class="tablinks" data-tab="analisis" >2. Análisis</button>
	  <button class="tablinks" data-tab="sintesis" >3. Síntesis</button>
	  <button class="tablinks" data-tab="social" >4. Socialización</button>
	  <button class="tablinks" data-tab="retro" >5. Retroalimentación</button>
	</div>

	<div id="recursos" class="tabcontent">
	  <h3>Recuerde que para el desarrollo de la actividad puede consultar los siguientes recursos:</h3>
	  <div class="botonera" data-n="1">
	  	<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="1" data-n="1"></div>
		<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="2" data-n="2"></div>
		<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="3" data-n="3"></div>
	  </div>

	  <div class="pregunta oculto" data-pregunta="1">
		{{!-- <a href="../img/slide3Decreto1072.pdf" target="_blank">Decreto 1072 de 2015.</a> --}}
		<a href="img/slide3Decreto1072.pdf" target="_blank">Decreto 1072 de 2015.</a>
		</div>
		<div class="pregunta oculto" data-pregunta="2">
			{{!-- <a href="../img/slide3Resolucion.pdf" target="_blank">Resolución 2013 de 1986.</a> --}}
			<a href="img/slide3Resolucion.pdf" target="_blank">Resolución 2013 de 1986.</a>
		</div>
		<div class="pregunta oculto" data-pregunta="3">
			{{!-- <a href="../img/slide3Anexo.pdf" target="_blank">Presentación Comité Paritario de Seguridad y Salud en el Trabajo.</a> --}}
			<a href="img/slide3Anexo.pdf" target="_blank">Presentación Comité Paritario de Seguridad y Salud en el Trabajo.</a>
		</div>

	</div>

	<div id="analisis" class="tabcontent">
	  <div class="pagina inactiva activa" data-pagina="1" data-n="1">
	  	<br>
	  	<br>
	  	<br>
	  	<p>Analice la gráfica en la que se presenta un caso de una organización administrativa. Para ello, tenga en cuenta lo siguiente:</p>
	  	<br>
	  	<br>
	  	<p>A. Sobre la gráfica (caso de estudio):</p>
	  	<p class="sangria">a) Identifique los peligros y riesgos presentes en el área de trabajo.</p>
	  	<p class="sangria">b) Identifique situaciones como accidentes y/o incidentes.</p>
	  	<div class="button abs-p caso hoverable click-me">
	  		<span>Ir al caso</span>
	  	</div>
	  </div>
	  <div class="pagina inactiva" data-pagina="2" data-n="2">
	  	<br>
		<br>
		<br>
	  	<p>Analice la gráfica en la que se presenta un caso de una organización administrativa. Para ello, tenga en cuenta lo siguiente:</p>
	  	<br>
	  	<p>B. Luego de analizar la gráfica:</p>
	  	<p class="sangria">a) Defina estrategias de intervención encabezadas desde el grupo de apoyo Copasst, en relación con las funciones normativas establecidas en la Resolución 2013 de 1986.</p>
	  	<p class="sangria">b) Con la información obtenida en los puntos anteriores, diligencie la siguiente matriz de análisis:</p>
	  	<div class="button abs-p volver hoverable click-me">
	  		<span>Volver</span>
	  	</div>
	  	<div class="button abs-p matriz hoverable click-me">
	  		<span>Matriz</span>
	  	</div>
	  </div>

	  <div class="pagina inactiva" data-pagina="3" data-n="3">
	  	<div class="caja">
	  		<div class="titulo"><span>Peligros y riesgos identificados</span></div>
	  		<textarea data-respuesta="1" placeholder="Escriba aquí"></textarea>
	  	</div>
	  	<div class="caja">
	  		<div class="titulo"><span>Accidentes y/o incidentes identificados</span></div>
	  		<textarea data-respuesta="2" placeholder="Escriba aquí"></textarea>
	  	</div>
	  	<div class="caja">
	  		<div class="titulo"><span>Estrategias de intervención desde el Copasst</span></div>
	  		<textarea data-respuesta="3" placeholder="Escriba aquí"></textarea>
	  	</div>
	  	<div class="button abs-p volver hoverable click-me">
	  		<span>Volver</span>
	  	</div>
	  	<div class="button abs-p continuar hoverable click-me">
	  		<span>Guardar</span>
	  	</div>
	  </div>
	</div>

	<div id="sintesis" class="tabcontent">
	  <h3>Con el objetivo de dar cuenta de la propuesta para la gestión de la seguridad y salud en el trabajo y teniendo en cuenta el análisis desarrollado y los conceptos ganados que encuentran en el cofre, elabore una síntesis a través de una infografía. Para ello puede orientarse y usar cualquiera de los siguientes recursos:</h3>
	  <div class="botonera" data-n="2">
	  	<div class="fs-bg hoverable click-me boton-enlace" data-boton-enlace="1" data-n="1"></div>
		<div class="fs-bg hoverable click-me boton-enlace" data-boton-enlace="2" data-n="2"></div>
		<div class="fs-bg hoverable click-me boton-enlace" data-boton-enlace="3" data-n="3"></div>
	  </div>

	  <div class="enlace oculto" data-enlace="1" data-n="2">
		<a href="https://www.youtube.com/watch?v=lkxd0Lz6x2w" target="_blank">¿Qué es, para qué y cómo hacer una infografía?</a>
		</div>
		<div class="enlace oculto" data-enlace="2" data-n="2">
			<a href="https://www.youtube.com/watch?v=88FeHXdBOYM" target="_blank">¿Cómo elaborar una infografía en Power Point?</a>
		</div>
		<div class="enlace oculto" data-enlace="3" data-n="2">
			<a href="https://www.easel.ly/" target="_blank">Herramientas web para elaborar infografías.</a>
		</div>
	</div>

	<div id="social" class="tabcontent">
	  <h3 data-n="2">Comparta en la plataforma virtual la infografía que realizó anteriormente, con el fin de que los demás estudiantes generen comentarios a manera de aporte a su propuesta.</h3>
	  {{!-- <div class="button abs-p compartir hoverable click-me">
	  	<span>Compartir infografía</span>
	  </div> --}}
	</div>

	<div id="retro" class="tabcontent">
	  <h3 data-n="2">Revise y analice por lo menos una propuesta de intervención de otro estudiante y exponga comentarios y/o sugerencias de fortalecimiento a esta.</h3>
	  <div class="button abs-p finalizar hoverable click-me">
	  	<span>Finalizar</span>
	  </div>
	</div>
</div>

<div class="imagen oculto">
	<div class="izquierda">
		<div class="fs-bg abs-p locura"></div>
		<div class="dropeable"/>
	</div>
	<div class="derecha">
		<h3>Para hacer el análisis sobre la imagen arrastre los símbolos según corresponda:</h3>
		<p>a) Marque los peligros y riesgos identificados con:</p>
		<div class="fs-bg draggable-items" data-drags="circulos"></div>
		<p>a) Marque las situaciones como accidentes y/o incidentes identificados con:</p>
		<div class="fs-bg draggable-items" data-drags="equis"></div>
	</div>
	<div class="button abs-p reiniciar hoverable click-me oculto">
		<span>Reiniciar</span>
	</div>
	<div class="button abs-p volver hoverable click-me">
		<span>Volver</span>
	</div>
	<div class="button abs-p guardar hoverable click-me">
		<span>Guardar y continuar</span>
	</div>
</div>