<h1>¡BIENVENIDO!</h1>
<hr>
<h2>En la presente unidad usted aprenderá a describir los elementos
que debe desarrollar una política pública con enfoque de
derechos y los elementos que debe integrar una estrategia de
incidencia, a fin de contar con las herramientas para incidir en
la formulación de políticas públicas de derechos humanos en
su territorio.</h2>
<br>
<h2>Para empezar inicie la Actividad de aprendizaje 1 de la primera
Experiencia de Aprendizaje.</h2>