<h2>La incidencia política sirve para:</h2>
<ul>
    <li>Fortalecer la posibilidad de que la ciudadanía ejerza un protagonismo directo.</li>
    <li>Habilitar espacios de ejercicio pleno de ciudadanía, donde los ciudadanos puedan hacerse cargo directamente de ciertos asuntos, sin desentenderse de los mismos.</li>
    <li>Contribuir dentro de ciertas escalas, a una sociedad que avanza en la autodeterminación de sus ciudadanos.</li>
    <li>Involucrar a otros actores también preocupados e interesados en los temas públicos. </li>
</ul>