
<div class="content content-1">
    <div class="block">
        <div class="icon"></div>
    </div>
    <div class="block">
        <h1>Consulte los conceptos almacenados en el cofre para que los utilice en el planteamiento que realizará en esta actividad.</h1>
    </div>
</div>
<div class="content content-2">
    <div class="block">
        <div class="icon"></div>
    </div>
    <div class="block">
        <h2>Tenga en cuenta que puede acceder al siguiente material de consulta para complementar el desarrollo de la actividad:</h2>
        <ol>
            <li><a href="http://www.biblioteca.org.ar/libros/88594.pdf" target="_blank" rel="noopener noreferrer">http://www.biblioteca.org.ar/libros/88594.pdf</a></li>
            <li><a href="https://materialdeapoyoparaosc.wordpress.com/incidencia-politica/" target="_blank" rel="noopener noreferrer">https://materialdeapoyoparaosc.wordpress.com/incidencia-politica/</a></li>
            <li><a href="https://www.wola.org/wp-content/uploads/2005/06/atp_manual_para_facilitacion_jun_05-1.pdf" target="_blank" rel="noopener noreferrer">https://www.wola.org/wp-content/uploads/2005/06/atp_manual_para_facilitacion_jun_05-1.pdf</a></li>
        </ol>
    </div>
</div>