<div>
    <h1>  Ha terminado exitosamente la exploración de la unidad acerca del sistema de gestión de tecnología y gerencia de la información. </h1>
<br>
  <h1>Por esto ha obtenido el documento completo de la unidad. Descárguelo y use la información que allí reposa si considera que puede mejorar su trabajo de la actividad 2</h1>
<br>

<!-- <h2>Es importante para nosotros su experiencia, lo invitameos a realizar la evaluación de la Unidad Didáctica.</h2>
  <a href="{{assignLink}}" target="_blank">
  <div class="button hoverable" style="position:relative;"><span>Evaluar Unidad Didáctica</span></div>
  </a> -->
</div>
