<div class="cont-back">

  <div class="title-slide" data-ani-class="bounceInRight">
    <div class="icon-activity"></div>
    <h2>ACTIVIDAD 1. ¿Qué conozco sobre la gestión de tecnología en las IPS?</h2>
    <h3>  Modifique la nube de palabras dando más importancia a aquellas palabras que considera más relevantes para comprender la gestión tecnológica
       en las IPS.
      <br><br>
      Para esto dé repetidamente clic sobre aquellas palabras que cumplen esta condición
    </h3>
    </div>

  <!-- <div class="button hoverable boton_iniciar"><span>Iniciar</span></div> -->

</div>
