<div>
	<div class="fs-bg personaje"></div>
    <h1>Usted ha explorado y evaluado su conocimiento sobre la Gestión organizacional de los grupos de apoyo en seguridad y salud en el trabajo: comité paritario de seguridad y salud en el trabajo (Copasst).
    <br><br>
	Ahora puede obtener el documento completo de la unidad por medio del botón PDF en el menú superior. Si usted considera que necesita complementar la actividad 2 puede usar esta información para hacerlo durante el tiempo que esté el aula abierta.</h1>
</div>