<div class="fs-bg abs-p edificio"></div>
<div class="fs-bg abs-p bloques"></div>
<div class="fs-bg abs-p cuaderno"></div>
<div class="fs-bg abs-p tablet"></div>

<div class="abs-p fs-bg disabled learning-experience" data-experiencie="1" data-n="1" data-switch-to-slide=""></div>
<div class="abs-p fs-bg disabled learning-experience" data-experiencie="2" data-n="2" data-switch-to-slide=""></div>
<div class="abs-p fs-bg disabled learning-experience" data-experiencie="3" data-n="3" data-switch-to-slide=""></div>

<div class="abs-p fs-bg hoverable click-me actividad" data-actividad="1" data-n="1" data-switch-to-slide="2"></div>
<div class="abs-p fs-bg hoverable click-me clicked disabled actividad" data-actividad="2" data-n="2" data-switch-to-slide="8"></div>
<div class="abs-p fs-bg hoverable click-me clicked disabled actividad" data-actividad="3" data-n="3" data-switch-to-slide="12"></div>

<div class="contenedor">
  <div class="fs-bg hoverable click-me clicked recurso disabled" data-recurso="1" data-switch-to-slide="3"></div>
  <div class="fs-bg hoverable click-me clicked recurso disabled" data-recurso="2" data-switch-to-slide="4"></div>
  <div class="fs-bg hoverable click-me clicked recurso disabled" data-recurso="3" data-switch-to-slide="5"></div>
</div>

<div class="contenedor" data-n="2">
  <div class="fs-bg hoverable click-me clicked recurso disabled" data-recurso="4" data-switch-to-slide="6"></div> 
  <div class="fs-bg hoverable click-me clicked recurso disabled" data-recurso="5"></div>
</div>

<div class="contenedor" data-n="3">
  <div class="fs-bg hoverable click-me clicked recurso disabled" data-recurso="6" data-switch-to-slide="10"></div>
  <div class="fs-bg hoverable click-me clicked recurso disabled" data-recurso="7" data-switch-to-slide="11"></div>
</div>