<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Experiencia de aprendizaje 3</h2>
  <h3>Ejes Centrales de la acreditación en salud</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<audio id="correcto">
  <source src="" type="audio/wav">
	Your browser does not support the audio element.
</audio>

<audio id="incorrecto">
  <source src="" type="audio/wav">
	Your browser does not support the audio element.
</audio>

<div class="filtro oculto">	</div>
<div class="button abs-p 	pista hoverable oculto click-me" data-ani-class="bounceInRight">
	<span>Pista</span>
</div>

<div class="contenedor">
	<div class="caja hoverable" data-caja="1" data-pareja="1">
		<div class="cajita oculto" data-cajita="1">
			<div class="izquierda fs-bg escudo"></div>
			<div class="derecha"><span>Seguridad del paciente</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="2" data-pareja="2">
		<div class="cajita oculto" data-cajita="2">
			<div class="izquierda fs-bg alarma"></div>
			<div class="derecha"><span>Enfoque del riesgo</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="3" data-pareja="6">
		<div class="cajita oculto" data-cajita="3">
			<div class="completo"><span>Es la obligación de dirigir las actividades del servicio a atender las necesidades primarias de la comunidad.</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="4" data-pareja="4">
		<div class="cajita oculto" data-cajita="4">
			<div class="izquierda fs-bg corazon"></div>
			<div class="derecha"><span>Humanización de la atención</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="5" data-pareja="2">
		<div class="cajita oculto" data-cajita="5">
			<div class="completo"><span>Establece los medios para proteger al paciente de riesgos evitables que se derivan de la atención en salud.</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="6" data-pareja="6">
		<div class="cajita oculto" data-cajita="6">
			<div class="izquierda fs-bg botiquin"></div>
			<div class="derecha"><span>Responsabilidad social empresarial</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="7" data-pareja="5">
		<div class="cajita oculto" data-cajita="7">
			<div class="completo"><span>Es la implementación de recursos tecnológicos que potencien los beneficios en el sistema de salud.</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="8" data-pareja="4">
		<div class="cajita oculto" data-cajita="8">
			<div class="completo"><span>Refiere a la formación de personal de la salud que provea un trato digno y humano al paciente.</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="9" data-pareja="1">
		<div class="cajita oculto" data-cajita="9">
			<div class="completo"><span>Es el establecimiento de tecnología, implementación y políticas que busquen gestionar los posibles riesgos.</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="10" data-pareja="5">
		<div class="cajita oculto" data-cajita="10">
			<div class="izquierda fs-bg vida"></div>
			<div class="derecha"><span>Gestión de la tecnología</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="11" data-pareja="3">
		<div class="cajita oculto" data-cajita="11">
			<div class="completo"><span>Refleja cómo, a pesar de las diferencias comportamentales individuales y colectivas, se genera una determinada forma de convivencia.</span></div>
		</div>
	</div>
	<div class="caja hoverable" data-caja="12" data-pareja="3">
		<div class="cajita oculto" data-cajita="11">
			<div class="izquierda fs-bg cuaderno"></div>
			<div class="derecha"><span>Cultura Organizacional</span></div>
		</div>
	</div>
</div>