<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Experiencia de aprendizaje 3</h2>
  <h3>Marco legal colombiano de la acreditación</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="contenedor">
  <div class="izquierdo fs-bg">
    <div class="abs-p fs-bg bandera hoverable click-me" data-bandera="1" data-n="1"></div>
    <div class="abs-p fs-bg bandera hoverable click-me" data-bandera="2" data-n="2"></div>
    <div class="abs-p fs-bg bandera hoverable click-me" data-bandera="3" data-n="3"></div>
    <div class="abs-p fs-bg bandera hoverable click-me" data-bandera="4" data-n="4"></div>
    <div class="abs-p fs-bg bandera hoverable click-me" data-bandera="5" data-n="5"></div>
  </div>
  <div class="derecho">
    <p class="oculto info" id="band1">Comienza por la ley 100 de 1993 que determina el sistema de calidad y garantías de la salud.</p>
    <p class="oculto info" id="band2">Decreto 2309 de 2002  (ministerio de salud) Reglamentó el sistema Obligatorio de calidad de atención en salud.</p>
    <p class="oculto info" id="band3">Resolución 1474 reglamentó los estándares aplicados para evaluar el proceso de acreditación.</p>
    <p class="oculto info" id="band4">Por medio de la Resolución 3557 del 19 de noviembre de 2003,  se designó a ICONTEC como entidad acreditadora.</p>
    <p class="oculto info" id="band5">Con la Resolución 3960 de 2008 se relaciona el Manual de estándares de acreditación para las direcciones territoriales de salud”.</p>
  </div>
</div>