<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Experiencia de aprendizaje 1</h2>
  <h3>Instituciones involucradas en el proceso de acreditación</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<audio id="audios">
  <source src="" type="audio/mp3">
	Your browser does not support the audio element.
</audio>

<div class="abs-p fs-bg pasillo">
	<p>INSTITUCIONES INVOLUCRADAS EN EL PROCESO DE ACREDITACIÓN</p>
	<div class="abs-p fs-bg hoverable click-me noColor opcion" data-opcion="1" data-n="1"></div>
	<div class="abs-p fs-bg hoverable click-me noColor opcion" data-opcion="2" data-n="2"></div>
	<div class="abs-p fs-bg hoverable click-me noColor opcion" data-opcion="4" data-n="3"></div>
	<div class="abs-p fs-bg hoverable click-me noColor opcion" data-opcion="3" data-n="4"></div>
</div>

<div class="titulo oculto" data-titulo="1" data-n="1"><span>Las entidades departamentales y distritales de salud</span></div>
<div class="titulo oculto" data-titulo="2" data-n="2"><span>Las entidades municipales de salud.</span></div>
<div class="titulo oculto" data-titulo="3" data-n="3"><span>El ministerio de protección social.</span></div>
<div class="titulo oculto" data-titulo="4" data-n="4"><span>La superintendencia nacional de salud</span></div>

<div class="abs-p fs-bg flecha oculto" data-flecha="1" data-n="1"></div>
<div class="abs-p fs-bg flecha oculto" data-flecha="2" data-n="2"></div>
<div class="abs-p fs-bg flecha oculto" data-flecha="3" data-n="3"></div>
<div class="abs-p fs-bg flecha oculto" data-flecha="4" data-n="4"></div>
