<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Actividad de aprendizaje 1</h2>
  <h3>¿Qué conozco acerca del Sistema Obligatorio de Garantía de la Calidad de la Salud?</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

{{!-- <div class="titulo"><span>¿Qué sé acerca del Sistema Obligatorio de
 garantía de la calidad de la salud?</span></div> --}}

 <div class="abs-p fs-bg avatar"></div>

 <div class="abs-p fs-bg fondo"></div>

 <p data-n="1">1.	Ubíquese conceptualmente con la siguiente pregunta  ¿Qué creo conocer acerca del Sistema Obligatorio de Garantía de Calidad de Salud?</p>
 <p data-n="2">2.	De acuerdo con lo que conoce, identifique los conceptos más relevantes que relacione con el sistema obligatorio de garantía de calidad de salud y con ellos elabore una infografía. Utilice para esto los recursos de apoyo.</p>
 <p data-n="3">3.	Descargue el infograma realizado en la herramienta canva como PDF o como imagen y compártalo en el aula virtual a través del botón “Enviar”.</p>

<a href="https://youtu.be/uGzVpZHWQzc" target="_blank">
  <div class="opcion button abs-p como hoverable click-me" >
   <span>¿Cómo usar Canva?</span>
 </div>
</a>

<a href="https://www.canva.com/es_co/" target="_blank">
  <div class="opcion button abs-p infografia hoverable click-me" >
   <span>ir a la herramienta Canva</span>
 </div>
</a>

<a class="enlace" href="" target="_blank">
  <div class="opcion button abs-p guardar hoverable click-me disabled">
     <span>Enviar</span>
  </div>
</a>

{{!-- <div class="button abs-p continuar hoverable click-me oculto">
  <span>Continuar</span>
</div> --}}