<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Experiencia de aprendizaje 2</h2>
  <h3>¿Qué es la acreditación en salud?</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="abs-p fs-bg consultorio noColor"></div>
<div class="abs-p fs-bg opcion tableta noColor hoverable click-me" data-opcion="1"></div>
<div class="abs-p fs-bg opcion luz noColor hoverable click-me" data-opcion="2"></div>
<div class="abs-p fs-bg opcion mueble noColor hoverable click-me" data-opcion="4"></div>
<div class="abs-p fs-bg opcion ventana noColor hoverable click-me" data-opcion="3"></div>

<div class="info oculto" data-info="1" data-n="1"><span>Los estándares de acreditación están fundamentados en el objetivo de fomentar el mejoramiento continuo de la calidad, y son ajustables cada cuatro años.</span></div>
<div class="info oculto" data-info="1" data-n="2"><span>Está particularmente diseñada para el sector salud.</span></div>
<div class="info oculto" data-info="2" data-n="3"><span>Una metodología de evaluación externa, establecida y reconocida desde hace aproximadamente 50 años en Norteamérica.</span></div>
<div class="info oculto" data-info="3" data-n="4"><span>Son ejecutada generalmente por una organización no gubernamental, que permite asegurar la entrega de servicios de salud seguros y de alta calidad.</span></div>
<div class="info oculto" data-info="4" data-n="5"><span>Está basada en requerimientos de procesos de atención en salud orientados a resultados y desarrollada por profesionales de la salud.</span></div>

