<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Experiencia de aprendizaje 2</h2>
  <h3>Actividad 2</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="botonera">
	<div class="fecha cafe flechas hoverable click-me" data-opcion="arriba" data-n="1"><span><i class="fa fa-angle-up"></i></span></div>
	<div class="fecha  fechita" data-fecha="1"><span>Siglo 1 a C</span></div>
	<div class="fecha  fechita" data-fecha="2"><span>1140</span></div>
	<div class="fecha  fechita" data-fecha="3"><span>1917</span></div>
	<div class="fecha  fechita" data-fecha="4"><span>1951</span></div>
	<div class="fecha visto activo fechita" data-fecha="5"><span>1959</span></div>
	<div class="fecha  fechita" data-fecha="6"><span>1980</span></div>
	<div class="fecha  fechita" data-fecha="7"><span>1985</span></div>
	<div class="fecha  fechita" data-fecha="8"><span>1995</span></div>
	<div class="fecha  fechita" data-fecha="9"><span>Actualidad</span></div>
	<div class="fecha cafe flechas hoverable click-me" data-opcion="abajo" data-n="2"><span><i class="fa fa-angle-down"></i></span></div>
</div>

<div class="pagina oculto" data-pagina="1">
	<h3>HISTORIA DE LA ACREDITACIÓN EN EL MUNDO</h3>
	<div class="fs-bg bandera"></div>
	<p class="pais">China e india</p>
	<p info>Creación e los primeros estándares de calidad en medicina.</p>
</div>
<div class="pagina oculto" data-pagina="2">
	<h3>HISTORIA DE LA ACREDITACIÓN EN EL MUNDO</h3>
	<div class="fs-bg bandera" data-n="2"></div>
	<p class="pais">Italia</p>
	<p info>Primera expedición de licencias médicas.</p>
</div>

<div class="pagina oculto" data-pagina="3">
	<h3>HISTORIA DE LA ACREDITACIÓN EN EL MUNDO</h3>
	<div class="fs-bg bandera" data-n="3"></div>
	<p class="pais">Estados Unidos</p>
	<p info>Creación del  American College of surgeons.</p>
</div>

<div class="pagina oculto" data-pagina="4">
	<h3>HISTORIA DE LA ACREDITACIÓN EN EL MUNDO</h3>
	<div class="fs-bg bandera" data-n="3"></div>
	<p class="pais">Estados Unidos</p>
	<p info>Creación de la comisión de acreditación para las organizaciones prestadores de salud.</p>
</div>

<div class="pagina" data-pagina="5">
	<h3>HISTORIA DE LA ACREDITACIÓN EN EL MUNDO</h3>
	<div class="fs-bg bandera" data-n="5"></div>
	<p class="pais">Canadá</p>
	<p info>Creación del consejo canadiense de acreditación de servicios de salud.</p>
</div>

<div class="pagina oculto" data-pagina="6">
	<h3>HISTORIA DE LA ACREDITACIÓN EN EL MUNDO</h3>
	<div class="fs-bg bandera" data-n="6"></div>
	<p class="pais">EU y Reino Unido</p>
	<p info>Adoptan políticas de calidad en el sector salud.</p>
</div>

<div class="pagina oculto" data-pagina="7">
	<h3>HISTORIA DE LA ACREDITACIÓN EN EL MUNDO</h3>
	<div class="fs-bg bandera" data-n="7"></div>
	<p class="pais">Europa</p>
	<p info>Creación de la sociedad internacional para la calidad de la salud.</p>
</div>

<div class="pagina oculto" data-pagina="8">
	<h3>HISTORIA DE LA ACREDITACIÓN EN EL MUNDO</h3>
	<div class="fs-bg bandera" data-n="8"></div>
	<p class="pais">Australia</p>
	<p info>Secretaría  internacional para la calidad de la salud.</p>
</div>

<div class="pagina oculto" data-pagina="9">
	<h3>HISTORIA DE LA ACREDITACIÓN EN EL MUNDO</h3>
	<div class="fs-bg bandera" data-n="9"></div>
	<p class="pais">Argentina, Francia, Sudáfrica y otros</p>
	<p info>Trabajan en acreditación en salud.</p>
</div>