<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Actividad de aprendizaje 2</h2>
  <h3>Evalúe la IPS</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="contenedor">
	<div class="izquierdo">
		<textarea placeholder="Fortaleza" data-respuesta="1"></textarea>
		<textarea placeholder="Debilidad" data-respuesta="2"></textarea>
		<textarea placeholder="Oportunidad" data-respuesta="3"></textarea>
		<textarea placeholder="Amenaza" data-respuesta="4"></textarea>
	</div>
	<div class="derecho">
		<a class="pdfAct2" href="dynamicPdf/pdfActividad2.php" target="_blank">
	        <div class="button hoverable click-me pdf">
	            <span>Descargar PDF</span>
	        </div>
	    </a>
		<a class="enlace" href="" target="_blank">
			<div class="button foro hoverable click-me">
				<span>Ir al foro</span>
			</div>
		</a>
	</div>
</div>