<div class="team-modal">
    <div class="close-button hoverable">
        <i class="fa fa-times"></i>
    </div>
    <div class="header">
        <div class="title">
            <h2>Equipo</h2>
        </div>
        <div class="icon">
            <i class="fa fa-cogs"></i>
        </div>
    </div>
    <div class="body">
        <section>
            <h3>Programadores</h3>
            <div class="person">
                <p>Christian Arias - Algo</p>
                <p>Christian Arias - Otro</p>
            </div>
            <div class="person">
                <p>Christian Arias - Algo</p>
                <p>Christian Arias - Otro</p>
            </div>
        </section>
        <section>
            <h3>Programadores</h3>
            <div class="person">
                <p>Christian Arias - Algo</p>
                <p>Christian Arias - Otro</p>
            </div>
        </section>
        <section>
            <h3>Programadores</h3>
            <div class="person">
                <p>Christian Arias - Algo</p>
                <p>Christian Arias - Otro</p>
            </div>
        </section>
    </div>
</div>