<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Actividad de aprendizaje 2</h2>
  <h3>Analice el servicio de una IPS</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="tabla" data-ani-class="shake" data-ani-delay="300">
	<div class="titulo" data-n=""><span>Manual</span></div>
	<textarea data-respuesta="1"></textarea>
</div>
<div class="tabla" data-ani-class="shake" data-ani-delay="600">
	<div class="titulo" data-n="2"><span>Percepción personal</span></div>
	<textarea data-respuesta="2" data-n="2"></textarea>
</div>
<div class="tabla" data-ani-class="shake" data-ani-delay="900">
	<div class="titulo" data-n="3"><span>Actividad de aprendizaje nº 1</span></div>
	<textarea data-respuesta="3" data-n="3"></textarea>
</div>

<div class="info" data-ani-class="pulse" data-ani-delay="1200"><span>Tomando como base los estándares del proceso de atención del cliente asistencial establecidos en el “Manual de acreditación en salud, ambulatorio y hospitalario”, secciones 1 al 74 (páginas 29 al 50), realice una comparación entre los diferentes aspectos mencionados en el manual, los anteriormente mencionados en la actividad de aprendizaje nº1 y su percepción personal  hubicando los puntos en común en el centro del diagrama y las diferencias en las zonas correspondientes.</span></div>

<a href="img/slide8Manual.pdf" target="_blank">
	<div class="fs-bg abs-p manual hoverable click-me">
	</div>
</a>

<div class="fs-bg abs-p foro hoverable click-me oculto">
</div>