<div class="fs-bg abs-p tabla" data-ani-class="bounce" data-ani-delay="300"></div>
<div class="fs-bg abs-p esteto" data-ani-class="bounce" data-ani-delay="700"></div>

<h2 data-ani-class="pulse" data-ani-delay="1100">ACTIVIDAD DE APRENDIZAJE 2</h2>
<h3 data-ani-class="pulse" data-ani-delay="1300"><i>Analice el servicio de una IPS</i></h3>
