<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Experiencia de aprendizaje 1</h2>
  <h3>En el siguiente panel identifique  la falla en la prestación del servicio  que aparezca en el relato.</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<audio id="correcto">
  <source src="" type="audio/wav">
	Your browser does not support the audio element.
</audio>

<audio id="incorrecto">
  <source src="" type="audio/wav">
	Your browser does not support the audio element.
</audio>

<div class="pagina " data-pagina="1">
	<div class="contenedor">
		<div class="caja">
			<div class="fs-bg escena hoverable click-me" data-escena="1" data-n="1"></div>
			<div class="texto oculto" data-texto="1"><span>Mercedes se acercó al hospital con fuertes contracciones, estaba a punto de tener su primer hijo.</span></div>
		</div>
		<div class="caja">
			<div class="fs-bg escena hoverable click-me" data-escena="2" data-n="2"></div>
			<div class="texto oculto" data-texto="2"><span>Ella y su esposo explicaron que la empresa donde él trabaja pagan cumplidamente. Después de indagar la persona acargo, mostrandose bastante molesta, informó que esta situación se  debía a un error del sistema.</span></div>
		</div>
		<div class="caja">
			<div class="fs-bg escena hoverable click-me" data-escena="3" data-n="3"></div>
			<div class="texto oculto" data-texto="3"><span>En la  sala de urgencias tuvo que esperar cerca de una hora antes de poder ser atendida, cuando por fin fue recibida  le dijeron que no podía entrar en observación ya que no había pagado el último més.</span></div>
		</div>
	</div>
</div>

<div class="pagina oculto" data-pagina="2">
	<div class="contenedor">
		<div class="caja">
			<div class="fs-bg escena hoverable click-me" data-escena="4" data-n="4"></div>
			<div class="texto oculto" data-texto="1"><span>Varias veces tuvo que hacer  fila ya que no se le indicaba la totalidad de documentos requeridos.</span></div>
		</div>
		<div class="caja">
			<div class="fs-bg escena hoverable click-me" data-escena="5" data-n="5"></div>
			<div class="texto oculto" data-texto="2"><span> Muchos de los datos que Mercedes había aportado en la afiliación no aparecían.</span></div>
		</div>
		<div class="caja">
			<div class="fs-bg escena hoverable click-me" data-escena="6" data-n="6"></div>
			<div class="texto oculto" data-texto="3"><span>Mientras Mercedes se encontraba en trabajo de parto, Javier su esposo tuvo que hacer los papéles para registrar al bebé y a la mamá  para poder facturar, los requerimientos eran tantos que tuvo que ausentarse largo tiempo.</span></div>
		</div>
	</div>
</div>

<div class="pagina oculto" data-pagina="3">
	<div class="contenedor">
		<div class="caja">
			<div class="fs-bg escena hoverable click-me" data-escena="7" data-n="7"></div>
			<div class="texto oculto" data-texto="1"><span>En la fila recordó el caso de don Alfonzo. Cuando estaba a punto de morir también tuvo que hacer muchos trámites y las opiniones del médico oncólogo que le atendía le causaban más dolor y no mejoraban su condición.</span></div>
		</div>
		<div class="caja">
			<div class="fs-bg escena hoverable click-me" data-escena="8" data-n="8"></div>
			<div class="texto oculto" data-texto="2"><span>La información que el doctor daba era tan baja que tuvieron que recurrir a exámenes externos, los medicamentos que le recetaban no estaban cubiertos de modo que la familia tuvo que pagar un largo y costoso tratamiento privado.</span></div>
		</div>
		<div class="caja">
			<div class="fs-bg escena hoverable click-me" data-escena="9" data-n="9"></div>
			<div class="texto oculto" data-texto="3"><span>El señor murió antes de que se reuniera la junta médica.  Definitivamente hay mucho que cambiar.</span></div>
		</div>
	</div>
</div>

<div class="cajaRespuestas oculto">
	<div class="respuesta hoverable click-me" data-respuesta="2"><span>DEMASIADOS TRÁMITES</span></div>
	<div class="respuesta hoverable click-me" data-respuesta="1"><span>ATENCIÓN DESPECTIVA</span></div>
	<div class="respuesta hoverable click-me" data-respuesta="2"><span>POBRE MANEJO DE LOS DATOS DEL USUARIO</span></div>
	<div class="respuesta hoverable click-me" data-respuesta="1"><span>IRREGULARIDAD EN LOS TRÁMITES</span></div>
	<div class="respuesta hoverable click-me" data-respuesta="2"><span>IRREGULARIDAD EN LA AFILIACIÓN</span></div>
	<div class="respuesta hoverable click-me" data-respuesta="3"><span>BAJA COMUNICACIÓN CON LA FAMILIA DEL PACIENTE</span></div>
	<div class="respuesta hoverable click-me" data-respuesta="2"><span>INFORMACIÓN INSUFICIENTE</span></div>
	<div class="respuesta hoverable click-me" data-respuesta="3"><span>RESTRICCIONES A LA LIBERTAD DEL USUARIO</span></div>
	<div class="respuesta hoverable click-me" data-respuesta="3"><span>RESTRICCIONES EN EL SUMINISTRO DE MEDICAMENTOS</span></div>
	<div class="respuesta hoverable click-me" data-respuesta="1"><span>TIEMPO DE ESPERA PROLONGADO</span></div>
	<div class="respuesta hoverable click-me" data-respuesta="3"><span>BAJO TRABAJO INTERDISCIPLINARIO</span></div>
</div>