<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Experiencia de aprendizaje 3</h2>
  <h3>Cantidades de estándares del proceso de atención asistencial por cada subgrupo</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="fs-bg abs-p paso hoverable click-me fuxia" data-paso="1" data-n="1"><span class="oculto">Estándar de mejoramiento<br>Cantidad: 1</span></div>
<div class="fs-bg abs-p paso hoverable click-me aguamarina oculto" data-paso="2" data-n="2"><span class="oculto">Salida y seguimiento<br>Cantidad: 2</span></div>
<div class="fs-bg abs-p paso hoverable click-me verde oculto" data-paso="3" data-n="3"><span class="oculto">Seguridad del paciente<br>Cantidad: 3</span></div>
<div class="fs-bg abs-p paso hoverable click-me verde oculto" data-paso="4" data-n="4"><span class="oculto">Registro e ingreso<br>Cantidad: 3</span></div>
<div class="fs-bg abs-p paso hoverable click-me verde oculto" data-paso="5" data-n="5"><span class="oculto">Evaluación de necesidades<br>Cantidad: 3</span></div>
<div class="fs-bg abs-p paso hoverable click-me oculto" data-paso="6" data-n="6"><span class="oculto">Derechos de los pacientes<br>Cantidad: 4</span></div>
<div class="fs-bg abs-p paso hoverable click-me oculto" data-paso="7" data-n="7"><span class="oculto">Evaluación de la atención<br>Cantidad: 4</span></div>
<div class="fs-bg abs-p paso hoverable click-me oculto" data-paso="8" data-n="8"><span class="oculto">Referencia y contrarreferencia<br>Cantidad: 6</span></div>
<div class="fs-bg abs-p paso hoverable click-me oculto" data-paso="9" data-n="9"><span class="oculto">Ejecución del tratamiento<br>Cantidad: 6</span></div>
<div class="fs-bg abs-p paso hoverable click-me oculto" data-paso="10" data-n="10"><span class="oculto">Acceso<br>Cantidad: 8</span></div>
<div class="fs-bg abs-p paso hoverable click-me oculto" data-paso="11" data-n="11"><span class="oculto">Sedes integradas en red<br>Cantidad: 16</span></div>
<div class="fs-bg abs-p paso hoverable click-me oculto" data-paso="12" data-n="12"><span class="oculto">Planeación de la atención<br>Cantidad: 18</span></div>

<div class="fs-bg abs-p flecha"></div>
<div class="fs-bg abs-p flecha oculto" data-flecha="7" data-n="2"></div>