@import "./variables";

@font-face {
    font-family: 'BebasNeue';
    src: url('assets/fonts/BebasNeue.ttf');
}

@font-face {
    font-family: 'FFBold';
    src: url('assets/fonts/FFDINPro-Bold.ttf');
}

@font-face {
    font-family: 'FFLight';
    src: url('assets/fonts/FFDINPro-Light.ttf');
}

@font-face {
    font-family: 'FFThin';
    src: url('assets/fonts/FFDINPro-Thin.ttf');
}

@font-face {
    font-family: 'FFBoldCond';
    src: url('assets/fonts/FFDINProCond-Bold.ttf');
}

@font-face {
    font-family: 'FFBoldLight';
    src: url('assets/fonts/FFDINProCond-Light.ttf');
}

@font-face {
    font-family: 'FFRegular';
    src: url('assets/fonts/FFDINProCond-Regular.ttf');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('assets/fonts/MyriadPro-Regular.ttf');
}

@font-face {
    font-family: 'wingding';
    src: url('assets/fonts/wingding.ttf');
}

@font-face {
    font-family: 'Wingdings-Regular';
    src: url('assets/fonts/Wingdings-Regular.ttf');
}

img{
    width:100%;
}

img{
    width:100%;
}

html{
}

body{
    font-size:12px;
    font-family:'MyriadPro-Regular';
}
h2{
    font-family:'FFBold';
    font-size:20px;
    font-weight:100;
    text-align:center;
    color:darken($base, 15%);
}
p{
    font-size:20px;
    color:darken($base, 15%);
    font-family:'MyriadPro-Regular';
}

@page {
    margin: 100px 25px;
}

header {
    position: fixed;
    top: -60px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color:$base;
    padding:10px;
}

footer {
    position: fixed;
    bottom: -60px;
    left: 0px;
    right: 0px;
    font-size:12px;
    font-family:'FFBoldCond';
    text-align: center;
    background-color:$base;
    color:#FFFFFF;
    padding:10px;
} 

header h1{
    font-family:'FFBoldCond';
    font-size:20px;
    font-weight:100;
    margin:0;
    padding:0;
    text-align: left;
    color:darken($base, 15%);
    padding-left:80px;
}

header h2{
    font-family:'FFBoldCond';
    font-size:16px;
    font-weight:100;
    margin:0;
    padding:0;
    text-align: left;
    color:#FFFFFF;
    padding-left:80px;
}

#esap-logo{
    position:absolute;
    width:60px;
}

.question-text{
    font-family:'FFLight';
    color:darken($base, 15%);
    font-size:16px;
}

.answer-text{
    font-family:'FFLight';
    color:darken($base, 15%);
    font-size:16px;
    margin-left:16px;
    background-color:#dfe5e9;
    padding:5px;
}

.date{
    font-family:'FFLight';
    color:#545454;
    text-align:right;
    font-size:8px;
}

.date p{
    font-size:12px;
}

.date b{
    font-family:'FFLight';
    font-weight:inherit;
}

.quiz-title{
    font-family:'FFLight';
    margin:0 18px 0 10px;
    padding:0;
    font-size:24px;
}

.activity-text {
    padding: 10px 20px;
    font-family: 'FFLight';
    font-size: 1.7em;
    background-color: $base;
    color: #FFFFFF;
    font-weight:100;
}

table{
    width:100%;
    page-break-after: always;
}

table thead th {
    background-color: darken($base, 20%);
    padding: 10px;
}

table thead th span {
    font-family: 'FFLight';
    font-size: 1.2em;
    font-weight:100;
    color: #FFFFFF;
}

table tbody td {
    padding: 10px;
}

table tbody td span {
    font-family: 'FFLight';
    font-size: 1.4em;
    color: #FFFFFF;
}

table tbody td:nth-of-type(even) {
    background-color: $base;
}

table tbody td:nth-of-type(odd) {
    background-color: lighten($base, 5%);
}


table:last-of-type{
    page-break-after: never;
}

.graphic{
    width:100%;
    margin-top:20px;
}