@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';
body[data-current-slide-class="slide6"] #wrapper {
  background-color: $baseDark;
  // background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev ,  .navigation-buttons > .next{
    display: none!important;
}
}
#{$slide} {
  background-color: #BDF7FF;
  text-align: center;
  .title-slide{
    color: $baseDark;
    position: absolute;
    h2{
      border-color: $baseDark;
    }
  }

  a{
    text-decoration: none;
  }
  .cont-inst{
    width: 60%;
    height: 78%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 7%;
    .inst{
      width: 100%;
      height: 33%;
      padding: 1%;
      padding-left: 10%;
      background: url(../img/2/piso-modal.png)no-repeat 50% 100%;
      background-size: 100%;
      position: relative;
      padding-top: 4%;
      p{
        margin: 0;
        padding: 0;
        color: $base;
        font-size: 1.9em;
        line-height: 1.2em;
      }
      .inst-number{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: solid $baseDark 5px;
        left: -2%;
        top: 57%;
        font-size: 5em;
        font-family: 'FFCondBold';
        background: $baseComplement;
        color: $baseDark;

      }
      &[data-inst="1"]{
        animation-delay: 1s;
      }
      &[data-inst="2"]{
        animation-delay: 2s;
      }
      &[data-inst="3"]{
        animation-delay: 3s;
      }
    }
  }

  .cont-instdos{
    width: 25%;
    height: auto;
    padding: 1%;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2%;
    margin-left: 5%;
    background: rgba($baseDark , $alpha:0.8);
    border: solid white 4px;
    box-shadow: 0 0 30px black  , 0 0 15px black inset;

  }
  .button{
    position: relative;
    margin-top: 8%;
  }

  .btn_cont_S6{
    position: absolute!important;
    right:7%;
    top:70%;

  }


}
