@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
   background-color: $baseDark;
  // background-image: url('../img/1/background-uno.jpg');
}

#{$slide} {
   background-color: #BDF7FF;
  // background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  padding-top: 1%;

  .cont-exp{
    width: 27%;
    height: 20%;
    position:absolute;
    bottom: 15%;
    left: 12%;
    background: url(../img/1/piso.png)no-repeat 50% 100%;
    &[data-exp="2"]{
      bottom: 40%;
      left: 65%;
      .cont-star{
        left: 20%;
      }
    }
    &[data-exp="3"]{
      bottom:60%;
      left: 10%;
    }
    .icon-exp{
      width: 80%;
      height: 160%;
      animation-iteration-count: infinite;
      position: absolute;
      background: url(../img/1/icon-exp-1.png)no-repeat 50%;
      right: -70%;
      top: -20%;
      &[data-iconexp="2"]{
        width: 89%;
        height: 200%;
        left: -65%;
        top: -42%;
        background: url(../img/1/icon-exp-2.png)no-repeat 50%;
        animation-duration: 2s;
      }
      &[data-iconexp="3"]{
        width: 82%;
        height: 200%;
        top: -60%;
        background: url(../img/1/icon-exp-3.png)no-repeat 50%;
        animation-duration: 1.8s;
      }
    }
    .cont-star{
      width: 50%;
      height: 40%;

      position: absolute;
      right: 0;
      top: 20%;
      text-align: left;
      img{
        display: inline-block;
        vertical-align: top;
        transition: all 0.3s ease-out;
        filter: drop-shadow(0 0 5px black);
        &:hover{
          filter: drop-shadow(0 0 10px black);
          cursor: pointer;
          transform: scale(1.2) translateY(-10px);
        }
      }


    }
    .icon-actividad{
      width: 50%;
      height: 90%;
      animation-iteration-count: infinite;
      position: absolute;
      top: -20%;
      left: 0;
      background: url(../img/1/icon-act-1.png)no-repeat 50%;
      &[data-actividad="2"]{
        left: 40%;
        background: url(../img/1/icon-act-2.png)no-repeat 50%;
      }
      &[data-actividad="3"]{
        background: url(../img/1/icon-act-3.png)no-repeat 50%;
      }
      &:hover{
        filter: drop-shadow(0 0 10px black);
        transform:translateY(-10px);
        cursor: pointer;
      }
    }

  }
  .nube{
    position: absolute;
    width: 15%;
    height: 18%;
    background: url(../img/1/nube-1.png)no-repeat 50%;
    top: 10%;
    left: -30%;
    animation-name: animanube;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &[data-nube="2"]{
    background: url(../img/1/nube-2.png)no-repeat 50%;
    top: 70%;
    animation-duration: 25s;
    }
    &[data-nube="3"]{
    background: url(../img/1/nube-2.png)no-repeat 50%;
    background-size: 50%;
    top: 50%;
    animation-delay: 10s;
    }
    &[data-nube="4"]{
    background: url(../img/1/nube-1.png)no-repeat 50%;
    background-size: 50%;
    top: 30%;
    animation-duration: 20s;
    animation-delay: 4s;
    }
  }

  @keyframes animanube {
    0%{left: -30%;}
    100%{left: 100%;}
  }

}
