@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5"]';
body[data-current-slide-class="slide5"] #wrapper {
  background-color: #EAEBED;
  // background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  .cont-item-s5{
    width: 32%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    h2{
      margin: 0;
      padding: 0;
    }
    .title-item{
      width: 50%;
      height: 160px;
      margin: 0 auto;
      border: solid white 3px;
      border-top: none;
      box-shadow: 0 0 10px black inset;
      background: linear-gradient(gray, white);
      padding: 5%;
      border-radius: 0 0 50px 50px;
      margin-top: 5%;
      h2{
        font-family: 'century';
        font-weight: bold;
        font-size: 1.8em;
        color: #1B1464;
      }
      .button-item{
        width: 60px;
        height: 60px;
        margin: 0 auto;
        position: relative;
        border-radius: 50%;
        top:20%;
        background: url(../img/5/btn-1.png)no-repeat 50%;
        background-size: 100%;
        box-shadow: 0 0 20px black;
        &:hover{
          cursor: pointer;
          transform: scale(1.2);
        }
      }

    }
    .info-item{
      width: 100%;
      height: auto;
      padding: 5%;
      display: none;
      li{
        font-family: 'FFCondRegular';
        padding: 1%;
        list-style: none;
        font-size: 2.2em;
        line-height: 1.2em;
        border-radius: 30px;
        margin: 1%;
        height: 0%;
        background: linear-gradient(#62007F, #34007F);
        user-select: none;
      }
    }
    &[data-contitem="2"]{
      .title-item{
        h2{
          color: #D4145A;
        }
        .button-item{
          background: url(../img/5/btn-2.png)no-repeat 50%;
                  background-size: 100%;
        }
      }
      .info-item{
        li{
        background: linear-gradient(#D4145A, #70012F);
        }
      }
    }

    &[data-contitem="3"]{
      .title-item{
        h2{
          color: #003510;
        }
        .button-item{
          background: url(../img/5/btn-3.png)no-repeat 50%;
                  background-size: 100%;
        }
      }
      .info-item{
        li{
        background: linear-gradient(#00A332, #003510);
        }
      }
    }
  }
  .btn_cont_S5{
    top: 10%;
    display: none;
  }
}
