@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2"]';

body[data-current-slide-class="slide2"]{
    background-image:url(../img/1/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide2"] #wrapper {
    background-color:rgba(114, 64, 141, 0.5);

    .navigation-buttons{
        .prev{
            display:none;
        }

        .next{
            top:22%;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }
    [data-id-in-slide="tf70y8"]{
        position:absolute;
        width:28.16945174821774%;
        height:75.19961289088786%;
        left:71.749375%;
        top:18.86%;
        background-image:url('../img/1/23.png');
        z-index:1;
    }
    
    [data-id-in-slide="rnxeb"]{
        position:absolute;
        width:33.636989054416745%;
        height:69.36652284932809%;
        left:1.25325625%;
        top:25.569111111111113%;
        background-image:url('../img/1/25.png');
        z-index:1;
    }
    
    [data-id-in-slide="7xk8v"]{
        position:absolute;
        width:67.61833591384169%;
        height:53.36198562889047%;
        left:25.7628125%;
        top:37.56654434750378%;
        background-image:url('../img/1/24.png');
    }
    
}

.swal2-modal{
    &.slide2Modal{
      display: flex;
      width: 100% !important;
      /* height: 100%; */
      padding: 100px 100px 100px 200px !important;
      background-color:rgba(0, 0, 0, 0.85);
  
      h1{
        font-size:3em;
        text-align:left;
      }
  
      h2{
        color:#FFFFFF;
        font-size:2.2em;
        text-align: left;
        font-family: FFLight;
      }
  
      hr{
        width: 65%;
        margin-left: 35%;
        border-top: 3px #FFFFFF dashed;
      }
    }
  }