@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="10"]';

body[data-current-slide-class="slide10"]{
    background-image:url(../img/1/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide10"] #wrapper {
    background-color:rgba(114, 64, 141, 0.5);

    .navigation-buttons{
        .prev{
            top:6%;
        }
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .paragraph-container{
        background-color: #E8C377;
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;
        padding: 20px;
        box-shadow: 22px 38px 0px rgba(0, 0, 0, 0.5);
        max-height:70%;
        overflow-y:auto;

        .content{
            color: #2E1D02;
            font-family: FFLight;
            font-size:2.2em;

            b{
                min-width:100px;
                //background-color:#FFFFFF;
                border-bottom:solid 1px #2E1D02;
                transition:all 0.35s ease;

                &:hover{
                    background-color:rgba(0, 0, 0, 0.4);
                    cursor:pointer;
                }
            }
        }
    }
    
    .button.finish{
        position:absolute;
        left:48%;
        top:81%;
    }
}
