@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="8"]';

body[data-current-slide-class="slide8"]{
    background-image:url(../img/1/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide8"] #wrapper {
    background-color:#009BDB;

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
    }
    
    h1{
        font-family: FFBold;
        text-align: center;
        font-size:3em;
        position:relative;
        z-index:20;
    }

    .content{
        width: 90%;
        margin-left: 5%;
        /* margin-top: 0%; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        position:relative;
        z-index:10;

        .item{
            width:25%;
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .icon{
                width:85%;
                height:400px;
                background-size:contain;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                transition: all 0.35s ease;

                &:hover{
                    cursor:pointer;
                    transform:scale(1.1);
                }

                &:active{
                    transition:none;
                    transform: scale(1);
                }
            }

            span{
                font-family: FFBold;
                font-size:2.4em;
                color:#FFFFFF;
                text-align: center;
                margin-top:15px;
            }

            &[data-id="0"]{
                .icon{
                    background-image:url(../img/1/20.png);
                }
            }

            &[data-id="1"]{
                .icon{
                    background-image:url(../img/1/21.png);
                }
            }

            &[data-id="2"]{
                .icon{
                    background-image:url(../img/1/22.png);
                }
            }
            
        }
    }

    .background-image{
        position: absolute;
        width: 65%;
        right: 0;
        bottom: 0;
        height: 89%;
        background-image: url(../img/1/19.png);
        background-size: contain;
        background-position: 100% 100%;
        background-repeat: no-repeat;
    }
}


.swal2-modal{
    &.slide8Modal0{
        display: flex;
        width: 100% !important;
        /* height: 100%; */
        padding: 100px 100px 100px 200px !important;
        background-color:rgba(0, 0, 0, 0.85);

        h2{
            color:#FFFFFF;
        }

        .icon{
            width:100%;
            height: 300px;
            background-size: contain;
            background-image:url(../img/1/20.png);
            background-repeat: no-repeat;
            background-position: 50% 100%;
        }
    }

    &.slide8Modal1,
    &.slide8Modal1-1{
        display: flex;
        width: 100% !important;
        /* height: 100%; */
        padding: 100px 100px 100px 200px !important;
        background-color:rgba(0, 0, 0, 0.85);

        h2{
            color:#FFFFFF;
        }

        .icon{
            width:100%;
            height: 300px;
            background-size: contain;
            background-image:url(../img/1/21.png);
            background-repeat: no-repeat;
            background-position: 50% 100%;
        }
    }

    &.slide8Modal2{
        display: flex;
        width: 100% !important;
        /* height: 100%; */
        padding: 100px 100px 100px 200px !important;
        background-color:rgba(0, 0, 0, 0.85);

        h2{
            color:#FFFFFF;
        }

        .icon{
            width:100%;
            height: 300px;
            background-size: contain;
            background-image:url(../img/1/22.png);
            background-repeat: no-repeat;
            background-position: 50% 100%;
        }
    }
}