@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';

body[data-current-slide-class="slide6"]{
    background-image:url(../img/1/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide6"] #wrapper {
    background-color:rgba(114, 64, 141, 0.66);
}

#{$slide} {
    [data-id-in-slide="tf70y8"]{
        position:absolute;
        width:28.16945174821774%;
        height:75.19961289088786%;
        left:71.749375%;
        top:18.86%;
        background-image:url('../img/1/23.png');
        z-index:1;
    }

    .video{
        width: 80%;
        margin-left:10%;
        height:50%;
        margin-top:10px;
    }
}
