<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Actividad de aprendizaje 3</h2>
  <h3>¿Qué sé acerca del Sistema Obligatorio de
 garantía de la calidad de la salud?</h3>
</div>
<!--<div class="button hoverable button-continuar escondido fs-bg" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>-->
<div data-id-in-slide="tf70y8" class="fs-bg"></div>
<div data-id-in-slide="rnxeb" class="fs-bg"></div>
<div data-id-in-slide="7xk8v" class="fs-bg"></div>