<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Estándares del proceso de mejoramiento de la calidad. </h2>
  <h3>Sistema único de acreditación </h3>
</div>
<!--<div class="button hoverable button-continuar escondido fs-bg animated bounceInLeft" data-ani-class="bounceInLeft">
  <span>Continuar Explorando</span>
</div>-->
<div class="content">
  <div class="_row" data-id="0">
    <div class="icon click-me">
      <div>
        <span><b>1.</b> Lea y analice</span>
      </div>
    </div>
    <div class="inner-content disabled">
      <a href="http://revistasojs.unilibrecali.edu.co/index.php/rcso/article/view/115/123" target="_blank">
        <h2>Artículo: Reducción de Accidentalidad en Manos con el ciclo PHVA</h2>
      </a>
    </div>
  </div>
  <div class="_row" data-id="1">
    <div class="icon disabled">
      <div>
        <span><b>2.</b> Imagine y represente</span>
      </div>
    </div>
    <div class="inner-content disabled">
      <a href="https://www.youtube.com/watch?v=OBYXSpZGVog" target="_blank">
        <div class="_button hoverable">
          <span>¿Cómo elaborar mapas mentales?</span>
        </div>
      </a>
      <a href="https://www.draw.io" target="_blank">
        <div class="_button hoverable">
          <span>Herramienta para elaborar mapas mentales </span>
        </div>
      </a>
      <a href="{{courseActivities.forum.0.href}}" target="_blank">
        <div class="_button hoverable">
          <span>Envíar mi mapa</span>
        </div>
      </a>
    </div>
  </div>
  <div class="_row" data-id="2">
    <div class="icon disabled">
      <div>
        <span><b>3.</b> Argumente y escriba</span>
      </div>
    </div>
    <div class="inner-content disabled">
      <textarea placeholder="Usando los conceptos del cofre. Escriba aquí en máximo 500 palabras la importancia que representa el mejoramiento continuo de una institución y mencione las consideraciones para un resultado positivo."></textarea>
    </div>
  </div>
  <div class="_row" data-id="3">
    <div class="inner-content">
      <div class="button hoverable finish disabled">
        <span>Crear y enviar</span>
      </div>
    </div>
  </div>
</div>