<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
	<div class="activity-icon">
		<div class="icon">
			<i class="fa fa-check" aria-hidden="true"></i>
		</div>
	</div>
	<h2>Estándares del proceso de mejoramiento de la calidad</h2>
	<h3>Ciclo de Deming o Ciclo PHVA de mejoramiento continuo</h3>
</div>
<!--<div class="button hoverable button-continuar escondido fs-bg animated bounceInLeft" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>-->
<div data-id-in-slide="tf70y8" class="fs-bg"></div>
<div data-id-in-slide="x0fijc" class="fs-bg text" data-id="1">
	<h1>PLANEAR</h1>
</div>
<div data-id-in-slide="pjo8r" class="fs-bg text" data-id="2">
	<h1>HACER</h1>
</div>
<div data-id-in-slide="ddld4g" class="fs-bg text" data-id="3">
	<h1>ACTUAR</h1>
</div>
<div data-id-in-slide="1yej7p" class="fs-bg text" data-id="4">
	<h1>VERIFICAR</h1>
</div>
<div data-id-in-slide="3z1v4h" class="fs-bg piece"></div>
<div data-id-in-slide="wleut" class="fs-bg piece"></div>
<div data-id-in-slide="qsg0bk" class="fs-bg piece"></div>
<div data-id-in-slide="yyzyk" class="fs-bg piece"></div>
<div data-id-in-slide="zzih6n" class="fs-bg piece"></div>
<div data-id-in-slide="jghfel" class="fs-bg piece"></div>