<div data-id-in-slide="cwdpsd" class="fs-bg"></div>
<div data-id-in-slide="9h6svx" class="fs-bg"></div>
<div data-id-in-slide="m3s39" class="fs-bg"></div>
<div data-id-in-slide="a6elbc" class="fs-bg"></div>
<div data-id-in-slide="c0u9cb" class="fs-bg"></div>
<div data-id-in-slide="r02mh" class="fs-bg"></div>
<div data-id-in-slide="o74fzo" class="fs-bg"></div>
<div data-id-in-slide="63w93s" class="fs-bg"></div>
<div data-id-in-slide="5mb51w" class="fs-bg"></div>
<a _href="dynamicPdf/pdf.php" target="_blank" data-activity="Actividad 1" class="disabled">
  <div class="icon" title="Descargar nuevamente las respuestas de la Actividad 1">
    <i class="fa fa-download"></i>
  </div>
</a>

<a _href="dynamicPdf/pdf.php" target="_blank" data-activity="Actividad 3" class="disabled">
  <div class="icon" title="Descargar nuevamente las respuestas de la Actividad 3">
    <i class="fa fa-download"></i>
  </div>
</a>

<div data-id-in-slide="rtpoek" class="fs-bg pointer hover-me">
  <div class="circle"></div>
  <div class="number">1</div>
  <div class="triangle"></div>

  <div class="experience-menu" data-id="0">
    <h2 class="title">Experiencia 1</h2>
    <div class="black-square" data-id="0" data-switch-to-slide="2">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 1</h2>
    </div>
    <div class="black-square disabled" data-id="1"  data-switch-to-slide="4">
      <div class="icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <span>Estándares del proceso de mejoramiento de la calidad</span>
    </div>
    <div class="black-square disabled" data-id="2">
      <div class="icon">
        <span>14</span>
      </div>
      <span>14 puntos clave para la mejora continua.</span>
    </div>
  </div>
</div>
<div data-id-in-slide="rzsdt" class="fs-bg pointer disabled">
  <div class="circle"></div>
  <div class="number">2</div>
  <div class="triangle"></div>
  <div class="experience-menu" data-id="1">
    <h2 class="title">Experiencia 2</h2>
    <div class="black-square disabled" data-id="0">
      <div class="icon">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
      </div>
      <span>Tema 2. Estándares del proceso de mejoramiento de la calidad. Sistema único de acreditación</span>
    </div>
    <div class="black-square disabled" data-id="1" data-switch-to-slide="7">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 2</h2>
    </div>
  </div>
</div>
<div data-id-in-slide="js94t" class="fs-bg pointer disabled">
  <div class="circle"></div>
  <div class="number">3</div>
  <div class="triangle"></div>
  <div class="experience-menu" data-id="2">
    <h2 class="title">Experiencia 3</h2>
    <div class="black-square disabled" data-id="0" data-switch-to-slide="8">
      <div class="icon">
        <i class="fa fa-info" aria-hidden="true"></i>
      </div>
      <span>Resumen de la unidad</span>
    </div>
    <div class="black-square disabled" data-id="1" data-switch-to-slide="9" title="Esta actividad prueba su proceso de aprendizaje, antes de realizarla le recomendamos explorar todos los recursos.">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 3</h2>
    </div>
  </div>
</div>