<div class="title-slide" data-ani-class="bounceInRight">
  <h2>TEMA 1</h2>
  <h3>GENERALIDADES DE LOS ESTÁNDARES DE ACREDITACIÓN</h3>
</div>
<div class="button hoverable button-continuar" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="cont-button-item">
    <li data-li-item="1" class="animated see-item disabled"></li>
    <li data-li-item="2" class="animated tada"></li>
    <li data-li-item="3"></li>
    <li data-li-item="4"></li>
    <li data-li-item="5"></li>
    <li data-li-item="6"></li>
    <li data-li-item="7"></li>
    <li data-li-item="8"></li>
    <li data-li-item="9"></li>
</div>
<div class="cont-item" data-cont-item="1">
    <img src="img/3/slide3_item_1.png" alt="">
    <div class="text-item">
        <p>La acreditación en salud, debe ser abordada como un proceso ordenado y sistemático de transformación de la cultura organizacional, de modo que todas sus acciones de transformación se lleven a cabo en el corto o inmediato plazo.</p>
    </div>
</div>

<div class="cont-item item-disabled" data-cont-item="2">
    <img src="img/3/slide3_item_2.png" alt="">
    <div class="text-item">
        <p><span>Grupo de estándares del proceso de atención al cliente asistencial.</span> Cada grupo de estándares tiene su esencia y su intencionalidad específica. En el caso de este grupo, lo que se busca es garantizar la mejor prestación de los servicios de salud, teniendo como eje fundamental a los pacientes como afiliados y usuarios del sistema de salud</p>
    </div>
</div>

<div class="cont-item item-disabled" data-cont-item="3">
    <img src="img/3/slide3_item_3.png" alt="">
    <div class="text-item">
        <p><span>Grupo de estándares de direccionamiento.</span>El grupo de direccionamiento hace referencia a la alineación, la coherencia y la objetividad de la organización respecto a su plataforma estratégica y su plan estratégico, lo cual debe ser de conocimiento de todos y cada uno de los empleados de la organización, para que así, de manera conjunta, actúen en el cumplimiento de sus objetivos.</p>
    </div>
</div>

<div class="cont-item item-disabled" data-cont-item="4">
    <img src="img/3/slide3_item_4.png" alt="">
    <div class="text-item">
        <p><span>Grupo de estándares de gerencia </span>
Este grupo se enfoca en priorizar y garantizar que se cuente con los recursos físicos, financieros y de talento humano necesarios para cumplir con los objetivos estratégicos y de mejoramiento propuestos por la institución, velando por la protección y optimización de dichos recursos.
</p>
    </div>
</div>

<div class="cont-item item-disabled" data-cont-item="5">
    <img src="img/3/slide3_item_5.png" alt="">
    <div class="text-item">
     <p><span>Grupo de estándares de gerencia del talento humano.</span>
Este grupo se enfoca primordialmente en el mejoramiento de las competencias, las habilidades y las condiciones de salud del talento humano con el que cuenta la institución, y en el diseño de los futuros talentos que se requieran para suplir los servicios y brindar los recursos necesarios para mejorar el desempeño</p>
    </div>
</div>

<div class="cont-item item-disabled" data-cont-item="6">
    <img src="img/3/slide3_item_6.png" alt="">
    <div class="text-item">
        <p><span>Grupo de estándares de gerencia del ambiente físico.</span>
Los estándares de ambiente físico, como su nombre lo indica, garantizan que se cuenten con los recursos físicos, tecnológicos y de infraestructura necesarios para brindar una atención en ambientes humanizados y con las condiciones técnicas que respondan a las necesidades de los clientes internos y externos
</p>
    </div>
</div>
<div class="cont-item item-disabled" data-cont-item="7">
    <img src="img/3/slide3_item_7.png" alt="">
    <div class="text-item">
        <p><span>Grupo de estándares de gestión de tecnología.</span>
La intencionalidad del grupo de gestión de tecnología es garantizar la gestión e innovación de los equipos biomédicos, medicamentos, dispositivos médicos y nuevas tecnologías asistenciales, cumpliendo con el eje de seguridad del paciente en el uso de tecnologías, y mejorando la gestión de tecnovigilancia y farmacovigilancia de la institución (Ministerio de la Protección Social, 2011).
</p>
    </div>
</div>
<div class="cont-item item-disabled" data-cont-item="8">
    <img src="img/3/slide3_item_8.png" alt="">
    <div class="text-item">
        <p><span>Grupo de estándares de gerencia del ambiente físico.</span>
este grupo de estándares se centra en el manejo integral de este recurso, de manera que pueda garantizar la confiabilidad y seguridad de los sistemas de información evaluándolos constantemente, para mejorar la calidad de la información que genera la organización (Ministerio de la Protección Social, 2011).
</p>
    </div>
</div>
<div class="cont-item item-disabled" data-cont-item="9">
    <img src="img/3/slide3_item_9.png" alt="">
    <div class="text-item">
        <p><span>Grupo de estándares de mejoramiento de la calidad.</span>
La mayoría de los sistemas de gestión están basados en el mejoramiento continuo, y el Sistema Único de Acreditación en Salud puede entenderse como un sistema de gestión de los procesos de atención en salud, por lo cual también requiere de los procesos de mejora continua.</p>
    </div>
</div>
