<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>ACTIVIDAD 2 - Parte 1 de 3</h2>
  <h3>Aplique sus conocimientos. Complete el siguiente cuadro y avance en la actividad.</h3>
</div>
<!-- <div class="button hoverable button-finish"><span>Finalizar</span></div> -->
<h2>CUADRO COMPARATIVO</h2>
<div class="cuadro">
  <div class="item-colum">
    <h2>PROCESO DE VERIFICACIÓN DEL CUMPLIMIENTO DE LOS ESTÁNDARES DE HABILITACIÓN</h2>
    <div class="item-drop" data-drop="0" data-posicion="0" ></div>
    <div class="item-drop" data-drop="0" data-posicion="1" ></div>
    <div class="item-drop" data-drop="0" data-posicion="2" ></div>
    <div class="item-drop" data-drop="0" data-posicion="3" ></div>
    <div class="item-drop" data-drop="0" data-posicion="4" ></div>
    <div class="item-drop" data-drop="0" data-posicion="5" ></div>
    <div class="item-drop" data-drop="0" data-posicion="6" ></div>
    <div class="item-drop" data-drop="0" data-posicion="7" ></div>
  </div>

  <div class="item-colum">
    <h2>ESTÁNDARES DE ACREDITACIÓN</h2>
    <br><br>
    <div class="item-drop" data-drop="1" data-posicion="8"></div>
    <div class="item-drop" data-drop="1" data-posicion="9"></div>
    <div class="item-drop" data-drop="1" data-posicion="10"></div>
    <div class="item-drop" data-drop="1" data-posicion="11"></div>
    <div class="item-drop" data-drop="1" data-posicion="12"></div>
    <div class="item-drop" data-drop="1" data-posicion="13"></div>
    <div class="item-drop" data-drop="1" data-posicion="14"></div>
    <div class="item-drop" data-drop="1" data-posicion="15"></div>
  </div>

  <div class="item-colum cont-textarea cont-textarea-inactiv">
    <h2>ELEMENTOS EN COMÚN</h2>
    <br><br>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
  </div>
</div>

<div class="contDrag">
  <div class="item-drag" data-dragitem="0" data-drag="1">Grupo de estándares del proceso de atención al cliente asistencial</div>
  <div class="item-drag" data-dragitem="1" data-drag="0">Procesos Prioritarios</div>
  <div class="item-drag" data-dragitem="2" data-drag="0">Dotación</div>
  <div class="item-drag" data-dragitem="3" data-drag="1">Grupo de estándares de gerencia del ambiente físico</div>
  <div class="item-drag" data-dragitem="4" data-drag="0">Dispositivos médicos</div>
  <div class="item-drag" data-dragitem="5" data-drag="1">Grupo de estándares de gerencia de la información</div>
  <div class="item-drag" data-dragitem="6" data-drag="0">Historia Clínica y Registros.</div>
  <div class="item-drag" data-dragitem="7" data-drag="1">Grupo de estándares de gerencia</div>
  <div class="item-drag" data-dragitem="8" data-drag="1">Grupo de estándares de direccionamiento</div>
  <div class="item-drag" data-dragitem="9" data-drag="0">Infraestructura</div>
  <div class="item-drag" data-dragitem="10" data-drag="0">Talento Humano</div>
  <div class="item-drag" data-dragitem="11" data-drag="1">Grupo de estándares de gestión de tecnología</div>
  <div class="item-drag" data-dragitem="12" data-drag="1">Grupo de estándares de mejoramiento de la calidad</div>
  <div class="item-drag" data-dragitem="13" data-drag="0">Medicamentos</div>
  <div class="item-drag" data-dragitem="14" data-drag="0">Interdependencia</div>
  <div class="item-drag" data-dragitem="15" data-drag="1">Grupo de estándares de gerencia del talento humano</div>
</div>
