@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';
body[data-current-slide-class="slide6"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev ,   .navigation-buttons > .next{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  .title-slide{
    margin-top: -1%;
  }
  .btn_cont_S5{
    top: 15%!important;
    visibility: hidden;
  }
  .cont-disc{
    width: 80%;
    height: 72%;
    margin: 0 auto;
    position: relative;

    .disc{
      position: absolute;
      transition: all 0.3s ease-out;
      cursor: pointer;
      audio{
        position: absolute;
        top: 100%;
        left: -5%;
        box-shadow: 0 15px 40px 2px rgba(0,0,0,0.5);
        border-radius: 30px;
        display: none;

      }
      img{
        display: none;
      }
      h2{
          font-family: 'FFBold';
          margin: 0;
          padding: 0;
          font-size: 2.5em;
          position: absolute;
          width: 100%;
          text-align: center;
      }
      &[data-disc="1"]{
        top: 35%;
        left: 42%;
      }
      &[data-disc="2"]{
        top: 55%;
        left: 75%;
      }
      &[data-disc="3"]{
        top: 55%;
        left: 8%;
      }
      &[data-disc="4"]{
        top: 3%;
        left: 18%;
      }
      &[data-disc="5"]{
        top: 5%;
        left: 65%;
      }
      &:hover{
        transform: scale(1.1);
        filter:drop-shadow(0 0px 20px #95FFFF);
      }
    }
  }
  .flecha{
    position: absolute;
    &[data-flecha="1"]{
      top: 13%;
      left: 8%;
    }
    &[data-flecha="2"]{
      top: -10%;
      left: 48%;
      transform: rotate(70deg);
    }
    &[data-flecha="3"]{
      top: 13%;
      left: 86%;
      transform: rotate(140deg);
    }
    &[data-flecha="4"]{
      top:59%;
      left: 48%;
      transform: rotate(250deg);
    }
  }

}

.modal_s6{
  border: solid white 2px;
  border-radius: 20px;
  box-shadow: 0 0 20px black inset;
  background: rgba(0,0,0,0.8)!important;

  .flecha{
    width: 100%;
    height: 670px;
    background: url(../img/5/flecha-fut.png)50% no-repeat;
    position: relative;

    .numero{
      position: absolute;
      transition: all 0.3s ease-out;
      audio{
        width: 250px!important;
        position: absolute;
        box-shadow: 0 10px 30px 2px rgba(0,0,0,0.5);
        border-radius: 30px;
        display: none;
      }
      h2{
        position: absolute;
        width: 400px;
        color: white;
        font-family: 'FFBold';
        font-size: 2em;
        line-height: 1em;
      }
      &[data-numero="1"]{
        top: 0;
        left: 43%;
        h2{
          text-align: right;
          top: 0%;
          left: -250%;
        }
        audio{
          top: 10%;
          left: 70%;
        }
      }
      &[data-numero="2"]{
        top: 18%;
        left: 50%;
        h2{
          text-align:left;
          top: 0%;
          left: 73%;
        }
        audio{
          top: 30%;
          left: -120%;
        }
      }
      &[data-numero="3"]{
        top: 43%;
        left: 53%;
        h2{
          text-align:left;
          top: 0%;
          left: 80%;
        }
        audio{
          top:80%;
          left:80%;
        }
      }
      &[data-numero="4"]{
        top: 50%;
        left: 30%;
        h2{
          text-align: right;
          top: 0%;
          left: -120%;
        }
        audio{
          top: 90%;
          left: -70%;
        }
      }
      &:hover{
        cursor: pointer;
        filter: drop-shadow(0 0 10px #95FFFF);
        transform: translateY(-20px);
      }
    }
  }

.indicacionmodals6{
  h2{
    margin: 0;
    padding: 0;
    color: white;
  }
}
}
