@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="4"]';
body[data-current-slide-class="slide4"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev , .navigation-buttons > .next , .navigation-buttons > .home{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
.title-slide{
  margin-top:-1%;
  h2{
    width: 79%;
  }
}
  iframe{
      max-width: 70%;
      height: 630px;
      margin-top: 1%;
  }


}
