@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="7"]';
body[data-current-slide-class="slide7"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev , .navigation-buttons > .next{
    display: none!important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  .title-slide{
    margin-top: -2%;
  }
  .cont-general{
    width: 100%;
    height: 79%;
    overflow: auto;
    box-shadow: 0 0 40px black inset;
    border: solid white 1px;
    margin-top: 1%;
    .button-finish-s3{
      position: relative;
      margin-bottom: 5%;
    }

  }
  .cont-preguntas-act3{
    width: 90%;
    min-height: 500px;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 1%;
    h2, p, li{
      margin: 0;
      padding: 0;
    }
    h2{
      font-family: 'FFLight';
      font-size: 2.5em;
    }
    .pregunta{
      background: rgba(0,0,0,0.3);
      width: 100%;
      padding: 1%;
      margin-top: 1%;
    }
    .cont-text{
      margin-top: 1%;
      textarea{
        width: 100%;
        font-family: 'FFLight';
        font-size: 2em;
      }
    }
    &[data-pregunta="5"]{
      min-height: 100px;
    }
  }
  .cont-drop{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-top: 1.5%;
    h2{
      width: 100%;
      padding: 1.5%;
      background: $baseDark;
      font-size: 2.3em;
    }
    .item-drop-tres{
      width: 100%;
      min-height:320px;
      padding: 2%;
      display: inline-block;;
      vertical-align: top;
      background: rgba(0,0,0,0.2);
      border-radius: 20px;
      font-size: 2em;
      line-height: 1.2em;
      margin: 1% 0% 1% 0%;
      li{
        margin-bottom: 1%;
      }
    }
    .clear_s7{
      position: relative;
    }

  }
  .cont-drag{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
    .item-drag-tres{
      cursor: pointer;
      user-select: none;
      width: 49%;
      height: auto;
      padding: 1.2%;
      display: inline-block;;
      vertical-align: top;
      border: solid white 2px;
      border-radius: 20px;
      font-size: 2em;
      line-height: 1.2em;
      margin: 1% 0% 1% 0%;
    }
  }
}
.modal_s7{
  h2{
    font-size: 2em;
  }
}
