<div>
    <div class="contAudio">
                <audio data-ani-class="bounceInLeft" controls controlsList="nofullscreen nodownload">
            <source src="img/2/int_audio_04.mp3" type="audio/mpeg">
        </audio>
        <br>
        <h2>Dentro del hogar, un reflejo de la gestión de riesgos que involucra y promueve la participación de todos en la reducción de este, se ve reflejado en acciones como:
</h2>
    </div>

    <div class="contCasos" data-caso="3">
    
      <div class="itemCaso algo hoverable" data-itemcaso="1" alt=""> <h2>Planificar un simulacro familiar diario para determinar cuánto tiempo en promedio, se demoran en realizar una evacuación

</h2></div>
      <div class="itemCaso hoverable" data-itemcaso="0" alt=""><h2>Gestionar un punto de encuentro y hacer la maleta de emergencias


</h2></div>
    <div class="itemCaso hoverable" data-itemcaso="1" alt=""><h2>Identificar cómo será la reacción de cada uno de los integrantes de la familia para proyectar las posibles soluciones


 </h2></div>
      <div class="itemCaso hoverable" data-itemcaso="1" alt=""><h2>Preguntar a los vecinos un plan de acción y llevarlo a cabo de inmediato
 

 </h2></div>

    </div>
    <div class="button hoverable reiniciarInt"><span>Reniciar</span></div>
</div>
