<div>
    <div class="contAudio">
                <audio data-ani-class="bounceInLeft" controls controlsList="nofullscreen nodownload">
            <source src="img/2/int_audio_03.mp3" type="audio/mpeg">
        </audio>
        <br>
        <h2>Construir edificaciones sismorresistentes es un ejemplo de las medidas a adoptar en la gestión de riesgos de desastres. Dentro de un proceso como este, la comunicación se considera un factor importante porque:</h2>
    </div>

    <div class="contCasos" data-caso="2">
    
      <div class="itemCaso algo hoverable" data-itemcaso="1" alt=""> <h2>Mitiga y reduce el riesgo en caso de que el edificio en construcción tenga una falencia 
</h2></div>
      <div class="itemCaso hoverable" data-itemcaso="1" alt=""><h2>La cobertura de los medios masivos de comunicación toma este tipo de acciones como la mejor respuesta frente a una eventualidad de desastres

</h2></div>
    <div class="itemCaso hoverable" data-itemcaso="0" alt=""><h2>Fortalece y crea una cultura de prevención mediante la promoción de acciones que permitan reducir los riesgos

 </h2></div>
      <div class="itemCaso hoverable" data-itemcaso="1" alt=""><h2>Las personas que trabajan en su construcción comunican las estrategias básicas para prevenir cualquier tipo de desastre 

 </h2></div>

    </div>
    <div class="button hoverable reiniciarInt"><span>Reniciar</span></div>
</div>
