@import "../_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./variables";


body{
    background-color:$base;
    // background-color: #69D2E7;
    // background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

}

body.cursor-pointer{
    cursor:pointer;
}

#stage{
    // overflow-y:scroll !important;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
}

.slide{
    .group{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        display:none;

        &.visible{
            display:block;
        }
    }
}

.swal2-modal{
    &.ova-themed{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/02.png);
        background-color: $base;
        border-radius: 25px;
        h1,
        h2,
        h3,
        p,
        li{
            color:white!important;
        }

    }
}
.disabled{
    pointer-events:none;
    opacity: 0.5;
}

.oculto{
    visibility: hidden;
    opacity: 0;
}

.button{
    background-color: black!important;
}

[tooltip-inner] {
    white-space: pre-wrap;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 45px 25px 0 25px;
    border-style: solid;
    border-color: rgba(0,0,0,0.9) transparent transparent     transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='left']::before{
  left:-4%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg) 
}
[tooltip-position='top']::before{
  left:50%;
}
[tooltip-position='buttom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:-14px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.9);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 2em;
    min-width: 180%;
    border-radius: 15px;
    pointer-events: none;
    padding: 3%;
    z-index:99;
    opacity:0;
}

[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
}
[tooltip-position='top']::after{
  left:50%;
}
[tooltip-position='buttom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}

.noColor{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */
}

.video{
  margin-top: 5%!important;
}

.slide11Pista{
  img{
    width:  100%;
  }
}