@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="9"]';
body[data-current-slide-class="slide9"] #wrapper {
  background-color: #ECB85C;
  background-image: url('../img/6/background.png');
}
#{$slide} {
  background-color: #ECB85C;
  background-image: url('../img/6/background.png');

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  textarea{
    width: 47%;
    height: 44%;
    min-height: 30%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    border-color: transparent;
    color: #680F10;
    padding: 2%;
    font-size: 2em
  }

  textarea:hover{
    border-color: $base;  
  }

  textarea::-webkit-input-placeholder {
    color: #9A999E;
    text-align:center;
    padding-top: 15%;
    font-size: 2em;
  }
  textarea:-moz-placeholder {
    color: #9A999E;
    text-align:center;
    padding-top: 15%; 
    font-size: 2em;
  }
  textarea:-ms-input-placeholder { 
    color: #9A999E;
    text-align:center;
    padding-top: 15%; 
    font-size: 2em;
  }

  .contenedor{
    position: absolute;
    top: 25%;
    left: 8%;
    width: 85%;
    height: 55%;
    background-color: #FF8B00;

    .izquierdo{
      float: left;
      width: 80%;
      height: 100%;
      background-color: #ECB85C;
    }

    .derecho{
      float: left;
      width: 20%;
      height: 100%;

      .button{
        // background-image: url(../img/9/foro.png);
        // width: 70%;
        // height: 50%;
        float: left;
        width: 14%;
        margin-left: 3%;
        margin-top: 7%;
      }

      .foro{
        margin-top: 20%;
      }
    }
  }
}