@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="7"]';
body[data-current-slide-class="slide7"] #wrapper {
  background-color: #ECB85C;
  background-image: url('../img/6/background.png');
}
#{$slide} {
  background-color: #ECB85C;
  background-image: url('../img/6/background.png');

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .consultorio{
  	background-image: url(../img/7/consultorio.png);
  	width: 51.306%;
	height: 67%;
	left: 24%;
	top: 25%;
	transition: all 0.7s linear;
	-webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s linear;
	-ms-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
  }

  .tableta{
  	background-image: url(../img/7/tableta.png);
  	width: 10%;
	height: 12%;
	left: 23%;
	top: 31%;
  }

  .luz{
  	background-image: url(../img/7/luz.png);
  	width: 15%;
	height: 25%;
	left: 41.906%;
	top: 32%;
  }

  .mueble{
  	background-image: url(../img/7/mueble.png);
  	width: 16%;
	height: 35%;
	left: 59.306%;
	top: 60%;
  }

  .ventana{
  	background-image: url(../img/7/ventana.png);
  	width: 10%;
	height: 24%;
	left: 66%;
	top: 24%;
  }

  .opcion{
  	transition: all 0.7s linear;
  	-webkit-transition: all 0.7s linear;
  	-moz-transition: all 0.7s linear;
  	-ms-transition: all 0.7s linear;
  	-o-transition: all 0.7s linear;
  }

  .info{
  	position: absolute;
  	top: 25%;
	left: 5%;
	width: 26%;
	padding: 1%;
  	background-color: rgba(black, 0.8);
  	display: inline-table;
  	text-align: center;
  	transition: all 0.7s linear;
  	-webkit-transition: all 0.7s linear;
  	-moz-transition: all 0.7s linear;
  	-ms-transition: all 0.7s linear;
  	-o-transition: all 0.7s linear;

  	span{
  		font-family: FFBold;
  		font-size: 1.8em;
  		color: white;
  		display: table-cell;
  		vertical-align: middle;
  	}

  	&[data-n="2"]{
  		top: 54.506%;
  	}

  	&[data-n="3"]{
  		top: 68%;
  	}

  	&[data-n="4"]{
  		left: 64%;
  		width: 32%;
  	}

  	&[data-n="5"]{
  		top: 65%;
  		left: 64%;
  		width: 32%;
  	}
  }
}