@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2"]';
body[data-current-slide-class="slide2"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .avatar{
    background-image: url(../img/8/avatar.png);
    width: 25.306%;
    height: 70%;
    left: 70%;
    top: 21.506%;
    transform: rotateY(171deg);
    z-index: 1;
  }
 
  .titulo{
    width: 70%;
    height: 15%;
    margin: 1% 13%;
    display: inline-table;
    text-align: center;
  
    span{
      font-family: FFBold;
      font-size: 2.3em;
      color: white;
      display: table-cell;
      vertical-align: middle;
    }
  } 

  .fondo{
    background-image: url(../img/2/fondo.png);
    width: 83%;
    height: 70%;
    left: 6%;
    top: 22%;
  }

  p{
    position: absolute;
    top: 29%;
    left: 19%;
    width: 62%;
    font-family: FFLight;
    font-size: 2.2em;
    color: white;
    text-align: left;

    &[data-n="2"]{
      top: 44.506%;
    }

    &[data-n="3"]{
      top: 75%;
      width: 55%; 
    }
  }

  .como{
    top: 64%;
    left: 22%;
    z-index: 5;
  }

  .infografia{
    top: 64%;
    left: 46%;
    z-index: 5;
  }

  .guardar{
    top: 81%;
    left: 72%;
    z-index:  2;
  }

  .continuar{
    top: 82%;
    left: 87%;
  }
}