@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
}

#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');

  .edificio{
    background-image: url(../img/1/edificio.png);
    width: 31%;
    height: 54%;
    left: 33.506%;
    top: 31%;
    z-index: 2;
  }

  .bloques{
    background-image: url(../img/1/bloques.png);
    width: 21%;
    height: 26%;
    left: 21%;
    top: 56%;
    z-index: 2;
  }

  .cuaderno{
    background-image: url(../img/1/cuaderno.png);
    width: 21%;
    height: 21%;
    left: 50%;
    top: 17%;
    z-index: 2;
  }

  .tablet{
    background-image: url(../img/1/tablet.png);
    width: 21%;
    height: 28%;
    left: 68%;
    top: 41%;
    z-index: 2;
  }

  .learning-experience{
    background-image: url(../img/1/experiencia_1.png);
    width: 25%;
    height: 15%;
    left: 22.506%;
    top: 43%;
    z-index: 3;
    border-top-left-radius: 40px;

    &[data-n="2"]{
      background-image: url(../img/1/experiencia_2.png);
      left: 56.506%;
      top: 19%;    
    }

    &[data-n="3"]{
      background-image: url(../img/1/experiencia_3.png);
      left: 55%;
      top: 59%;
      border-bottom-right-radius: 40px;  
    }
  }


  .actividad{
    background-image: url(../img/1/actividad_1.png);
    width: 18.506%;
    height: 10%;
    left: 27.506%;
    top: 51%;
    z-index: 4;
    opacity: 0.7;

    &.visto{
        opacity: 1;
      }

    &[data-n="2"]{
      background-image: url(../img/1/actividad_2.png);
      left: 62%;
      top: 12%;      
    }

    &[data-n="3"]{
      background-image: url(../img/1/actividad_3.png);
      left: 55%;
      top: 74.506%;      
    }
  }

  .contenedor{
    position: absolute;
    top: 35%;
    left: 27%;
    width: 26%;
    height: 8%;
    z-index: 4;

    .recurso{
      float: left;
      //margin-left: 0%;
      width: 25%;
      height: 100%;
      background-image: url(../img/1/recurso.png);
      opacity: 0.7;
      transition: all 0.7s linear;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;

      &.visto{
        opacity: 1;
      }
    }

    &[data-n="2"]{
      top: 27%;
      left: 62%;
    }

    &[data-n="3"]{
      top: 58%;
      left: 60%;
    }
  }
}
