@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="4"]';
body[data-current-slide-class="slide4"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
  .navigation-buttons > .prev{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
  text-align: center;

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
    }

  .contenedor{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 27%;
    height: 60%;

    &[data-n="2"]{
      left: 34.506%;
      width: 26.506%;
    }

    &[data-n="3"]{
      left: 65%;
    }

    &[data-n="4"]{
      left: 72%;
      width: 18%;
    }

    .caja{
      float: left;
      width: 100%;
      height:   25%;
      margin-top: 2%;
      background-color: rgba(black, 0.3);

      .peque{
        float: left;
        width: 30%;
        height: 54%;  
        background-position:  center;
        margin-top: 7%;

        &.botella{
          background-image: url(../img/4/botella.png);
        }

        &.llama{
          background-image: url(../img/4/llama.png);
        }
      }

      .grande{
        float: left;
        width: 70%;
        height: 100%;
        padding: 1%;
        display: inline-table;
        text-align: center;

        span{
          font-family: FFBold;
          font-size: 1.5em;
          color: white;
          display: table-cell;
          vertical-align: middle;
        }

        &[data-n="2"]{
          width: 100%;
        }
      }
    }

    .drop{
      float: left;
      width: 100%;
      height:   25%;
      margin-top: 2%;
      background-color: rgba(white, 0.3);

      &.highlight{
          background-color: rgba(255, 255, 255, 0.5);
      }

      &.over{
          transform:scale(1.2);
          background-color:lighten($base, 20%);
      }

      &.dropeado{
        border-color: lighten($base, 20%);
        background-color: rgba(black, 0.3);
      }
    }
  }

  .draggable-element{
      cursor:pointer;

      &:hover{ 
          transform: scale(1.2);
      }

      &.disabled{
          pointer-events: none;
      }
  }

  .linea{
    background-image: url(../img/4/linea.png);
    width: 40%;
    height: 5%;
    left: 32%;
    top: 33%;

    &[data-n="2"]{
      top: 49%;
    }

    &[data-n="3"]{
      top: 65%;
    }

    &[data-n="4"]{
      top: 80%;
    }
  }


}