@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5"]';
body[data-current-slide-class="slide5"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .pasillo{
    background-image: url(../img/5/pasillo.png);
    width: 49%;
    height: 67%;
    left: 24%;
    top: 27.606%;

    p{
      margin: 15%;
      font-family: FFBold;
      font-size: 2.2em;
      color: #05224C;
      text-align: center;
    }

    .opcion{
      background-image: url(../img/5/icono1.png);
      width: 14%;
      height: 20%;
      left: 9%;
      top: 32%;

      &[data-n="2"]{
        background-image: url(../img/5/icono2.png);
        top: 53%;
      }

      &[data-n="3"]{
        background-image: url(../img/5/icono3.png);
        top: 74%;
      }

      &[data-n="4"]{
        background-image: url(../img/5/icono4.png);
        top: 34%;
        left: 71%;
        width: 24%;
        height: 56.506%;
      }
    }
  }

  .titulo{
    position: absolute;
    top: 27%;
    left: 7%;
    width: 25%;
    height: 10%;
    background-color: rgba(black, 0.3);
    display: inline-table;
    text-align: center;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    span{
      font-family: FFBold;
      font-size: 1.8em;
      color: white;
      display: table-cell;
      vertical-align: middle;
    }

    &[data-n="2"]{
      left: 65%;
    }

    &[data-n="3"]{
      left: 76%;
      top: 75%;
      width: 17%;
    }

    &[data-n="4"]{
      left: 5%;
      top: 75%;
      width: 17%;
    }
  }

  .flecha{
      background-image: url(../img/5/flecha.png);
      width: 9%;
      height: 20%;
      left: 19%;
      top: 38%;
      transition: all 0.7s linear;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;

      &[data-n="2"]{
        left: 69%;
        transform: rotateY(171deg);
      }

      &[data-n="3"]{
        left: 73%;
        top: 53%;
        transform: rotate(186deg);
      }

      &[data-n="4"]{
        top: 54%;
        transform: rotateX(171deg);
        left: 15%;
      }
    }
}