@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';
body[data-current-slide-class="slide6"] #wrapper {
  background-color: #ECB85C;
  background-image: url('../img/6/background.png');
}
#{$slide} {
  background-color: #ECB85C;
  background-image: url('../img/6/background.png');

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .pagina{
  	position: absolute;
  	top: 24%;
	left: 22%;
	width: 70%;
	height: 58%;
	background-color: #ECB85C;
	transition: all 0.7s linear;
	-webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s linear;
	-ms-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;

  	h3, p{
  		font-family: FFBold;
  		color: #000013;
  		text-align: center;
  		margin-top: 3%;
  	}

  	h3{
  		font-size: 2.6em;
  		// margin-left: 5%;
  	}

  	p{
  		font-size: 2em;
  		margin-top: 2%;
  	}

  	.bandera{
  		background-image: url(../img/6/banderas1.png);
  		width: 75%;
		height: 50%;
		margin-left: 13%;
		margin-top: 2%;

		&[data-n="2"]{
			background-image: url(../img/6/banderas2.png);
			margin-left: 30%;
		}
		&[data-n="3"]{
			background-image: url(../img/6/banderas3.png);
			margin-left: 30%;
		}
		&[data-n="5"]{
			background-image: url(../img/6/banderas4.png);
			margin-left: 30%;
		}
		&[data-n="6"]{
			background-image: url(../img/6/banderas5.png);
		}
		&[data-n="7"]{
			background-image: url(../img/6/banderas6.png);
			background-position: 51%;
		}
		&[data-n="8"]{
			background-image: url(../img/6/banderas7.png);
			margin-left: 30%;
		}
		&[data-n="9"]{
			background-image: url(../img/6/banderas8.png);
			background-position: 51%;
		}
  	}
  }

  .botonera{
  	position: absolute;
  	top: 24%;
  	left: 12%;
  	width: 10%;
  	height: 58%;
  	z-index: 5;

  	.fecha{
  		float: left;
  		width: 100%;
  		height: 8.606%;
  		background-color: #FF8B00;
  		display: inline-table;
  		text-align: center;
  		transition: all 0.7s linear;
  		-webkit-transition: all 0.7s linear;
  		-moz-transition: all 0.7s linear;
  		-ms-transition: all 0.7s linear;
  		-o-transition: all 0.7s linear;

  		span{
  			font-family: FFBold;
  			font-size: 1.6em;
  			color: white;
  			display: table-cell;
  			vertical-align: middle;
  		}

  		&.cafe{
  			background-color: #C47500;
  			span{
  				font-size: 3em;
  			}
  		}

  		&.visto{
  			span{
  				color: black;
  			}
  		}

  		&.activo{
  			background-color: rgba(#C47500, 0.8);
  		}
  	}
  }
}