<div class="marco fs-bg">
	<div class="fs-bg titulo"></div>
	{{!-- <div class="ventana">
		<div class="avatar fs-bg" data-ani-class="tada" data-ani-delay="300"></div>
	</div> --}}
	<div class="botonera">
		<div class="boton hoverable back fs-bg" ></div>
		<div  class="boton hoverable next fs-bg" data-n="2"></div>
	</div>
</div>