@import "../_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./variables";

html{
    &[data-selected-character="1"]{
        .character{
            background-image:url(../img/1/avatar1.png);
        }
    }

    &[data-selected-character="2"]{
        .character{
            background-image:url(../img/1/avatar2.png);
        }
    }

    &[data-selected-character="3"]{
        .character{
            background-image:url(../img/1/avatar3.png);
        }
    }
}

body{
    background-color:$base;
    // background-color: #69D2E7;
    // background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

}

body.cursor-pointer{
    cursor:pointer;
}

#stage{
    // overflow-y:scroll !important;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
}

.slide{
    .group{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        display:none;

        &.visible{
            display:block;
        }
    }
}

.swal2-modal{
    &.ova-themed{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/02.png);
        background-color: $base;
        border-radius: 25px;
        h1,
        h2,
        h3,
        p,
        li{
            color:white!important;
            line-height: 1.4;
        }
    }
}
.disabled{
    pointer-events:none;
}

.oculto{
    visibility: hidden;
    opacity: 0;
}

.marcoAvatar{
    .marco{
        background-image: url(../img/1/marco1.png);
        width: 52%;
        height: 557px;
        margin-top: 12%;
        margin-left: 30%;
        padding: 2%;
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;

        .titulo{
            background-image: url(../img/1/tituloAvatar.png);
            width: 88%;
            height: 100px;
            position: relative;
            top: -25%;
            left: -5%;
        }

        .botonera{
            padding-left: 27%;
            padding-top: 51%;

            .boton{
                width: 11%;
                height: 50px;
                background-image: url(../img/1/left.png);
                float: left;
                margin: 2%;

                &[data-n="2"]{
                    background-image: url(../img/1/right.png);
                }
            }
        }
    }

    .continuar{
        position: absolute!important;
        top: 89%;
        left: 79%;
    }
}

.continuar{
    position: absolute;
    left: 80%;
    top: 82%;
}

.tran{
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
}

.slide5Inicio{
    .button{
        float: left;
        margin-left: 20%!important; 
        margin-top: 5%!important;

        &.solo{
            margin-left: 40%;
        }
    }
}

.allDoneModal{

    width: 60%!important;
    height: 500px!important;

    h1{
        position: absolute;
        width: 60%;
        top: 8%;
        left: 36%;
    }
    .character{
        position: absolute;
        width: 30%;
        height: 400px;
        left: 14%;
        top: 1%;
        z-index: 2;
    }

    .ficha{
        position: absolute;
        background-image: url(../img/1/ficha.png);
        width: 25%;
        height: 130px;
        left: 8%;
        top: 69%;
        z-index: 1;
    }
}

.video{
    margin-top: 5%!important;
}

.progress-bar{
    width: 76.550%!important;
}