@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2"]';
body[data-current-slide-class="slide2"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/2/background.png');
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/2/background.png');
  text-align: center;
  

    .hexagono { 
      width: 30%;
      height: 60%;
      background: #BE0C51;
      position: relative;
      top: 15%;
      transform: rotate(90deg);
      left: -39%;
      padding: 3%;
      display: inline-table;
      text-align: center;

      &.color1{
        background: #BE0C51;

        &:before{
          border-bottom: 100px solid #BE0C51;
        }
      }

      &.color3{
        background: #60C32D;

        &:before{
          border-bottom: 100px solid #60C32D;
        }
      }

      &.color2{
        background: #FF8E00;

        &:before{
          border-bottom: 100px solid #FF8E00;
        }
      }

      .hexa { 
        width: 100%;

        height: 100%;

        background: white;
        display: table-cell;
        vertical-align: middle;
      }

      .hexa:before { 
        content: "";
        position: absolute;
        top: -51px;
        left: 46px;
        width: 0;
        height: 0;
        border-left: 194px solid transparent;
        border-right: 194px solid transparent;
        border-bottom: 100px solid white;
     } 
    } 

    .hexagono:before { content: ""; position: absolute; 
        top: -100px;

        left: -6px;

        width: 0;

        height: 0;

        border-left: 245px solid transparent;

        border-right: 245px solid transparent;

        border-bottom: 100px solid #BE0C51;

     } 

     .avatar{
      background-image: url(../img/1/avatar1.png);
      width: 24%;
      height: 39%;
      left: 0%;
      top: 30%;
      background-size: auto;
      background-position-x: center;
     }

     .contenedor{
      position: absolute;
      top: 39%;
      left: 33%;
      width: 67%;

      h1{
        font-family: FFBold;
        font-size: 3em;
        color: white;
        text-align: left;
      }

      hr{
        border:10px white;
        border-bottom-style: dotted;
      }
        
      p{
        font-family: FFLight;
        font-size: 2.2em;
        color: white;
        text-align: left;
        padding-right: 5%;
      }

     }

     .button-continuar{
         top: 44%;
         left: 88%;
         z-index: 2;
     }
}