@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
}

#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
  text-align: center;
  padding-top: 1%;
  perspective-origin: left;
  // perspective: 800px;

  .mesa{
    background-image: url(../img/1/mesa.png);
    width: 20%;
    height: 50%;
    left: 40%;
    top: 29%;
  }

  .grafica{
    background-image: url(../img/1/grafica_1.png);
    width: 10%;
    height: 20%;
    left: 51%;
    top: 26.506%;

    &[data-n="2"]{
      background-image: url(../img/1/grafica_2.png);
      width: 10%;
      height: 26%;
      left: 45%;     
    }
  }

  .tarjeta{
    background-image: url(../img/1/cajaAzul.png);
    width: 10%;
    height: 18%;
    left: 42%;
    top: 43%;

    &[data-n="2"]{
      background-image: url(../img/1/cajaMorada.png);
      left: 55%;
      top: 43%;      
    }

    &[data-n="3"]{
      background-image: url(../img/1/tarjetas.png);
      left: 61%;
      top: 52%;
      width: 16%;
      height: 25%;
    }
  }

  .learning-experience{
    background-image: url(../img/1/experiencia_1.png);
    width: 20%;
    height: 20%;
    left: 3%;
    top: 73%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    &[data-n="2"]{
      background-image: url(../img/1/experiencia_2.png);
      top: 14%;
      left: 48%;
    }
    &[data-n="3"]{
      background-image: url(../img/1/experiencia_3.png);
      top: 45%;
      left: 77%;
    }
  }

  .mano{
    background-image: url(../img/1/izquierdo.png);
    width: 39%;
    height: 40%;
    left: -1%;
    top: 40%;

    &[data-n="2"]{
      background-image: url(../img/1/derecho.png);
      left: 60%;
      top: 16%;
      width: 42%;
      height: 43%;
    }
  }

  .actividad{
    background-image: url(../img/1/actividad_1.png);
    width: 10%;
    height: 27%;
    left: 23%;
    top: 65%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    p{
      border-radius: 25px;
      background-color: #5DB6AB;
      font-family: FFBold;
      font-size: 2em;
      color: white;
      text-align: center;
      padding: 4%;
    }

    &[data-n="2"]{
      background-image: url(../img/1/actividad_2.png);
      top: 16%;
      left: 32%;
      width: 12%;

      p{
        background-color: #8C4B94;
      }
    }

    &[data-n="3"]{
      background-image: url(../img/1/actividad_3.png);
      top: 64%;
      left: 78%;
      width: 14%;

      p{
        background-color: #009FD9;
      }
    }
  }

  .disabled{
    opacity: 0.5;
  }

  [tooltip]::before {
        content: "";
        position: absolute;
        top:-6px;
        left:50%;
        transform: translateX(-50%);
        border-width: 14px 16px 0 16px;
        border-style: solid;
        border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
        z-index: 99;
        opacity:0;
    }

    [tooltip-position='left']::before{
      left:-2%;
      top:50%;
      margin-left:-12px;
      transform:translatey(-50%) rotate(-90deg) 
    }
    [tooltip-position='top']::before{
      left:50%;
    }
    [tooltip-position='buttom']::before{
      top:100%;
      margin-top:8px;
      transform: translateX(-50%) translatey(-100%) rotate(-180deg)
    }
    [tooltip-position='right']::before{
      left:100%;
      top:50%;
      margin-left:-14px;
      transform:translatey(-50%) rotate(90deg)
    }

    [tooltip]::after {
        content: attr(tooltip);
        position: absolute;
        left:50%;
        top:-6px;
        transform: translateX(-50%)   translateY(-100%);
        background: rgba(0,0,0,0.7);
        text-align: center;
        color: #fff;
        padding:4px 2px;
        font-size: 2em;
        min-width: 300%;
        border-radius: 15px;
        pointer-events: none;
        padding: 3%;
        z-index:99;
        opacity:0;
    }

    [tooltip-position='left']::after{
      left:0%;
      top:50%;
      margin-left:-8px;
      transform: translateX(-100%)   translateY(-50%);
    }
    [tooltip-position='top']::after{
      left:50%;
    }
    [tooltip-position='buttom']::after{
      top:100%;
      margin-top:8px;
      transform: translateX(-50%) translateY(0%);
    }
    [tooltip-position='right']::after{
      left:100%;
      top:50%;
      margin-left:8px;
      transform: translateX(0%)   translateY(-50%);
    }

    [tooltip]:hover::after,[tooltip]:hover::before {
       opacity:1
    }
}
