$unit: 1;
$base: #0075BF !default;
$baseDark :#033449 !default;
$baseComplement :#FFC843 !default;

@if $unit == 1{
    $base: #0075BF;
    $baseDark :#033449;
    $baseComplement :#E29F17;
}
@if $unit == 2{
    $base: #90133C;
    $baseDark :#5B0116;
    $baseComplement :#FFC843;
}
@if $unit == 3{
    $base: #6EAB27;
    $baseDark :#1E3500;
    $baseComplement :#FFC843;
}
@if $unit == 4{
    $base: #96005A;
    $baseDark :#3F0029;
    $baseComplement :#FFDF40;
}
@if $unit == 5{
    $base: #4D1863;
    $baseDark :#2C043F;
    $baseComplement :#FF9B1C;
}
@if $unit == 6{
    $base: #005B60;
    $baseDark :#02393A;
    $baseComplement :#FFC843;
}

@if $unit == 7{
    $base: #E18C00;
    $baseDark :#603A02;
    $baseComplement :#033449;
}
