<div class="title-slide" data-ani-class="bounceInRight">
  <h2>La mejora continua del Sistema de Gestión de la Seguridad <br> y Salud en el Trabajo.</h2>
  <h3>Orientación para plantear planes de intervención.</h3>
  <h3>Escuche atentamente cada uno de los audios.</h3>
</div>
<div class="button hoverable button-continuar btn_cont_S5" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="cont-disc">

  <div class="disc" data-disc="1" title="¿Qué es?">
    <audio id="audio1" data-ani-class="bounceInLeft" controls controlsList="nofullscreen nodownload">
      <source src="img/sound/sound_1.mp3" type="audio/mpeg">
    </audio>
    <img src="img/5/disc-c.png" alt="" data-ani-class="bounceInDown">
  </div>
  <div class="flecha" data-flecha="1"><img src="img/5/flecha.png" alt=""></div>
  <div class="flecha" data-flecha="2"><img src="img/5/flecha.png" alt=""></div>
  <div class="flecha" data-flecha="3"><img src="img/5/flecha.png" alt=""></div>
  <div class="flecha" data-flecha="4"><img src="img/5/flecha.png" alt=""></div>

  <div class="disc" data-disc="2" title="¿Para qué?">
    <audio id="audio2" data-ani-class="bounceInLeft" controls controlsList="nofullscreen nodownload">
      <source src="img/sound/sound_2.mp3" type="audio/mpeg">
    </audio>
    <img src="img/5/disc-f-1.png" alt="" data-ani-class="bounceInDown">
  </div>

  <div class="disc" data-disc="3" title="¿Cómo se aplica dentro de la Seguridad y Salud en el Trabajo?">
    <audio id="audio3" data-ani-class="bounceInLeft" controls controlsList="nofullscreen nodownload">
      <source src="img/sound/sound_3.mp3" type="audio/mpeg">
    </audio>
    <img src="img/5/disc-f-2.png" alt="" data-ani-class="bounceInDown">
  </div>

  <div class="disc" data-disc="4" title="¿Qué permite?">
    <audio id="audio4" data-ani-class="bounceInLeft" controls controlsList="nofullscreen nodownload">
      <source src="img/sound/sound_4.mp3" type="audio/mpeg">
    </audio>
    <img src="img/5/disc-b-1.png" alt="" data-ani-class="bounceInDown">
  </div>

  <div class="disc" data-disc="5" title="¿Cuál es el proceso?">
    <img src="img/5/disc-b-2.png" alt="" data-ani-class="bounceInDown">
  </div>

</div>
