<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Contexto general del Decreto 1072 de 2015</h2>
</div>
<div class="button hoverable button-continuar btn_cont_S3" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<iframe src="https://www.youtube.com/embed/{{media.AN.mediaid}}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 

<!-- <iframe src="https://www.youtube.com/embed/PuYxDnvgX7w?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
