
<div class="button hoverable btn_cont_S3" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="cont-info" data-info="1">
  <h2>Criterios de clasificación de dispositivos médicos</h2>
  <br>
  <div class="item-info" data-ani-class="bounceInUp" data-item="1">
    <img data-ani-class="pulse" src="img/3/icon-s3-1.jpg" alt="">
    <p>El sistema afectado se vincula directamente con el sistema que se quiere intervenir con el dispositivo.</p>
  </div>

  <div class="item-info" data-ani-class="bounceInUp" data-item="2">
    <img data-ani-class="pulse" src="img/3/icon-s3-5.jpg" alt="" style="margin-top:1%;">
    <p>los efectos biológicos se refieren a cualquier tipo de infección que pueda generarse en el paciente por el dispositivo o por rechazos del sistema inmunológico </p>
  </div>

  <div class="item-info" data-ani-class="bounceInUp" data-item="3">
    <img data-ani-class="pulse" src="img/3/icon-s3-4.jpg" alt="">
    <p>El sistema afectado se vincula directamente con el sistema que se quiere intervenir con el dispositivo.</p>
  </div>

  <div class="item-info" data-ani-class="bounceInUp" data-item="4">
    <img data-ani-class="pulse" src="img/3/icon-s3-3.jpg" alt="" style="margin-top:1%;">
    <p>los activos hacen referencia a los dispositivos cuyo funcionamiento depende de una fuente de energía eléctrica o de cualquier otra fuente de energía</p>
  </div>

  <div class="item-info" data-ani-class="bounceInUp" data-item="5">
    <img data-ani-class="pulse" src="img/3/icon-s3-2.jpg" alt="">
    <p>El grado de invasividad es aquel que penetra total o parcialmente en el cuerpo, a través de un orificio o superficie corporal</p>
  </div>
</div>

<div class="cont-info" data-info="2">
  <h2>Clasificación de dispositivos médicos según su riezgo</h2>
  <br>
  <h2>TIPO</h2>
  <div class="item-info" data-ani-class="bounceInUp" data-item="1">
    <h2>I</h2>
  </div>

  <div class="item-info" data-ani-class="bounceInUp" data-item="2">
    <h2>IIA</h2>
  </div>

  <div class="item-info" data-ani-class="bounceInUp" data-item="3">
    <h2>IIB</h2>
  </div>

  <div class="item-info" data-ani-class="bounceInUp" data-item="4">
    <h2>III</h2>
  </div>

</div>
