<div data-id-in-slide="dvqxk8"></div>
<div data-id-in-slide="awrcl"></div>
<div class="circle" data-id="1" data-id-in-slide="y07jrk"></div>
<div class="circle" data-id="2" data-id-in-slide="p9wjqi"></div>
<div class="circle" data-id="3" data-id-in-slide="w6ew3"></div>
<div class="circle" data-id="4" data-id-in-slide="qwt2jo"></div>
<div class="circle" data-id="5" data-id-in-slide="bbmdt"></div>
<div class="circle" data-id="6" data-id-in-slide="ty2hyh"></div>
<div class="content" data-id="1">
  <h2 class="title">Identifique un problema que pueda ser considerado como un problema público en la ciudad o localidad
    donde vive. Siga los siguientes pasos:
    <br>
    1. Realice el video.
    <br>
    2. Suba un video del problema.
    <br>
    3. Realice la descripción del mismo.
  </h2>

  <div class="half-circle">
    <h1>Cargue un video en YouTube y relacione acá el enlace:</h1>
    <input type="text" placeholder="Escribir enlace">
    <h1>Escriba aquí el problema:</h1>
    <textarea placeholder="Escribir problema"></textarea>
  </div>
</div>
<div class="content" data-id="2">
  <h2 class="title">Haga una evaluación del problema identificando, al menos: en qué consiste, cuáles son los
    afectados, lugar donde se desarrolla, efectos del problema y las posibles consecuencias de no intervenirlo.</h2>
  <div class="half-circle">
    <h1>EVALUACIÓN DEL PROBLEMA: </h1>
    <div class="items">
      <div class="item">En que consiste</div>
      <div class="item">Cuáles son los afectados</div>
      <div class="item">Lugar donde se desarrolla</div>
      <div class="item">Efectos del problema</div>
      <div class="item">Posibles consecuencias de no intervenirlo</div>
    </div>
  </div>
</div>
<div class="content" data-id="3">
  <h2 class="title">Identifique al menos tres alternativas de solución para el problema identificado; para ello haga
    uso de las metodologías propuestas en la <b>Unidad Didáctica 1: Gestión local y práctica de derechos humanos.</b></h2>
  <div class="half-circle">
    <h1>TRES ALTERNATIVAS DE SOLUCIÓN: </h1>
    <div class="items">
      <div class="item">
        <div class="number">1.</div>
        <div class="text">
          <textarea placeholder="Escriba acá..."></textarea>
        </div>
      </div>
      <div class="item">
        <div class="number">2.</div>
        <div class="text">
          <textarea placeholder="Escriba acá..."></textarea>
        </div>
      </div>
      <div class="item">
        <div class="number">3.</div>
        <div class="text">
          <textarea placeholder="Escriba acá..."></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content" data-id="4">
  <h2 class="title">Elija una de las tres alternativas seleccionadas y argumente por qué esta le resulta la más
    conveniente. Recuerde basar su argumento haciendo uso del glosario de términos que ya ha adquirido.</h2>
  <div class="half-circle">
    <h1>Alternativas de solución seleccionada:</h1>
    <div class="items">
      <div class="item">
        <div class="number">1.</div>
        <div class="text">
          <textarea placeholder="Escriba acá..."></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content" data-id="5">
  <h2 class="title">Establezca un plan para implementar la alternativa de solución seleccionada, descargue la
    plantilla, complete según las indicaciones y cargue el documento.</h2>
  <div class="half-circle">
    <h1>Plan para implementar la alternativa de solución:</h1>
    <div class="buttons">
      <a href="img/PLANTILLA.docx" target="_blank">
        <div class="button download hoverable">
          <div class="icon">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <div class="inner-icon">
              <i class="fa fa-arrow-down"></i>
            </div>
          </div>
          <span>Descargue la PLANTILLA</span>
        </div>
      </a>
      <a href="{{courseActivities.forum.0.href}}" target="_blank" rel="noopener noreferrer">
        <div class="button upload hoverable">
          <div class="icon">
            <span>A</span>
            <div class="inner-icon">
              <i class="fa fa-arrow-up"></i>
            </div>
          </div>
          <span>Subir la planilla</span>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="content" data-id="6">
  <h2 class="title">Envíe sus respuestas por la Actividad 2 del aula virtual. Descargue el documento elaborado y
    continúe con la exploración de los recursos.<br>
    A partir de ahora si lo desea puede descargar el PDF de la unidad completa.</h2>
  <div class="half-circle">
    <div class="buttons">
      <div class="button download hoverable finish">
        <div class="icon">
          <span>A</span>
          <div class="inner-icon">
            <i class="fa fa-arrow-down"></i>
          </div>
        </div>
        <span>Descargue el documento PDF</span>
      </div>
    </div>
  </div>
</div>