<div class="content">
	<div class="inner-column">
		<div class="title">
			<h1>TÉRMINO-CONCEPTO</h1>
		</div>
		<div class="rows">
			<div class="text-row">
				<textarea data-id="0" placeholder="Escriba aca..."></textarea>
			</div>
			<div class="text-row">
				<textarea data-id="1" placeholder="Escriba aca..."></textarea>
			</div>
			<div class="text-row">
				<textarea data-id="2" placeholder="Escriba aca..."></textarea>
			</div>
		</div>
	</div>
	<div class="inner-column">
		<div class="title">
			<h1>DESCRIPCIÓN</h1>
		</div>
		<div class="rows">
			<div class="text-row">
				<textarea data-id="3" placeholder="Escriba aca..."></textarea>
			</div>
			<div class="text-row">
				<textarea data-id="4" placeholder="Escriba aca..."></textarea>
			</div>
			<div class="text-row">
				<textarea data-id="5" placeholder="Escriba aca..."></textarea>
			</div>
		</div>
	</div>
</div>
<div class="button finish hoverable">
	<span>Guardar y finalizar</span>
</div>