<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <i class="fa fa-info" aria-hidden="true"></i>
    </div>
  </div>
  <h2>Tema 2: El ciclo de políticas públicas</h2>
  
</div>
<div data-id-in-slide="wo77dd"></div>
<div data-id-in-slide="x7wfvn" class="text main">
  <h1>4TA FASE</h1>
  <h2>EVALUACIÓN</h2>
</div>
<div class="content">
  <div class="item">
    <div class="number no-animation click-me visible">1</div>
    <div class="text no-animation">
      <h2>Determinación de la periodicidad.</h2>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">2</div>
    <div class="text no-animation">
      <h2>Determinación de actores evaluadores.</h2>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">3</div>
    <div class="text no-animation">
      <h2>Determinación de los temas de evaluación.</h2>
    </div>
  </div>
</div>