<div>
    <div class="contAudio">
                <audio data-ani-class="bounceInLeft" controls controlsList="nofullscreen nodownload">
            <source src="img/2/int_audio_02.mp3" type="audio/mpeg">
        </audio>
        <br>
        <h2>¿Qué acción representa una gestión correctiva para aplicar de manera adecuada la gestión de riesgos en un colegio?</h2>
    </div>

    <div class="contCasos" data-caso="1">
    
      <div class="itemCaso algo hoverable" data-itemcaso="0" alt=""> <h2>Colocar señalización de evacuación en los pasillos y escaleras del colegio
</h2></div>
      <div class="itemCaso hoverable" data-itemcaso="1" alt=""><h2>Colocar tablas en el pasillo del colegio, para que los alumnos, en caso de una situación de riesgo, puedan proteger y resguardarse
</h2></div>
    <div class="itemCaso hoverable" data-itemcaso="1" alt=""><h2>Hacer un mural de señalización de otro colegio, ejemplificando como sería una adecuada gestión de riesgo 
 </h2></div>
      <div class="itemCaso hoverable" data-itemcaso="1" alt=""><h2>Colocar el plano de evacuación fuera del colegio para que la comunidad esté alerta en caso de una situación de riesgo
 </h2></div>

    </div>
    <div class="button hoverable reiniciarInt"><span>Reniciar</span></div>
</div>
