@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="7"]';
body[data-current-slide-class="slide7"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .next{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

  // iframe{
  //     max-width: 70%;
  //     height: 630px;
  //     margin-top: 1%;
  // }
  .cont-personaje-s7{
    position: absolute;
    left: 1%;
    bottom: 0;
  }
  .titile_s7{
    margin: 0 auto;
    img{
      width: 400px;
    }
  }

  .cont-grafica{
    width: 100%;
    background: rgba(0,0,0,0.4);
    padding: 2%;
    .item_s7{
      background: #E23F53;
      width: 85%;
      margin: 0 auto;
      padding: 1%;
      border-radius: 20px;
      margin-top: 1%;
      box-shadow: 0 5px 8px rgba(255,255,255,0.7);
      h2{
        margin: 0;
        padding: 0;
        font-size: 2em;
        color: white;
      }
    }



  }

  .btn_cont_S7 {
    position: absolute;
  }

}
