@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';
body[data-current-slide-class="slide3"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev , .navigation-buttons > .next{
    display: none!important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

.item_s3 {
  background: $base;
  width: 30%;
  padding: 1%;
  border: solid $baseDark 8px;
  margin: 0 auto;
  position: relative;
  margin-top: 5%;
  margin-left: 45%;
  h2{
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
}
.cont-item_s3{
  border: $baseComplement 5px dashed;
  padding: 1%;
  margin: 0 auto;
  width: 50%;
  margin-top: 3%;
    margin-left: 35%;
  .item_s3{
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0%;
    margin-left: 0%;
  }
}
.item_hoverable{
  transition: all 0.3s ease-out;
  box-shadow: 0 0 20px black;
}
.item_hoverable:hover{
  box-shadow: 0 0 40px black;
  cursor: pointer;
  transform: scale(1.1);

}
.cont-personaje{
  position: absolute;
  left: 9%;
  bottom: 0%;
}

  .btn_cont_S3{
    position: absolute;
    left: -60%;
    top: 35%;
    width: 350px!important;
    display: none;
  }

}
