@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2"]';
body[data-current-slide-class="slide2"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev , .navigation-buttons > .next{
    display: none!important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  .title-slide{
    margin-top: -1%!important;
    h3{
      width: 90%;
    }
  }
  .cont-preguntas{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 0.9%;
    background: rgba(0,0,0,0.3);
    h2, p, li{
      margin: 0;
      padding: 0;
    }
    h2{
      font-size: 1.8em;
      font-family: 'century';
    }
    .pregunta{
      width: 100%;
      padding: 1% 2%;
      margin-top: 0%;
      h2{
        font-size: 1.7em;
        margin: 0;
      }
    }
    .cont-text{
      margin-top: 1%;
      textarea{
        min-width: 90%;
        font-family: 'FFLight';
        font-size: 2em;
        min-height: 120px!important;
      }
    }

  }
}

.modal_ini_act_1{
  background: none!important;
  .cont-back{
    width: 100%;
    height: 640px;
    background: url(../img/1/modal-ini-back.png)50% no-repeat;
    background-size: cover;

    .title-slide{
      width: 50%;
      height: auto;
      text-align: left;
    	margin-left: 5%;
      position: absolute;
      right: 10%;
      top: 23%;
    	.icon-activity{
    		width: 100px;
    		height: 100px;
    		float: left;
    		margin-right: 2%;
    		background: url(../img/icon-activity.png);
    	}
      h2{
        font-family: 'FFLight';
        font-size: 3em;
        padding-bottom: 0.3%;
        border-bottom: dashed 2px white;
        color: white;
  	   }
    	h3{
    		padding: 0;
    		font-family: 'FFLight';
    		font-size: 2em;
        color: white;
        margin-top: 5%;
    	}
    }
    .boton_iniciar{
      position: absolute!important;
      bottom: 20%;
      right: 15%;
      font-size: 2em!important;
    }
  }
}
