@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';
body[data-current-slide-class="slide6"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
//   .navigation-buttons > .next{
//     display: none!important;
// }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

  // iframe{
  //     max-width: 70%;
  //     height: 630px;
  //     margin-top: 1%;
  // }
  .cont-personaje-s6{
    position: absolute;
    left: 2%;
    bottom: 0;
  }

  .cont-grafica{
    width: 100%;
    background: rgba(0,0,0,0.4);
    padding: 2%;
    margin-top: 7%;
    .titile_s6{
      display: inline-block;
      vertical-align: middle;
      height:300px;
      img{
        width: 300px;
      }
    }
    .grafica_s6{
      display: inline-block;
      vertical-align: middle;
      animation-delay: 1s;
      margin-left: 2%;
      img{
        width: 900px;
      }
      svg{
        width: 1100px;
      }
    }
  }

}
