@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2"]';
body[data-current-slide-class="slide2"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev , .navigation-buttons > .next{
    display: none!important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  .cont-preguntas{
    width: 85%;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 3%;
    h2, p, li{
      margin: 0;
      padding: 0;
    }
    h2{
      font-family: 'century';
    }
    .pregunta{
      background: rgba(0,0,0,0.3);
      width: 100%;
      padding: 1%;
      margin-top: 1%;
    }
    .options{
      width: 100%;
      font-family: 'FFLight';
      margin-top: 2%;
      li{
        width: 45%;
        font-size: 2.3em;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        input{
          float: left;
          height: 50px;
          width: 50px;
        }
      }
    }
    .cont-text{
      margin-top: 1%;
      textarea{
        min-width: 90%;
        font-family: 'FFLight';
        font-size: 2em;
      }
    }

  }
}
