@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="8"]';
body[data-current-slide-class="slide8"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons>.next , .navigation-buttons>.home{
      display: none !important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

  .button-finish-act2{
    position: absolute!important;
    right:5%;
    top: 11%;
    display: none;
  }
  .button{
    position: relative;
    margin: 0 auto;
  }
  .cont-instrucciones{
    width: 70%;
    float: left;
    margin-left: 10%;
    margin-top: 4%;
    h2{
      margin: 0;
      padding: 0;
    }
  }
  img{
    position: absolute;
    bottom: 0px;
    left: 5%;
  }

  .button-send{
      width:150px;
      height:150px;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      background: $baseComplement;
      color:$base;
      font-size: 6em;
      padding-top: 3%;
      box-shadow: 0px 0px 5px 8px rgba($color: black, $alpha: 0.3);
      i{
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: #00C395;
          position: absolute;
          color:white;
          font-size: 0.6em;
          top: 50%;
          padding-top: 5%;
          animation: up 1.5s infinite ease-out;
      }
      @keyframes up {
          0%{top: 50%;}
          60%{opacity:1;}
          100%{top:0%; opacity:0;}
      }
  }
  .button-send:hover{
      background: white;
      box-shadow: 0px 0px 20px 10px rgba($color: black, $alpha: 0.3);
  }
  a{
    text-decoration: none!important;
  }

}
