@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="7"]';
body[data-current-slide-class="slide7"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  .title-slide{
    margin-top: -37px;
  }
  .cont-drag-dos{
    width: 40%;
    height: 60%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 1%;

    .cara{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-position: 50%;
      background-repeat: no-repeat;
      position: relative;
      display: inline-block;
      margin: 1%;
      box-shadow: 0 0 20px black;
      vertical-align: top;transition: all 0.3s ease-out;
      .info-cara{
        width: 170%;
        padding: 10%;
        position: absolute;
        right: -170%;
        text-align: left;
        top:10%;
        background: rgba(0,0,0,0.7);
        display: none;
        border-radius: 20px;
        h2,p{
          padding: 0;
          margin: 0;
        }
        p{
          font-size: 1.5em;
        }
      }
      &[data-cara="1"]{
        background-image: url(../img/7/cara_03.png);
      }
      &[data-cara="2"]{
        background-image: url(../img/7/cara_04.png);
      }
      &[data-cara="3"]{
        background-image: url(../img/7/cara_01.png);
      }
      &[data-cara="4"]{
        background-image: url(../img/7/cara_02.png);
      }
      &[data-cara="5"]{
        background-image: url(../img/7/cara_06.png);
      }
      &[data-cara="6"]{
        background-image: url(../img/7/cara_05.png);
      }
      &[data-cara="7"]{
        background-image: url(../img/7/cara_07.png);
      }
      &:hover{
        cursor: pointer;
        transform: scale(1.2);
        z-index: 100;
      }
      &:hover .info-cara{
        display: block;
      }
    }

  }

  .cont-drop-dos{
    width: 50%;
    height: 40%;
    display: inline-block;
    vertical-align: top;
    margin-top: 1%;
    padding: 3%;
    border-radius: 20px;
    background: url(../img/7/fondo_s7.png)no-repeat 50%;
    .cara-drop{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.5);
      background-position: 50%;
      background-repeat: no-repeat;
      position: relative;
      display: inline-block;
      margin: 1%;
      border: solid white 2px;
      box-shadow: 0 0 20px black;
      position: relative;
      .cont-respuesta{
        // border: solid blue;
        padding: 1%;
        width: 100%;
        min-height:10%;
        position: absolute;
        bottom: -10%;
      }
    }

    .cont-justificacion{
      width: 100%;
      display: none;
      margin-top: 2%;
      textarea{
        padding: 2%;
        width: 100%;
        min-height: 70px!important;
      }
    }
    .end_s7{
      position: relative;
      margin-top: 2%;
      display: none;
    }
  }

}
