<div>
	<div class="fs-bg personaje"></div>
    <h1>Ha terminado la exploración de la unidad acerca de los procesos relacionados con la atención asistencial. 
	<br>
	Ahora tiene acceso al documento PDF de la Unidad Didáctica. Si lo considera necesario, ahora puede usar esta información para ajustar y enviar de nuevo la actividad 2.</h1>
</div>