{{!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/W_pNk6j9M_o?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>	 --}}

{{!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/vyPsBM_rHKI?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}

{{!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/vyPsBM_rHKI?rel=0&amp;showinfo=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}

<iframe width="560" height="315" src="https://www.youtube.com/embed/{{AN.mediaid}}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>	