<p>Ya que ha hecho sus observaciones, entre al foro del curso y revise tres  trabajos de otros compañeros y retroalimente el suyo.</p>
<br><br>
{{!-- <a href="http://localhost/redi_ud1/app/dynamicPdf/pdfFinal.php{{downloadArguments}}" target="_blank">
	<div class="button hoverable click-me fucsia">
		<span>Descarga PDF</span>
	</div>
</a> --}}
<a href="dynamicPdf/pdfActividad2.php{{downloadArguments}}" target="_blank" data-n="2">
    <div class="button hoverable pdf click-me fs-bg">
    	<span>Descargue pdf</span>
    </div>
</a>

<a href="{{assignLink}}" target="_blank">
	<div class="button hoverable click-me fucsia fs-bg" data-n="2">
		<span>Enviar actividad 2</span>
	</div>
</a>