@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="13"]';

body[data-current-slide-class="slide13"]{
    //background-image:url(../img/2/1.png);
    //background-color:#D91A5B;
    background-size:cover;
}

body[data-current-slide-class="slide13"] #wrapper {
    background-color:#D91A5B;

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {

    [data-id-in-slide="dvqxk8"]{
        position:absolute;
        width:95.87253395570528%;
        height:86.81750127421%;
        left:1.6337875%;
        top:12.781209989806321%;
        background-image:url('../img/2/33.png');
    }
    
    [data-id-in-slide="awrcl"]{
        position: absolute;
        width: 77.15487138940654%;
        height: 67.4103772457951%;
        left: 11.392631880733944%;
        top: 26.956543%;
        background-image: url(../img/2/31.png);
    }
    
    [data-id-in-slide="y07jrk"]{
        position: absolute;
        width: 8.34862385321101%;
        height: 14.566768603465851%;
        left: 11.505687%;
        top: 69.333333%;
    }
    
    [data-id-in-slide="p9wjqi"]{
        position: absolute;
        width: 8.165136214789994%;
        height: 14.566768603465851%;
        left: 19.38675%;
        top: 44.718778%;
    }
    
    [data-id-in-slide="w6ew3"]{
        position: absolute;
        width: 8.34862385321101%;
        height: 14.566768603465851%;
        left: 33.7890625%;
        top: 28.227444%;    
    }
    
    [data-id-in-slide="qwt2jo"]{
        position: absolute;
        width: 8.1651376146789%;
        height: 14.89296636085627%;
        left: 55.3515625%;
        top: 26.760444%;
    }
    
    [data-id-in-slide="bbmdt"]{
        position: absolute;
        width: 8.1651376146789%;
        height: 14.566768603465851%;
        left: 71.230625%;
        top: 42.737766%;
    }
    
    [data-id-in-slide="ty2hyh"]{
        position: absolute;
        width: 8.1651376146789%;
        height: 14.403664747387868%;
        left: 80.30875%;
        top: 70.807333%;
    }
    
    .circle{
        border-radius: 100%;
        width: 131px;
        height: 131px;
        border-radius: 100%;
        z-index:50;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:hover{
            cursor:pointer;
            background-color:rgba(255, 255, 255, 0.2);
        }

        i{
            font-size:4em;
            color:#FFFFFF;
        }
    }

    .half-circle{
        position: absolute;
        left: 19%;
        top: 40%;
        width: 990px;
        height: 990px;
        border-radius: 100%;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    
    .content{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        display:none;

        &.visible{
            display:block;
        }

        h2.title{
            font-family: FFLight;
            font-size: 2em;
            color: #FFFFFF;
            padding: 0 50px;
            text-align: left;
            margin-top: 125px;
            line-height: 1.4em;
        }

        .half-circle{
            display:flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;  
            padding:10px;    
        }

        &[data-id="1"]{
            .half-circle{
                h1{
                    color:#D91A5B;
                    font-family:FFBold;
                    text-align:center;

                    &:nth-of-type(1){
                        width:40%;
                    }
                }

                input{
                    width: 60%;
                    border-radius: 20px;
                    /* height: 20px; */
                    color: #D91A5B;
                    font-family: FFLight;
                    padding: 3px;
                    font-size: 2.9em;
                    outline: none;
                    border: solid 2px #D91A5B;
                }

                textarea{
                    width:80%;
                    width: 80%;
                    min-height: 0;
                    height: 150px;
                    overflow-y: auto;
                
                }
            }
        }

        &[data-id="2"]{
            .half-circle{
                padding-top:40px;
                h1{
                    color:#645DBC;
                    font-family:FFBold;
                    font-size:2em;
                }

                .items{
                    width:100%;
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;

                    .item{
                        border-radius:10px;
                        padding:10px;
                        background: #f2f3f4; /* Old browsers */
                        background: -moz-linear-gradient(left, #f2f3f4 0%, #d2d3d5 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, #f2f3f4 0%,#d2d3d5 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, #f2f3f4 0%,#d2d3d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f4', endColorstr='#d2d3d5',GradientType=1 ); /* IE6-9 */
                        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.8);
                        color:#D91A5B;
                        font-family:FFBold;
                        font-size:2em;
                        text-align:center;
                        margin-bottom:15px;

                        &:nth-of-type(1){
                            width:40%;
                        }

                        &:nth-of-type(2){
                            width:50%;
                        }

                        &:nth-of-type(3){
                            width:60%;
                        }

                        &:nth-of-type(4){
                            width:70%;
                        }

                        &:nth-of-type(5){
                            width:80%;
                        }
                    }
                }
            }
        }

        &[data-id="3"],
        &[data-id="4"]{
            .half-circle{
                padding-top:40px;
                h1{
                    color:#645DBC;
                    font-family:FFBold;
                    font-size:2em;
                }

                .items{
                    width:100%;
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;

                    .item{
                        border-radius: 10px;
                        background: #f2f3f4;
                        background: -moz-linear-gradient(left, #f2f3f4 0%, #d2d3d5 100%);
                        background: -webkit-linear-gradient(left, #f2f3f4 0%, #d2d3d5 100%);
                        background: linear-gradient(to right, #f2f3f4 0%, #d2d3d5 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f4', endColorstr='#d2d3d5',GradientType=1 );
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
                        color: #D91A5B;
                        font-family: FFBold;
                        font-size: 2em;
                        text-align: center;
                        margin-bottom: 15px;
                        position: relative;
                        height: 109px;

                        .number{
                            width: 60px;
                            height: 60px;
                            font-family: FFBold;
                            font-size: 1.2em;
                            border-radius: 100%;
                            color: #FFFFFF;
                            background-color: #D91A5B;
                            border: solid 3px #FFFFFF;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                            position: absolute;
                            left: -70px;
                            top: -5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }

                        .text{
                            width:100%;
                            height:100%;

                            textarea{
                                width:100%;
                                height:100%;
                                overflow-y:auto;
                                background-color:transparent;
                                border:none;
                                min-height:0;
                                font-family:FFLight;
                                font-size:1.3em;
                            }
                        }


                        &:nth-of-type(1){
                            width:40%;
                        }

                        &:nth-of-type(2){
                            width:50%;
                        }

                        &:nth-of-type(3){
                            width:60%;
                        }

                        &:nth-of-type(4){
                            width:70%;
                        }

                        &:nth-of-type(5){
                            width:80%;
                        }
                    }
                }
            }
        }
        
        &[data-id="4"]{
            h1{
                margin-top:40px;
            }
            .item{
                height: 279px !important;
            }
        }

        &[data-id="5"],
        &[data-id="6"]{
            .half-circle{
                padding-top:120px;
                h1{
                    color:#645DBC;
                    font-family:FFBold;
                    font-size:2em;
                    width:45%;
                    text-align:center;
                }

                .buttons{
                    width:70%;
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .button{
                    position:static;
                    margin-bottom:20px;
                    background-color:#D91A5B;
                    display:flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    width:220px;
                    height:220px;

                    .icon{
                        width: 110px;
                        height: 110px;
                        border-radius: 100%;
                        position: relative;
                        background-color: #FFFFFF;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        flex-shrink: 0;

                        > i,
                        > span{
                            color:#D91A5B;
                            font-size:1.9em;
                        }

                        .inner-icon{
                            background-color: #22A692;
                            width: 55px;
                            height: 55px;
                            border-radius: 100%;
                            position: absolute;
                            left: 71%;
                            top: 60%;

                            i{
                                color:#FFFFFF;
                                font-size:1em;
                            }
                        }
                    }

                    > span{
                        font-family: FFLight;
                        font-size: 0.7em;
                        color: #FFFFFF;
                        border: none;
                        margin-top:20px;
                    }
                }
            }
        }
    }
}

.swal2-modal{
    &.slide13Modal{
        #swal2-content{
            display:flex !important;
            align-items: center;
            justify-content: space-between;
            flex-wrap:wrap;

            h1{
                width:100%;
            }

            .content{
                display:flex;
                align-items: center;
                justify-content: center;
                width:100%;
            }

            .icon{
                width:20%;
                height:200px;
                flex-shrink: 0;
                background-repeat: no-repeat;
                background-size: contain;
                background-position:50% 50%;
                background-image:url(../img/2/24.png);
            }

            .text{
                width:80%;
            }
        }
    }

}