@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';

body[data-current-slide-class="slide3"]{
    background-image:url(../img/2/bg2.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide3"] #wrapper {
    //background-color:rgba(172, 209, 79, 0.9);
    background-color:transparent;

    .navigation-buttons{
        .next,
        .prev{
            top:10%;
        }
    }
}

#{$slide} {
    .content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 95%;
        margin-left: 2.5%;
        margin-top: 21px;

        .column{
            width:49%;

            &[data-id="0"]{
                .instructions{
                    width:100%;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f3f4+0,d2d3d5+100 */
                    background: #f2f3f4; /* Old browsers */
                    background: -moz-linear-gradient(left, #f2f3f4 0%, #d2d3d5 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, #f2f3f4 0%,#d2d3d5 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #f2f3f4 0%,#d2d3d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f4', endColorstr='#d2d3d5',GradientType=1 ); /* IE6-9 */
                    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.7);
                    padding:20px;

                    h1{
                        color:#9E1F62;
                        font-family:FFBold;
                        text-align: center;
                        font-size:2em;
                    }

                    hr{
                        margin:0;
                        padding:0;
                        border-color:#9E1F62;
                        border-width:2px;
                        border-style: dashed;
                    }

                    .description{
                        width:100%;
                        display:flex;
                        align-items: center;
                        justify-content: space-between;
                        margin:0;

                        .picture{
                            width: 80%;
                            height: 180px;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            background-size: contain;
                            background-image: url(../img/2/21.png);
                        }

                        .text{
                            padding:10px;
                            color:#9E1F62;
                            font-family: FFLight;
                            font-size:1em;
                        }
                    }
                }

                .draggable-elements{
                    display:flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-top:20px;

                    .draggable-element{
                        width:48%;
                        margin:7px;
                        height:80px;
                        border-radius:10px;
                        background: #f2f3f4; /* Old browsers */
                        background: -moz-linear-gradient(left, #f2f3f4 0%, #d2d3d5 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, #f2f3f4 0%,#d2d3d5 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, #f2f3f4 0%,#d2d3d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f4', endColorstr='#d2d3d5',GradientType=1 ); /* IE6-9 */
                        color:#9E1F62;
                        font-family: FFLight;
                        font-size:1.9em;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        margin-bottom:15px;
                        transition:all 0.35s ease;
                        z-index:20;

                        &:hover,
                        &.is-dragging{
                            cursor:pointer;
                            background:#9E1F62;
                            color:#FFFFFF;
                        }

                        &.is-dragging{
                            transition:none;
                        }
                    }
                }
            }

            &[data-id="1"]{
                display:flex;
                justify-content: space-between;

                .inner-column{
                    &:nth-of-type(1){
                        width:40%;
                    }

                    &:nth-of-type(2){
                        width:58%;
                    }

                    .title{
                        background-color:#12A79D;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        border-radius:15px;
                        flex-direction: column;
                        height:80px;
                        margin-bottom:10px;
                        
                        h1{
                            font-family: FFBold;
                            color:#FFFFFF;
                            font-size:1.8em;
                            margin:3px;
                        }

                        h2{
                            font-family: FFLight;
                            color:#FFFFFF;
                            font-size:1.5em;
                            margin:3px;
                        }
                    }

                    .droppable-element,
                    .concept{
                        border-radius:15px;
                        background: #f2f3f4; /* Old browsers */
                        background: -moz-linear-gradient(left, #f2f3f4 0%, #d2d3d5 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, #f2f3f4 0%,#d2d3d5 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, #f2f3f4 0%,#d2d3d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f4', endColorstr='#d2d3d5',GradientType=1 ); /* IE6-9 */
                        border-radius:15px;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        font-family: FFLight;
                        color:#9E1F62;
                        font-size:1.6em;
                        padding:10px;
                        text-align: left;
                        height:84px;
                        margin-bottom:10px;
                        padding:10px;

                    }

                    .droppable-element{
                        transition:all 0.35s ease;

                        &.highlight{
                            color:#FFFFFF;
                        }

                        &.over{
                            transform:scale(1.2);
                        }
                    }
                }
            }
        }
    }    

    .restart{
        left: 42%;
        top: 80%;
        background-color: purple;

        i{
            color: #FFFFFF;
            font-size: 1.7em;   
        }
        
        &:hover{
            i{
                color:purple;
            }
        }
    }
}
