@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="8"]';

body[data-current-slide-class="slide8"]{
    //background-image:url(../img/2/1.png);
    //background-color:#D91A5B;
    background-size:cover;
}

body[data-current-slide-class="slide8"] #wrapper {
    background-color:#D91A5B;

    .navigation-buttons{
        .prev{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
    }
    [data-id-in-slide="wo77dd"]{
        position:absolute;
        width:46.278752188195384%;
        height:76.04220836155186%;
        left:53.712875%;
        top:19.381999999999998%;
        background-image:url('../img/2/28.png');
    }
    
    [data-id-in-slide="x7wfvn"]{
        position: absolute;
        width: 39.034826%;
        left: 53.48695%;
        top: 72.474%;
    }

    .content{
        width: 46%;
        margin-left: 5%;
        margin-top:3.111%;

        .item{
            position:relative;
            margin-bottom:20px;

            .number{
                position: absolute;
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: solid 3px #FFFFFF;
                background-color: #8BC63E;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-family: FFBold;
                color: #FFFFFF;
                font-size: 2.8em;
                left: -35px;
                top: -15px;
                opacity:0;
                pointer-events: none;
                cursor:pointer;
                transition:all 0.35s ease;
                z-index:15;

                &.visible{
                    opacity:1;
                    pointer-events: all;
                }
            }

            &:nth-of-type(even){
                .number{
                    left:auto;
                    right:-35px;
                }
            }
        }
    }

    .text{
        background-color:#FFFFFF;
        border-radius:15px;
        padding:10px 20px;
        opacity:0;
        pointer-events: none;
        transition:all 0.35s ease;

        &.visible{
            opacity:1;
            pointer-events: all;
        }

        h1{
            font-family: FFBold;
            text-align: center;
            color: #D91A5B;
            margin: 0;
            padding: 0;
            font-size: 1.8em;
        }

        h2,
        li{
            font-family: FFLight;
            text-align: left;
            color:#D91A5B;
            margin:0;
            padding:10px;
            font-size:2em;
        }

        li{
            margin:0;
            padding:0;
        }

        &.main{
            h1{
                font-size:2em;
            }
            h2{
                text-align:center;
            }
        }
    }
    
    .button.start{
        left: 66%;
        top: 84%;
    }
}

