<div class="title-slide" data-ani-class="bounceInRight">
  <h2>TEMA 1</h2>
  <h3>Estándares del proceso de direccionamiento y gerencia</h3>
</div>
<!-- <div class="button hoverable button-continuar" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div> -->
<div class="item_s3 item_hoverable" data-itemtres="1" data-switch-to-slide="4">
  <h2>RELACIÓN DE LOS PROCESOS DE DIRECCIONAMIENTO Y GERENCIA CON LOS DEMÁS PROCESOS</h2>
</div>

<div class="cont-item_s3 item_hoverable" data-itemtres="2" data-switch-to-slide="5">
  <div class="item_s3">
    <h2>PROCESOS RELEVANTES PARA EL CUMPLIMIENTO DE LOS ESTÁNDARES DE DIRECCIONAMIENTO</h2>
  </div>
  <div class="item_s3">
    <h2>PROCESOS RELEVANTES PARA EL CUMPLIMIENTO DE LOS ESTÁNDARES DE GERENCIA</h2>
  </div>
</div>
<div class="cont-personaje" data-ani-class="bounceInUp">
    <img src="img/8/personaje_s8.png" alt="">
</div>
<div class="button hoverable button-continuar btn_cont_S3" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>
