<div class="title-slide" data-ani-class="bounceInLeft">
  <div class="icon-activity"></div>
  <h2>ACTIVIDAD 2 - Parte 2 de 2</h2>
  <h3>Aplique sus conocimientos: Complete el siguiente cuadro teniendo en cuenta una institución de salud previamente identificada.</h3>
</div>
<div class="button hoverable button-finish-act2"><span>Finalizar</span></div>
<div class="cuadro" data-ani-class="bounceInUp">
  <div class="item-colum">
    <h2>ASPECTO</h2>
    <div class="item-drop" data-drop="0" data-posicion="0" >Formulación y revisión periódica del direccionamiento estratégico.</div>
    <div class="item-drop" data-drop="0" data-posicion="1" >Comunicación, difusión y orientación del personal.</div>
    <div class="item-drop" data-drop="0" data-posicion="2" >Identificación y cumplimiento de los requisitos de entrada al proceso de acreditación.</div>
    <div class="item-drop" data-drop="0" data-posicion="3" >Identificación de los clientes internos y externos de los procesos y de sus necesidades.</div>
    <div class="item-drop" data-drop="0" data-posicion="4" >Seguimiento y evaluación del direccionamiento estratégico y del plan estratégico.</div>
  </div>

  <div class="item-colum-select">
    <h2 title="Direccionamiento / Gerencia">D/G</h2>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
</div>

<div class="item-colum-select">
  <h2 title="Cumple / Incumple">C/I</h2>
  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó">Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó">Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó">Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó">Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó">Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

</div>

  <div class="item-colum cont-textarea cont-textarea-inactiv">
    <h2>ARGUMENTO</h2>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
  </div>


</div>
