

<div class="cont-personaje-s7" data-ani-class="bounceInUp">
    <img src="img/5/personaje_s5.png" alt="">
</div>

<div class="titile_s7" data-ani-class="bounceInUp">
  <img src="img/7/tit_s7.svg" alt="">
</div>

<div class="cont-grafica">
  <div class="item_s7" data-ani-class="bounceInDown">
    <h2>La política para promover, proteger y mejorar la salud de la población a partir de los servicios que brinda, en colaboración con las organizaciones y comunidades relevantes.
 Identificación y cumplimiento de los requisitos de entrada al proceso de acreditación.</h2>
  </div>

  <div class="item_s7" data-ani-class="bounceInDown">
    <h2>La conformación interdisciplinaria de los equipos de autoevaluación de estándares de acreditación   Identificación y cumplimiento de los requisitos de entrada al proceso de acreditación.</h2>
  </div>

  <div class="item_s7" data-ani-class="bounceInDown">
    <h2>La definición de un plan con objetivos y estrategias, basado en la información obtenida del equipo de salud, del usuario y su familia.</h2>
  </div>

  <div class="item_s7" data-ani-class="bounceInDown">
    <h2>La monitorización del mejoramiento de los procesos mediante la medición de resultados.
    <br> Identificación y cumplimiento de los requisitos de entrada al proceso de acreditación.</h2>
  </div>

  <div class="item_s7" data-ani-class="bounceInDown">
    <h2>La definición de un plan con objetivos y estrategias, basado en la información obtenida del equipo de salud, del usuario y su familia.</h2>
  </div>

</div>


<div class="button hoverable button-continuar btn_cont_S7" data-switch-to-slide="3" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>
