<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon"></div>
  <h2>Características del manejo de la Información</h2>
</div>
<div class="graphic">
  <div class="title">
    <div class="icon"></div>
    <h2 class="text">Grupo étnico de tipo nómada, originario del norte de la India, establecido desde la Conquista y colonización europea en lo que hoy en día es Colombia. Se diferencian de otros sectores de la sociedad nacional como su idioma propio, llamado romaní o romanés, la ley gitana.</h2>
  </div>
  <div class="sections">
    <div class="left-section">
      <div class="section-name">Gitanos o rom </div>
      <div class="section-description">
        <p>A todos estos grupos les cobija la ley De consulta previa, libre e informada que instituye la previa consulta Antes de hacer alguna intervención que se realice en sus territorios.</p>
      </div>
    </div>
    <div class="arrow"></div>
    <div class="right-section">
      <h2 class="text">El estado colombiano reconoce sus derechos constitucionalmente</h2>
    </div>
  </div>
</div>