<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon"></div>
  <h2>Características del manejo de la Información</h2>
</div>
<div class="graphic">
  <div class="title">
    <div class="icon"></div>
    <h2 class="text">A este grupo pertenecen aquellos descendientes de esclavos africanos nacidos en el país, se ubican por todo el territorio, especialmente en las costas y las ciudades más pobladas</h2>
  </div>
  <div class="sections">
    <div class="left-section">
      <div class="section-name">Afrodescendiente</div>
      <div class="section-description">
        <p>Existe la ley 70 o ley de negritudes que ampara las comunidades asentadas en el Pacifico Colombiano como la de San Basilio de Palenque.</p>
      </div>
    </div>
    <div class="arrow"></div>
    <div class="right-section">
      <h2 class="text">El estado colombiano reconoce sus derechos constitucionalmente</h2>
    </div>
  </div>
</div>