<h2 class="instruction">¿De qué manera ha cambiado su percepción de la población vulnerable después de realizar esta unidad?</h2>
<textarea data-id="0" placeholder="Escriba aquí su respuesta"></textarea>
<div class="text-row">
	<div class="term">Vulnerabilidad acentuada</div>
	<div class="definition">Condición particular de una persona, que hace que sus condiciones de vida y de realización de
derechos sean mucho más graves que las de los demás. Son, entre otros, sujetos de vulnerabilidad
acentuada las mujeres víctimas del conflicto armado. </div>
</div>
<div class="button finish hoverable">
    <span>Finalizar</span>
</div>