<div class="hexagon-row">
    <div class="hexagon is-flipped">
        <div class="back">
            <span>Texto</span>
        </div>
        <div class="front"></div>
    </div>
    <textarea placeholder="Escriba aquí su respuesta" data-id="0"></textarea>
</div>
<div class="hexagon-row">
    <div class="hexagon is-flipped">
        <div class="back">
            <span>Texto</span>
        </div>
        <div class="front"></div>
    </div>
    <textarea placeholder="Escriba aquí su respuesta" data-id="1"></textarea>
</div>
<div class="hexagon-row">
    <div class="hexagon is-flipped">
        <div class="back">
            <span>Texto</span>
        </div>
        <div class="front"></div>
    </div>
    <textarea placeholder="Escriba aquí su respuesta" data-id="2"></textarea>
</div>
<div class="button finish hoverable">
    <i class="fa fa-floppy-o"></i>
    <span>Guardar y finalizar</span>
</div>