<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon"></div>
  <h2>Características del manejo de la Información</h2>
</div>
<div class="graphic">
  <div class="title">
    <div class="icon"></div>
    <h2 class="text">Raizal del Archipiélago de San Andrés y Providencia. Grupo étnico afrocolombiano o afrodescendiente, cuyas raíces culturales son afro-anglo-antillanas y cuyos integrantes mantienen una fuerte identidad caribeña , su lengua carácterística es el Bandé</h2>
  </div>
  <div class="sections">
    <div class="left-section">
      <div class="section-name">Raizales</div>
      <div class="section-description">
        <p></p>
      </div>
    </div>
    <div class="arrow"></div>
    <div class="right-section">
      <h2 class="text">El estado colombiano reconoce sus derechos constitucionalmente</h2>
    </div>
  </div>
</div>