<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon"></div>
  <h2>Características del manejo de la Información</h2>
</div>
<h2 class="instruction">¿Cree usted que estos grupos tienen estos derechos garantizados?¿Qué estrategias deben implementarse?</h2>
<textarea data-id="0" placeholder="Escriba aquí su respuesta"></textarea>
<div class="text-row">
	<div class="term">Grupos de especial protección</div>
	<div class="definition"></div>
</div>
<div class="button finish hoverable">
    <span>Finalizar</span>
</div>