<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon"></div>
  <h2>Características del manejo de la Información</h2>
</div>
<div class="graphic">
  <div class="title">
    <div class="icon"></div>
    <h2 class="text">El genero se conoce como la construcción de roles a partir del sexo, la comunidad LGBTI ha sido objeto de discriminación y maltrato por su preferencia sexual diversa</h2>
  </div>
  <div class="sections">
    <div class="left-section">
      <div class="section-name">LGBTI</div>
      <div class="section-description">
        <p>Libre opción sexual como parte del libre desarrollo de la personalidad contemplado en la constitución</p>
        <p>Reconocimiento de parejas del mismo sexo Sentencia C-075 de 2007 .</p>
        <p>Se reconoce igualdad de derechos para estas parejas</p>
      </div>
    </div>
    <div class="arrow"></div>
    <div class="right-section">
      <h2 class="text">El estado colombiano reconoce sus derechos constitucionalmente</h2>
    </div>
  </div>
</div>