<div class="title-slide fs-bg" data-ani-class="bounceInRight">
    <div class="activity-icon">
        <div class="icon">
            <span>A</span>
        </div>
    </div>
    <h2>Actividad de aprendizaje 1</h2>
    <h3></h3>
</div>
<h2 class="instruction">Relacione las parejas.</h2>
<div class="hexagons">
    <div class="hexagon" data-pair-id="1">
        <div class="back"><span>Grupo etnico</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="1">
        <div class="back"><span>Personas que comparten condiciones de lenguaje, alimentación y cultura</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="2">
        <div class="back"><span>Sujetos de especial protección, que poseen un mayor número de derechos </span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="2">
        <div class="back"><span>Niños, niñas y adolescentes</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="3">
        <div class="back"><span>Se reconoció sus ciudadanía después de 1930</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="3">
        <div class="back"><span>Mujer</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="4">
        <div class="back"><span>Población vulnerable</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="4">
        <div class="back"><span>Condiciones que hacen que alguien esté en riesgo.</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="5">
        <div class="back"><span>Tienen dificultades para ejercer sus derechos por sus limitaciones</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="5">
        <div class="back"><span>Personas con discapacidad</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="6">
        <div class="back"><span>LGBTI</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="6">
        <div class="back"><span>Personas con preferencias sexuales diversas</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="7">
        <div class="back"><span>Inclusión</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="7">
        <div class="back"><span>Política que busca la equidad entrelas personas</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="8">
        <div class="back"><span>Raizal</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="8">
        <div class="back"><span>Euro-afro-descendiente</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="9">
        <div class="back"><span>Género</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="9">
        <div class="back"><span>Construcción social de los roles de las personas. </span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="10">
        <div class="back"><span>Con edades entre 60 y 69 años.</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="10">
        <div class="back"><span>Adulto mayor</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="11">
        <div class="back"><span>Proceso de desarrollo de la vida de los seres humanos</span></div>
        <div class="front"></div>
    </div>
    <div class="hexagon" data-pair-id="11">
        <div class="back"><span>Ciclo de vida</span></div>
        <div class="front"></div>
    </div>
</div>
<div class="button select-cards hoverable">
    <i class="fa fa-hand-o-up" aria-hidden="true"></i>
    <span>Seleccionar cartas</span>
</div>