
<a _href="dynamicPdf/pdf.php" target="_blank" data-activity="Actividad 1" class="disabled">
  <div class="icon" title="Descargar nuevamente las respuestas de la Actividad 1">
    <i class="fa fa-download"></i>
  </div>
</a>

<a _href="dynamicPdf/pdf.php" target="_blank" data-activity="Actividad 3" class="disabled">
  <div class="icon" title="Descargar nuevamente las respuestas de la Actividad 3">
    <i class="fa fa-download"></i>
  </div>
</a>

<div data-id-in-slide="rtpoek" class="fs-bg pointer hover-me">
  <div class="circle"></div>
  <div class="number">1</div>
  <div class="triangle"></div>

  <div class="experience-menu" data-id="0">
    <h2 class="title">Experiencia 1</h2>
    <div class="black-square" data-id="0" data-switch-to-slide="2">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 1</h2>
    </div>
    <div class="black-square disabled" data-id="1">
      <div class="icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <span>Instancias locales para la gestión en derechos humanos</span>
    </div>
  </div>
</div>
<div data-id-in-slide="rzsdt" class="fs-bg pointer disabled">
  <div class="circle"></div>
  <div class="number">2</div>
  <div class="triangle"></div>
  <div class="experience-menu" data-id="1">
    <h2 class="title">Experiencia 2</h2>
    <div class="black-square disabled" data-id="0">
      <div class="icon">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
      </div>
      <span>La formulación de políticas públicas como un escenario de incidencia y gestión de derechos humanos</span>
    </div>
    <div class="black-square disabled" data-id="1" data-switch-to-slide="3">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 2</h2>
    </div>
  </div>
</div>
<div data-id-in-slide="js94t" class="fs-bg pointer disabled">
  <div class="circle"></div>
  <div class="number">3</div>
  <div class="triangle"></div>
  <div class="experience-menu" data-id="2">
    <h2 class="title">Experiencia 3</h2>
    <div class="black-square disabled" data-id="0" data-switch-to-slide="5">
      <div class="icon">
        <i class="fa fa-info" aria-hidden="true"></i>
      </div>
      <span>Incidencia política y herramientas para la incidencia en derechos humanos </span>
    </div>
    <div class="black-square disabled" data-id="1" data-switch-to-slide="6" title="Esta actividad prueba su proceso de aprendizaje, antes de realizarla le recomendamos explorar todos los recursos.">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 3</h2>
    </div>
  </div>
</div>
<div data-id-in-slide="ozfbai"></div>
<div data-id-in-slide="jiukpg" class="s-t"></div>
<div data-id-in-slide="9i3v7b" class="s-t"></div>
<div data-id-in-slide="6tauh8" class="s-t"></div>
<div data-id-in-slide="vufral" class="s-t"></div>
<div data-id-in-slide="p4qsxj" class="s-t"></div>
<div data-id-in-slide="wokdrh" class="s-t"></div>
<div data-id-in-slide="xrv9j5" class="s-t"></div>
<div data-id-in-slide="ykf5hn" class="s-t"></div>
<div data-id-in-slide="4n1b5a" class="s-t"></div>
<div data-id-in-slide="7i7dwr" class="s-t"></div>
<div data-id-in-slide="94roje" class="s-t"></div>
<div data-id-in-slide="n72od4" class="s-t"></div>
<div data-id-in-slide="ei3s5p" class="s-t"></div>
<div data-id-in-slide="mr40sz7" class="s-t"></div>
<div data-id-in-slide="vpqcfs" class="s-t"></div>
<div data-id-in-slide="cjiwe" class="s-t"></div>
<div data-id-in-slide="k15jp" class="s-t"></div>
<div data-id-in-slide="fxe8r" class="s-t"></div>
<div data-id-in-slide="liwh3" class="s-t"></div>
<div data-id-in-slide="6ay9u" class="s-t"></div>
<div data-id-in-slide="4un985" class="s-t"></div>
<div data-id-in-slide="zfxvjo" class="s-t"></div>
<div data-id-in-slide="ipf72i" class="s-t"></div>
<div data-id-in-slide="eg4kfo"></div>
<div data-id-in-slide="wbdc34"></div>
<div data-id-in-slide="tqtp8"></div>
<div data-id-in-slide="2656iz8"></div>
<div data-id-in-slide="j9t49m"></div>
<div data-id-in-slide="mpefnd"></div>
<div data-id-in-slide="x8qtie"></div>
<div data-id-in-slide="fsynt6"></div>
<div data-id-in-slide="59tjc"></div>
<div data-id-in-slide="gw7ybr"></div>
<div data-id-in-slide="l3yq3s"></div>
<div data-id-in-slide="db56b4"></div>
<div data-id-in-slide="kuk6cbf"></div>
<div data-id-in-slide="qfl63"></div>
<div data-id-in-slide="ezcvnk"></div>
<div data-id-in-slide="c97fud"></div>
<div data-id-in-slide="538se"></div>
<div data-id-in-slide="u428ia"></div>
<div data-id-in-slide="1ppui"></div>
<div data-id-in-slide="n3ikf"></div>
<div data-id-in-slide="d7h5i"></div>
<div data-id-in-slide="babj1n"></div>
<div data-id-in-slide="2o6i8m"></div>
<div data-id-in-slide="7gno0b"></div>
<div data-id-in-slide="fsr5fk"></div>
<div data-id-in-slide="x9caee"></div>
<div data-id-in-slide="6rvbph"></div>
<div data-id-in-slide="7anwk4v"></div>
<div data-id-in-slide="gr6tri"></div>
<div data-id-in-slide="rnz6bs"></div>
<div data-id-in-slide="1ksb7t"></div>
<div data-id-in-slide="ak9u2n"></div>
<div data-id-in-slide="s6aywf"></div>
<div data-id-in-slide="yafq27"></div>
<div data-id-in-slide="d415b4"></div>
<div data-id-in-slide="fdakkv"></div>
<div data-id-in-slide="0najn8"></div>