<h1>Usando el caso anterior, construya paso a paso un plan de incidencia y protección
de los derechos afectados. La extensión de este planteamiento
debe ser máximo de una hoja.</h1>
<textarea placeholder="Escriba aquí" data-id="0"></textarea>

<div class="button hoverable finish" data-switch-to-slide="3">
    <span>Guardar</span>
</div>