<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <i class="fa fa-info" aria-hidden="true"></i>
    </div>
  </div>
  <h2>Incidencia política y herramientas para la incidencia en derechos humanos </h2>
</div>
<div data-id-in-slide="9x2vb"></div>
<div data-id-in-slide="q6e458"></div>
<div data-id-in-slide="tuecet"></div>
<div data-id-in-slide="tsi60j"></div>
<div data-id-in-slide="ttc9pm"></div>
<div data-id-in-slide="66be7"></div>
<div data-id="1" class="point click-me visible" data-id-in-slide="h3jju" title="¿Qué es incidencia política?">1</div>
<div data-id="2" class="point click-me" data-id-in-slide="uauzbfv" title="Estas son sus Funciones">2</div>
<div data-id="3" class="point click-me" data-id-in-slide="kllqha" title="Plan de incidencia">3</div>
<div data-id="4" class="point click-me" data-id-in-slide="t861so" title="¿Qué incluyen los planes?">4</div>
<div data-id="5" class="point click-me" data-id-in-slide="4i7vrg" title="Estrategia de incidencia ">5</div>