<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Actividad de aprendizaje 3</h2>
  <h3>Autoevaluación final</h3>
</div>
<div data-id-in-slide="xl1nms"></div>
<div data-id-in-slide="n103js" data-id="1" class="link hoverable" title="Parte 1 de la actividad" data-switch-to-slide="6-1">
  <span>1</span>
</div>
<div data-id-in-slide="wip2p" data-id="2" class="link hoverable" title="Parte 2 de la actividad" data-switch-to-slide="6-2">
  <span>2</span>
</div>
<div data-id-in-slide="o3awkc" data-id="3" class="link hoverable" title="Finalizar actividad">
  <span>3</span>
</div>