<div data-id-in-slide="xl1nms"></div>
<div class="content">
    <h2>Del emparejamiento realizado en el paso 1, escoja tres términos-concepto y descríbalos de manera amplia con el conocimiento que actualmente usted
    maneja sobre este tema.</h2>
    <h2 class="note">Nota:  si en este momento usted considera que aún no puede hacer estas descripciones, continúe con el siguiente punto.</h2>
    <table>
        <thead>
            <tr>
                <th>
                    <span>Término</span>
                </th>
                <th>
                    <span>Descripción</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="writable" data-key="0"></td>
                <td class="writable" data-key="1"></td>
            </tr>
            <tr>
                <td class="writable" data-key="2"></td>
                <td class="writable" data-key="3"></td>
            </tr>
            <tr>
                <td class="writable" data-key="4"></td>
                <td class="writable" data-key="5"></td>
            </tr>
        </tbody>
    </table>
    <div class="buttons">
        <div class="button hoverable check-terms">
            <i class="fa fa-eye"></i>
            <span>Ver términos</span>
        </div>
        <div class="button hoverable save" data-switch-to-slide="2">
            <i class="fa fa-floppy-o"></i>
            <span>Guardar y continuar</span>
        </div>
    </div>
</div>