<h1>Suponga que usted es habitante de la vereda El Hornito y todos los días
debe enfrentarse al problema de agua contaminada, entonces identifique:</h1>

<h2>3. ¿Qué mecanismo(s) de incidencia política y protección sugeriría y descríbalos en dos párrafos?</h2>
<textarea placeholder="Escriba aquí" data-id="0"></textarea>

<h2>4. ¿Qué mecanismo de protección sugeriría?</h2>
<textarea placeholder="Escriba aquí" data-id="1"></textarea>

<div class="button hoverable finish" data-switch-to-slide="3">
    <i class="fa fa-floppy-o"></i>
    <span>Guardar</span>
</div>