<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
        <span>A</span>
      </div>
  </div>
  <h2>Actividad 2</h2>
</div>
<div data-id-in-slide="uyf2z9"></div>
<div data-id-in-slide="93m12r"></div>
<div data-id-in-slide="eq12x9"></div>
<div class="step visible click-me" data-id="1">Paso 1</div>
<div class="step click-me" data-id="2" data-switch-to-slide="4">Paso 2</div>
<div class="step click-me" data-id="3" data-switch-to-slide="5-1">Paso 3</div>
<div class="step click-me" data-id="4" data-switch-to-slide="5-2">Paso 4</div>
<div class="step click-me" data-id="5">Paso 5</div>
<div class="step click-me" data-id="6">Paso 6</div>
<h2 class="description">Identificando los elementos y herramientas para incidir en la formulación de política pública de DDHH en mi territorio.</h2>