<h1>Suponga que usted es habitante de la vereda El Hornito y todos los días
debe enfrentarse al problema de agua contaminada, entonces identifique:</h1>

<h2>1. ¿Cuál es el problema de carácter público y descríbalo en un párrafo?</h2>
<textarea placeholder="Escriba aquí" data-id="0"></textarea>

<h2>2. ¿Qué derechos humanos son los que se encuentran afectados y descríbalo en un párrafo?</h2>
<textarea placeholder="Escriba aquí" data-id="1"></textarea>
<div class="button hoverable continue" data-switch-to-slide="5-1-2">
    <i class="fa fa-arrow-right"></i>
    <span>Continuar</span>
</div>