
<div data-id-in-slide="xl1nms"></div>
<ol>
    <li>Asocie las definiciones que se encuentran a la izquierda con las palabras del cuadro de la derecha según considere. </li>
    <li>Si cree que no hay palabras que correspondan con la definición, avance a la siguiente. </li>
</ol>
<div class="content">
    <div class="draggable-elements">
        <div class="draggable-element">
            <span>Políticas públicas</span>
        </div>
        <div class="draggable-element">
            <span>Acciones afirmativas</span>
        </div>
        <div class="draggable-element">
            <span>Derechos humanos</span>
        </div>
        <div class="draggable-element">
            <span>Mecanismos de protección</span>
        </div>
        <div class="draggable-element">
            <span>Ciclo de vida – pertenencia a grupos étnicos</span>
        </div>
        <div class="draggable-element">
            <span>Plan de incidencia</span>
        </div>
        <div class="draggable-element">
            <span>Mapa de actores</span>
        </div>
        <div class="draggable-element">
            <span>Problemas públicos</span>
        </div>
        <div class="draggable-element">
            <span>Justiciabilidad de los derechos humanos</span>
        </div>
        <div class="draggable-element">
            <span>Disponibilidad</span>
        </div>
    </div>
</div>
<div class="buttons">
    <div class="button hoverable restart">
        <i class="fa fa-refresh"></i>
        <span>Reiniciar</span>
    </div>
    <div class="button hoverable next-term">
        <i class="fa fa-arrow-right"></i>
        <span>Siguiente definición</span>
    </div>
    <div class="button go-back hoverable" data-switch-to-slide="prev">
        <i class="fa fa-floppy-o"></i>
        <span>Guardar y continuar</span>
    </div>
</div>