<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Actividad de aprendizaje 3</h2>
  <h3>¿Qué sé acerca del Sistema Obligatorio de
 garantía de la calidad de la salud?</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

{{!-- <div class="titulo"><span>¿Qué sé acerca del Sistema Obligatorio de
 garantía de la calidad de la salud?</span></div> --}}

 <div class="abs-p fs-bg avatar"></div>

 <div class="abs-p fs-bg fondo"></div>

 <p data-n="1">Revise una vez más  sus conocimientos acerca del Sistema Obligatorio de garantía de calidad de salud.</p>
 <p data-n="2">Seleccione  los conceptos que considere más relevantes. A cada uno de esos conceptos asigne una imagen, símbolo y una frase que le represente. Ingrese al link provisto y organice la información creando así su infograma.</p>
 <p data-n="3">Una vez realizado su infograma  ingrese a la plataforma, compárela con la  anterior y compártala como actividad.</p>

<a href="https://www.canva.com/es_co/" target="_blank">
  <div class="opcion button abs-p infografia hoverable click-me" tooltip="En este enlace podrá construir su infograma de manera fácil y rápida" tooltip-position="left">
   <span>Infografía</span>
 </div>
</a>

<a href="http://esapvirtual.esap.edu.co/extension/mod/assign/view.php?id=19611" target="_blank">
  <div class="opcion button abs-p guardar hoverable click-me">
     <span>Enviar</span>
  </div>
</a>