<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Actividad de aprendizaje 1</h2>
  <h3>¿Qué sé acerca del Sistema Obligatorio de
 garantía de la calidad de la salud?</h3>
</div>