<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <i class="fa fa-info" aria-hidden="true"></i>
    </div>
  </div>
  <h2>Estándares del proceso de mejoramiento de la calidad. </h2>
  <h3>Resumen</h3>
</div>