<div>
	<div class="fs-bg personaje"></div>
    <h1>Usted ha llegado al final de la Unidad en la que se presentaron los diferentes aspectos sobre Peligros, evaluación y valoración de riesgos en el desarrollo organizacional y humano de las empresas.
    <br><br>
	Si usted ya exploró todos los recursos de esta unidad puede obtener el recurso <span>PDF de la unidad</span>, de lo contrario, lo invitamos a terminar de explorar todos los recursos.</h1>
</div>