<div class="content">
    <iframe src="../img/brain-animate/brain.html" scrolling="no" class="brain-icon animated pulse" frameborder="0"></iframe>
    <div class="concepts"></div>
        <h1>{{title}}</h1>
    <div class="challenge-title animated rubberBand">
        <h3>RETO MENTAL </h3>
        <h2>{{subtitle}}</h2>
    </div>
</div>