<p><b>Elabore un mapa conceptual para presentar los métodos de control, teniendo en cuenta lo siguiente:</b></p>

<p>* Consulte los conceptos almacenados en el cofre de conceptos para que los incorpore en su mapa.</p>

<p>* Defina los métodos de control y establezca los responsables de la implementación para el caso analizado en el paso 2 de la actividad.</p>

<p>* Evidencie la identificación de los peligros y riesgos y las propuestas de intervención generada para cada uno de los hallazgos.</p>

<p class="morado">Tenga en cuenta la jerarquización de los controles para el tratamiento de los riesgos identificados.</p>