<div class="fs-bg imagen">	</div>
<p class="texto">Por último, en el aula virtual revise y analice por lo menos una propuesta de intervención de otro estudiante, generando comentarios y/o sugerencias de fortalecimiento para dicha propuesta.</p>