<iframe width="560" height="315" src="https://www.youtube.com/embed/{{AV.mediaid}}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>