@import "../_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./variables";


body{
    background-color:$base;
    // background-color: #69D2E7;
    // background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

}

body.cursor-pointer{
    cursor:pointer;
}

#stage{
    // overflow-y:scroll !important;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
}

.slide{
    .group{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        display:none;

        &.visible{
            display:block;
        }
    }
}

.swal2-modal{
    &.ova-themed{
        background-size: cover;
        background-repeat: no-repeat;
        border: solid white;
        box-shadow: 0 0 20px black inset;
        border-radius: 30px;
        // background-image: url(../img/02.png);
        h1,
        h2,
        h3,
        p,
        li{
            color:$base;
        }

    }
}
.disabled{
    pointer-events:none;
}
