@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons{
    display: none!important;
  }
}

#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  padding-top: 1%;
  perspective-origin: left;


  .home-back {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    // border: solid blue;
    margin-left: 21%;
    background: url(../img/1/home-back.png)50% no-repeat;
    .home-exp {
      animation-iteration-count:infinite;
      position: absolute; //  border: solid blue;
      &[data-exp="1"] {
        width: 35%;
        height: 40%;
        top: 20%;
        left: 23%;

        background: url(../img/1/element-exp1.png)50% no-repeat;
      }
      &[data-exp="2"] {
        width: 35%;
        height: 40%;
        top: 44%;
        left: 35%;
        background: url(../img/1/element-exp2.png)50% no-repeat;
      }
      &[data-exp="3"] {
        width: 14%;
        height: 30%;
        top: 25%;
        left: 57%;
        background: url(../img/1/element-exp3.png)50% no-repeat;
      }
      &[data-exp="4"] {
        width: 20%;
        height: 35%;
        top: 25%;
        left: 68%;
        background: url(../img/1/element-exp4.png)50% no-repeat;
      }
      &:hover{
        cursor: pointer;
        transform: scale(1.1);
        filter:drop-shadow(0 0 20px yellow);
      }
    }
    // .home-exp:hover {
    //   transform: scale(1.1);
    // }
  }

  .button-exp{
    width: 25%;
    position: absolute;
    .title-exp{
      margin: 0;
      padding: 2%;
      width: 110%;
      background: $baseComplement;
      position: relative;
      text-align: left;
      h2{
        margin: 0;
        padding: 0;
        font-family: 'century';
        font-size: 2em;
        color: $base;
      }
      .number{
        position: absolute;
        top: -30%;
        right: -8%;
        background: $baseDark;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        text-align: center;
        padding-top: 2%;
        border: solid white 2px;
        h1{
          margin: 0;
          padding: 0;
          font-size: 3.8em;
          font-family: 'FFBold';
        }
      }
    }
    .button-act{
      width: 100%;
      height: auto;
      padding: 2%;
      background: rgba($color: black, $alpha: 0.5);
      font-family: 'century';
      font-size: 2em;
      color: white;
      transition: all 0.3s ease-out;
      &:hover{
        cursor: pointer;
        color: $baseComplement;
        transform: scale(1.1);
      }
    }
    &[data-button-exp="1"]{
      top: 22%;
      left: 13%;
      // transform: rotateX(-35deg) rotateY(45deg);
    }
    &[data-button-exp="2"]{
      top: 16%;
      left: 71%;
      .title-exp{
        text-align:right;
        margin-left: -10%!important;
        .number{
          right: 90%;
        }
      }
    }
    &[data-button-exp="3"]{
      top: 70%;
      left: 23%;
    }

  }

  .animate-active{
    animation: thiselement 1s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes thiselement {
    0%{box-shadow: 0 0 10px $baseComplement;}
    100%{box-shadow: 0 0 40px white;}
  }

  .disabled{
    opacity: 0.5;
  }
  .initial-message{
    position: absolute;
    bottom:6%;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 80px black;
    text-align: left;
    .cont-texto{
      width: 35%;
      padding: 1%;
      float: left;
      margin-top: 2%;
      margin-left: 8%;
    }
  }

  .second-message{
    position: absolute;
    bottom:7%;
    left: 0%;
    width: 25%;
    height: 20%;
    text-align: left;
    animation-iteration-count: infinite;
    display: none;

    img{
      position: absolute;
      left: 0;
      bottom: -140%;
    }
    .cont-texto{
      width: 100%;
      padding: 3%;
      position: absolute;
      top:-170%;
      left: 5%;
      background: rgba(0,0,0,0.5);
      box-shadow: 0 0 80px black;
      border-radius: 20px;
    }
  }
}
