@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';
body[data-current-slide-class="slide3"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev , .navigation-buttons > .next{
    display: none!important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

  .cont-item{
      width: 90%;
      height: 65%;
      margin: 0 auto;
      position: relative;
      margin-top: 3%;
      img{
          max-width: 42%;
          min-height: 90%;
          display: inline-block;
          vertical-align: middle;
      }
      .text-item{
          width: 57%;
          display: inline-block;
          vertical-align: middle;
          padding-left: 2%;
          p{
            font-family: 'myriadRegular';
            font-size: 2.5em;
            text-align: left;
            padding: 1%;
            span{
                font-family: 'FFBold';
            }
          }
      }
  }
  .cont-button-item{
      width: 90%;
      height: auto;
      padding: 0.5%;
      background: $baseDark;
      margin: 0 auto;
      text-align: center;
      z-index: 2;
      border: solid white 2px;
      margin-top: 1%;
      li{
          text-decoration: none;
          list-style: none;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: $baseComplement;
          display: inline-block;
          vertical-align: top;
          margin: 0 2%;
          animation-iteration-count: infinite;
          cursor: pointer;
          &:hover{
              transform: scale(1.2);
          }
      }

  }
  .item-disabled{
      display: none;
  }
  .see-item{
      background: white !important;
  }
  .btn_cont_S3{
    display: none;
    transition: all 0.3s ease-out;
    }

}
