<div class="cont-back">

  <div class="title-slide" data-ani-class="bounceInRight">
    <div class="icon-activity"></div>
    <h2>ACTIVIDAD 1</h2>
    <h3>Procesos de direccionamiento y la gerencia en las instituciones prestadoras de servicios de salud ¿Conoce algo del tema? </h3>
  </div>

  <div class="button hoverable boton_iniciar"><span>Iniciar</span></div>

</div>
