<div class="team-modal concealed">
    <div class="close-button hoverable">
        <i class="fa fa-angle-double-right"></i>
    </div>
    <div class="header">
        <div class="title">
            <h2>Equipo</h2>
        </div>
        <div class="icon">
            <i class="fa fa-cogs"></i>
        </div>
    </div>
    <div class="body">
        
    </div>
</div>