@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2"]';

body[data-current-slide-class="slide2"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide2"] #wrapper {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ae286e+0,79024d+100 */
    background: rgba(112, 0, 169, 0.5);/* Old browsers */
    

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    h2.instruction{
        font-family:FFBold;
        font-size:2.5em;
        text-align: center;
        color:#FFFFFF;
    }

    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }

    .select-cards{
        display:none;
        left: 76%;
        top: 12%;;

        &.visible{
            display:block;
        }
    }
    
    perspective: 600px; //hexagons

    .hexagons{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        width:95%;
        margin-left:2.5%;

        &.selecting-mode{
            .hexagon{
                transition:none;
                &:hover{
                    transform:scale(1.2) translateX(-100%) rotateY(-180deg);
                }
            }
        }
    }

    .hexagon { //https://3dtransforms.desandro.com/card-flip
        transform-style: preserve-3d;
        cursor: pointer;
        transform-origin: center right;
        transition: all 0.4s ease;
        height: 168px;
        width: 173px;
        margin-bottom: 20px;
        
        
        &:hover{
            .front{
                filter:saturate(1.3);
            -webkit-filter:saturate(1.3);
            }
        }

        > * {
            position: absolute;
            height: 100%;
            width: 100%;
            backface-visibility: hidden;
            &.front {
                background-size:100px;
                background-color: #dd4e9f;
                background-image: url("data:image/svg+xml,%3Csvg width='60' height='48' viewBox='0 0 60 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='fancy-rectangles' fill='%23b81b6a' fill-opacity='0.4'%3E%3Cpath d='M6 12h6v12H6V12zm12 0h6v12h-6V12zm6-12h6v12h-6V0zM12 0h6v12h-6V0zm0 24h6v12h-6V24zM0 0h6v12H0V0zm6 36h6v12H6V36zm12 0h6v12h-6V36zm12-12h6v12h-6V24zM42 0h6v12h-6V0zm-6 12h6v12h-6V12zm12 0h6v12h-6V12zM36 36h6v12h-6V36zm12 0h6v12h-6V36zm-6-12h6v12h-6V24zm12 0h6v12h-6V24z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                border-radius:15px;
                border:solid 3px #FFFFFF;
            }
            &.back {
                transform: rotateY( 180deg);
                display:flex;
                align-items:center;
                justify-content: center;
                text-align: center;
                padding:10px;
                background-color: #f2f2f2;
                color:rgba(0, 0, 0, 0.8);
                border-radius:15px;
                border:solid 3px #FFFFFF;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
                background-size:cover;
                padding:10px;
                
                span{
                    width:95%;
                    font-size:1.5em;
                    font-family:FFBold;
                    line-height:0.9em;
                    height:95%;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color:rgba(255, 255, 255, 0.75);
                }
            }
        }
        &.is-flipped {
            transform: translateX(-100%) rotateY(-180deg);
        }

        &.selected{
            .back{
                filter: drop-shadow(6px 6px 10px #ffeb00);
                -webkit-filter: drop-shadow(6px 6px 10px #ffeb00);
                -moz-filter: drop-shadow(6px 6px 10px #ffeb00);
                -ms-filter: drop-shadow(6px 6px 10px #ffeb00);
            }
        }

        //background-image:url(../img/40.png);
        /*background-size:80%;
        background-position: 50% 50%;*/
    }


}
