@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5-5"]';

body[data-current-slide-class="slide5-5"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide5-5"] #wrapper {
    background: rgba(112, 0, 169, 0.5);/* Old browsers */

    .navigation-buttons{
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .graphic{
        width: 95%;
        margin-left: 2.5%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url(../img/2/57.png);
        height: 580px;

        .title{
            margin:20px;
            width:90%;
            display:flex;
            align-items: center;
            justify-content: space-between;
            background-color:#621C58;
            border-radius:15px;

            .icon{
                width:150px;
                height:150px;
                position:absolute;
                background-size:contain;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-image: url(../img/2/54.png);
            }

            .text{
                width:90%;
                font-family:FFLight;
                font-size:2em;
                text-align:center;
                padding-left:20%;

            }
        }

        .sections{
            display:flex;
            align-items: center;
            justify-content: space-around;

            .left-section{
                width:40%;
                position:relative;

                .section-name{
                    font-family:FFBold;
                    text-align:center;
                    color:#C04485;
                    font-size:5em;
                    position:absolute;
                    width:100%;
                    text-shadow: 2px 4px 3px #621C58;
                }

                .section-description{
                    background-color: rgba(98, 28, 88, 0.85);
                    border-radius: 12px;
                    padding: 30px 20px 20px 20px;
                    margin-top: 55px;
                    text-align: center;

                    h2{
                        font-family: FFBold;
                        font-size:2.3em;
                        text-decoration: underline;
                    }

                    p{
                        font-family:FFBold;
                        font-size:1.9em;
                    }
                }
            }

            .arrow{
                width: 12%;
                height: 410px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50% 100%;
                background-image: url(../img/2/58.png);
            }

            .right-section{
                width:35%;
                background-color:#FAE7C9;
                padding:15px;
                
                .text{
                    color:#FFE873;
                    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
                    font-family:FFBold;
                    font-size:3em;
                    text-align:center;
                }
            }
        }
    }   
}
