
@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  //background-color: #EAEBED;
  background-image: url('../img/2/1.png');
  .navigation-buttons{
    > *{
      display:none;
    }
  }
}

#{$slide} {

  a[data-activity]{
    &.disabled{
      display:none;
    }

    &:hover{
      cursor:pointer;

      .icon{
        background-color:lighten($baseComplement, 10%);
      }
    }

    width:85px;
    height:85px;
    position:absolute;
    z-index:300;

    .icon{
      transition:all 0.35s ease;
      width:100%;
      height:100%;
      background-color:$baseComplement;
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius:100%;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      
      i{
        font-size:4em;
        color:#FFFFFF;
      }
    }

    &[data-activity="Actividad 1"]{
      left:23%;
      top:29%;
    }

    &[data-activity="Actividad 3"]{
      left: 63%;
      top: 6%;
    }
  }

  [data-id-in-slide="rtpoek"]{
    left:22.30233929070844%;
    top:42.54671111070357%;
    z-index:13;
    .circle{
      background-color:#b553d8;
    }
  }
  
  [data-id-in-slide="rzsdt"]{
    left:32.602%;
    top:23.447511111518647%;
    z-index:14;
    .circle{
      background-color:#ce5374;
    }
  }
  
  [data-id-in-slide="js94t"]{
    left: 57.157775%;
    top: 12.623067%;

    .circle{
      background-color:#67b3dd;
    }
  }

  .pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index:100;
    
    &.disabled{
      opacity:0.5;
      filter:opacity(0.5);
    }
    
    &:hover{
      &:not(.disabled){
        cursor:pointer;
        .experience-menu{
          display:block;
          transform: scaleX(1);
          transition:all 0.5s ease;
  
          .black-square{
            transform: scaleX(1);
          }
        }
      }
    }

    .circle{
      width:110px;
      height:110px;
      z-index:12;
      border-radius:100%;
      border:solid 11px #FFFFFF;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      position:relative;
      z-index:100;
    }

    .triangle{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 22px 11px 0 11px;
      position:relative;
      top:-2px;
      border-color: #FFFFFF transparent transparent transparent;
    }

    .number{
      position: absolute;
      font-family: FFBold;
      font-size: 4.3em;
      color: #FFFFFF;
      z-index: 200;
      top: 18px;
    }
  }

  .experience-menu{
    position: absolute;
    width: 431px;
    z-index: 30;
    left: 92%;
    top: 5%;
    //display:none;
    transform: scaleX(0);
    transform-origin:0;

    .title{
      background-color: #E3C44B;
      color: #90133C;
      font-family: FFBold;
      padding: 10px;
      text-align: center;
      font-size: 2.7em;
    }

    .black-square{
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      //height: 90px;
      margin-top: 6px;
      padding: 11px 40px;
      transition:all 0.75s ease;
      transform: scaleX(0);
      transform-origin:0;

      &:hover{
        &:not(.disabled){
          background-color: rgba(6, 70, 107, 0.95);
          cursor:pointer;
        }
      }

      &:nth-of-type(2){
        transition:all 1.2s ease;
      }

      &:nth-of-type(3){
        transition:all 1.6s ease;
      }

      h2{
        font-family: FFBold;
        font-size:2.4em;
      }

      .icon{
        border-radius:100%;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
        display:flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
      }

      span{
        font-family: FFLight;
        font-size:1.5em;
      }

      i{
        font-size:1.9em;
      }

      &.disabled{
        background-color:rgba(40, 40, 40, 0.5);
        &:hover{
          cursor: default;
        }
      }
    }

    &[data-id="0"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
        &[data-id="2"]{
          .icon{
            background-color:#9622C6;
  
            span{
              font-family: FFBold;
              font-size:2em;
            }
          }
        }
      }
    }

    &[data-id="1"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
      }
    }

    &[data-id="2"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
      }
    }
  }
  
  [data-id-in-slide="hkquj"]{
    position:absolute;
  }
  
  [data-id-in-slide="a2voc9"]{
    position:absolute;
  }
  
  [data-id-in-slide="rtpoek"]{
    position:absolute;
  }
  
  [data-id-in-slide="rzsdt"]{
    position:absolute;
  }
  
  [data-id-in-slide="js94t"]{
    position:absolute;
  }
  
  [data-id-in-slide="06kcl"]{
    position:absolute;
    width:29.377480012824734%;
    height:55.021044464315594%;
    left:36.0382858935743%;
    top:44.97922222222222%;
    background-image:url('../img/2/23.png');
  }
  
  [data-id-in-slide="11b1h"]{
    position:absolute;
    width:20.03963730900163%;
    height:36.59437554907128%;
    left:57.78225%;
    top:16.41282507809014%;
    z-index:1;
    background-image:url('../img/2/3.png');
  }
  
  [data-id-in-slide="dni68d"]{
    position:absolute;
    width:5.982922167184362%;
    height:16.246561767904954%;
    left:72.28040160642571%;
    top:15.034777777777776%;
    background-image:url('../img/2/8.png');
    z-index:2;
  }
  
  [data-id-in-slide="2foce7"]{
    position:absolute;
    width:7.188577920078752%;
    height:14.462199928184962%;
    left:51.6407858935743%;
    top:44.70655555555556%;
    background-image:url('../img/2/21.png');
    z-index:13;
  }
  
  [data-id-in-slide="jp4laf"]{
    position:absolute;
    width:9.89808844754016%;
    height:22.314172597508087%;
    left:53.296875%;
    top:34.928491744756805%;
    background-image:url('../img/2/22.png');
    z-index:11;
  }
  
  [data-id-in-slide="a14km7"]{
    position:absolute;
    width:4.978446500847138%;
    height:19.100692047704705%;
    left:63.7375%;
    top:41.504936189201246%;
    z-index:3;
    background-image:url('../img/2/18.png');
  }
  
  [data-id-in-slide="125aoj"]{
    position:absolute;
    width:4.57666849036772%;
    height:18.565968518169903%;
    left:60.516625%;
    top:38.26526952253458%;
    background-image:url('../img/2/17.png');
    z-index:3;
  }
  
  [data-id-in-slide="0e15mx"]{
    position:absolute;
    width:4.577446749890186%;
    height:18.74479253820839%;
    left:56.869964106425705%;
    top:34.72222222222222%;
    z-index:3;
    background-image:url('../img/2/19.png');
  }
  
  [data-id-in-slide="e64ffa"]{
    position:absolute;
    width:5.278873060601781%;
    height:17.313680176434904%;
    left:53.251%;
    top:31.849000000000004%;
    z-index:3;
    background-image:url('../img/2/20.png');
  }
  
  [data-id-in-slide="62ej0yr"]{
    position:absolute;
    width:10%;
    height:10%;
    left:72.51004016064256%;
    top:63.0053547523427%;
    background-image:url('../img/2/19.png');
  }
  
  [data-id-in-slide="62ej0yr"]{
    position:absolute;
    left:62.373839106425706%;
    top:29.599000000000004%;
    background-image:url('../img/2/2.png');
    width:25.56159697383283%;
    height:30.882827643037427%;
    z-index:6;
  }
  
  [data-id-in-slide="vad9hn"]{
    position:absolute;
    width:10%;
    height:10%;
    left:28.277374999999996%;
    top:63.27639714413209%;
    z-index:5;
    background-image:url('../img/2/12.png');
  }
  
  [data-id-in-slide="ielzma"]{
    position:absolute;
    width:10%;
    height:10%;
    left:28.1130891064257%;
    top:70.64933333333335%;
    z-index:6;
    background-image:url('../img/2/13.png');
  }
  
  [data-id-in-slide="er2g4f"]{
    position:absolute;
    width:10.803026559362449%;
    height:27.66967936851573%;
    left:71.0625%;
    top:47.75660285586791%;
    z-index:10;
    background-image:url('../img/2/6.png');
  }
  
  [data-id-in-slide="75yqj"]{
    position:absolute;
    width:7.289154175294929%;
    height:20.352520106467537%;
    left:80.329375%;
    top:34.89273047746542%;
    z-index:6;
    background-image:url('../img/2/7.png');
  }
  
  [data-id-in-slide="hf66za"]{
    position:absolute;
    width:14.617039017887954%;
    height:20.708332461791606%;
    left:15.411901606425703%;
    top:63.05733333333333%;
    z-index:6;
    background-image:url('../img/2/11.png');
  }
  
  [data-id-in-slide="gjo3ad"]{
    position:absolute;
    width:9.49747476233057%;
    height:19.459805367302543%;
    left:18.226401606425704%;
    top:55.03644444444444%;
    z-index:9;
    background-image:url('../img/2/14.png');
  }
  
  [data-id-in-slide="wrk9z"]{
    position:absolute;
    width:11.706441856292356%;
    height:29.988538681636264%;
    left:31.255875%;
    top:22.17711111111111%;
    z-index:8;
    background-image:url('../img/2/10.png');
  }
  
  [data-id-in-slide="48t4eg"]{
    position:absolute;
    width:12.910228560727283%;
    height:27.13296491085871%;
    left:30.787125%;
    top:17.020888888888887%;
    z-index:13;
    background-image:url('../img/2/9.png');
  }
  
  [data-id-in-slide="405zn"]{
    position:absolute;
    width:17.227041098966176%;
    height:38.55555686286813%;
    left:33.7949375%;
    top:23.598602855867917%;
    z-index:14;
    background-image:url('../img/2/4.png');
  }
  
  [data-id-in-slide="umgfpk"]{
    position:absolute;
    width:10.199903005576994%;
    height:21.244270702602073%;
    left:38.11408910642571%;
    top:31.409777777777776%;
    z-index:14;
    background-image:url('../img/2/5.png');
  }
  
  [data-id-in-slide="s4c2y2"]{
    position:absolute;
    width:6.586342930315009%;
    height:21.244984277387328%;
    left:42.9570625%;
    top:40.635730477465415%;
    z-index:19;
    background-image:url('../img/2/15.png');
  }

  > *{
    opacity:0;
  }
}
