@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';

body[data-current-slide-class="slide6"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide6"] #wrapper {
    background-color:#4A72B2;

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
        }
    }

    .cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin-left: 2.5%;
        height: 584px;

        .card{
            width:19%;
            height:100%;
            display:flex;
            align-items: flex-start;
            justify-content: baseline;
            flex-direction: column;
            background-size:contain;
            background-repeat: no-repeat;
            background-position:50% 50%;

            .title{
                font-family: FFBold;
                font-size: 7em;
                color: #002736;
                /* padding: 23px; */
                width: 90%;
                margin-left: 10%;
                text-align: center;
            }

            .text{
                padding: 14px;
                margin-top: 92px;
                width: 90%;
                margin-left: 10%;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: baseline;

                p{
                    font-family: FFBold;
                    font-size: 1.5em;
                    text-align: center;
                }

                .button{
                    position: static;
                    display: block;
                    margin: 0;
                    background-color:transparent;
                    color:#FFFFFF;

                    &:hover{
                        transform:none;
                        background-color:$base;
                    }

                    span{
                        display:block;
                        font-size:0.7em;
                    }
                }
            }

            &[data-id="1"]{
                background-image:url(../img/2/27.png);
            }

            &[data-id="2"]{
                background-image:url(../img/2/28.png);
            }

            &[data-id="3"]{
                background-image:url(../img/2/29.png);

                .buttons{
                    width:100%;
                    display:flex;
                    align-items: center;
                    justify-content: space-around;
                }
            }

            &[data-id="4"]{
                background-image:url(../img/2/30.png);
            }

            &[data-id="5"]{
                background-image:url(../img/2/31.png);
            }
        }
    }
}
