@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons{
    display: none!important;
  }
}

#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  padding-top: 1%;

  .cont-exp{
    position: absolute;
    animation: animabase 5s infinite;
    &[data-cont-exp="1"]{
      width: 50%;
      height: 50%;
      top: 8%;
      left: 9%;
      animation-delay: 1.5s;
      background: url(../img/1/base-exp-1.png)50% no-repeat;
      .item-exp{
        &[data-item="1"]{
          top: -8%;
          left: 50%;
        }
        &[data-item="2"]{
          top: 2%;
          left: 65%;
        }
      }
    }

    &[data-cont-exp="2"]{
      width: 40%;
      height: 50%;
      top: 27%;
      left: 48%;
      animation-delay: 1s;
      background: url(../img/1/base-exp-2.png)50% no-repeat;
      .item-exp{
        &[data-item="1"]{
          top: -50%;
          left: 25%;
        }
        &[data-item="2"]{
          top: -29%;
          left: 57%;
        }
      }
    }
    &[data-cont-exp="3"]{
      width: 43%;
      height: 60%;
      top: 35%;
      left: 20%;
      background: url(../img/1/base-exp-3.png)50% no-repeat;
      .item-exp{
        &[data-item="1"]{
          top: -10%;
          left: 34%;
        }
        &[data-item="2"]{
          top: 20%;
          left: 57%;
        }
      }
    }
    .item-exp{
      position: absolute;
      transition: all 0.3s ease-out;
      &:hover{
        cursor: pointer;
        transform:translateY(-20px);
        filter: drop-shadow(0 20px 10px rgba(0,0,0,0.7));
      }
    }
  }




  @keyframes animabase{
    0%{transform: translateY(0px);}
    50%{transform: translateY(13px);}
    100%{transform: translateY(0px);}
  }



  .animate-active{
    animation: thiselement 1s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes thiselement {
    0%{box-shadow: 0 0 10px $baseComplement;}
    100%{box-shadow: 0 0 40px white;}
  }

  .disabled{
    opacity: 0.5;
  }
  .initial-message{
    position: absolute;
    bottom:6%;
    width: 100%;
    height: 90%;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 80px black;
    text-align: left;
    .cont-texto{
      width: 47%;
      padding: 1%;
      position: absolute;
      left: 15%;
      top: 20%;
    }

    .ini-s1{
      position: absolute;
      right: 20%;
      top: 40%;
    }
  }
}
