@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5"]';
body[data-current-slide-class="slide5"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev ,   .navigation-buttons > .next{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  .title-slide{
    margin-top: -2%;
    h2{
      font-size: 2.5em;
    }
  }
  .cont-item-s5{
    width: 100%;
    height: 75%;
    background: url(../img/5/back_s5.png)no-repeat 50%;
    position: relative;
    margin-top: 4%;
    .item-s5{
      position: absolute;
      filter: drop-shadow(0 0 10px black);
      transition: all 0.3s ease-out;
      &[data-item-cinco="1"]{
        top: -8%;
        left: 45%;
      }
      &[data-item-cinco="2"]{
        top: 24%;
        left: 50%;
      }
      &[data-item-cinco="3"]{
        top: 30%;
        left: 20%;
      }
      &[data-item-cinco="4"]{
        top: 58%;
        left: 57%;
      }
      &[data-item-cinco="5"]{
        top: 70%;
        left: 30%;
      }
      &:hover{
        cursor: pointer;
        transform: scale(1.1);
        filter: drop-shadow(0 0 30px black);
      }
    }
  }
  .modal_cinco{
    position: absolute;
    background: white;
    top: 20%;
    width: 80%;
    left: 10%;
    border: solid white 2px;
    border-radius: 20px;
    box-shadow: 0 0 20px black inset;
    padding: 2%;
    display: none;
    .cont-textarea-s5{
      margin-top: 2%;
      width: 100%;
      textarea{
        min-width: 400px!important;
        padding: 1%;
        font-size: 2em;
      }
    }
    .btn_end_acttwon{
      position: relative;
      margin: 0 auto;
      span{
        font-size: 1.2em;
      }
    }
    .modal-close{
      background-color: #96005A !important;
      border-color: #96005A !important;
      color: white !important;
      font-size: 3em !important;
      transition: all 0.5s ease;
      outline: none;
      position: absolute;
      top: 0;
      right: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 1.2em;
      min-width: 1.2em;
      height: 1.2em;
      margin: 0;
      padding: 0;
      -webkit-transition: color .1s ease;
      transition: color .1s ease;
      border: none;
      border-radius: 0;
      background: transparent;
      color: #cccccc;
      font-family: serif;
      font-size: calc(2.5em - 0.25em);
      line-height: 1.2em;
      cursor: pointer;
    }
    h1, h2{
      margin: 0;
      padding: 0;
      color: $base;
    }
    a{
      text-decoration: none;
      .button{
        span{
          font-size: 1.8em;
        }
      }

    }
    &[data-modal-cinco=""]{

    }
  }


}

.modal_s5{
  border: solid white 2px;
  border-radius: 20px;
  box-shadow: 0 0 20px black inset;
  .contVideoS5{
    margin: 0 auto;
    width: 90%;
    height: 650px;
    iframe{
      height: 640px;
    }


  }

  .contVinculosCuatro{
    width: 100%;
    background: $base;
    padding: 1%;
    border-radius: 20px;
    h1{
      margin: 0;
      padding: 0;
      color: white!important;
    }
    a{
      text-decoration: none;
      .button{
        span{
          font-size: 1.8em;
        }
      }

    }


  }
  h1{
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
  ul{
    list-style: none;
  }
  .ulCuatro{
    list-style:circle;
    text-align: left;
    font-size: 0.9em;
  }
  li{
    font-size: 1.8em;
    margin: 2% 0%;
    a{
      text-decoration: none;
      .button{
        box-shadow: 0 0 20px black;
      }
    }
  }
  img{
    width: 80%;
    margin: 0 auto;
  }
  audio{
    width: 250px!important;
    position: absolute;
    box-shadow: 0 10px 30px 2px rgba(0,0,0,0.5);
    border-radius: 30px;
    &[data-audio="1"]{
      top: 35%;
      left: 26%;
    }
    &[data-audio="2"]{
      top: 7%;
      left: 41%;
    }
    &[data-audio="3"]{
      top: 32%;
      left: 56%;
    }
    &[data-audio="4"]{
      top: 60%;
      left: 43%;
    }
  }

}
