@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="7"]';
body[data-current-slide-class="slide7"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev , .navigation-buttons > .next{
    display: none!important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  .cont-icon-preguntas{
    width: 80%;
    margin: 0 auto;
    .icon-preguntados{
      display: inline-block;;
      vertical-align: top;
      transition: all 0.3s ease-out;
      &:hover{
        cursor: pointer;
        transform: rotateX(30deg) translateY(-30px);
        filter: drop-shadow(0 40px 10px rgba(0,0,0,0.7));
      }
    }

  }

  .cont-preguntados{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 18%;
    left: 0%;
    background: rgba(0,0,0,0.7);
    padding: 1%;
    display: none;
    box-shadow: 0 0 50px black;
    h2, p, li{
      margin: 0;
      padding: 0;
    }
    h2{
      font-family: 'century';
    }
    .pregunta{
      background: rgba(0,0,0,0.3);
      width: 100%;
      padding: 1%;
      margin-top: 1%;
    }
    .cont-text{
      margin-top: 1%;
      margin: 0 auto;
      height: auto;
      textarea{
        margin: 0 auto;
        width: 90%;
        font-family: 'FFLight';
        font-size: 2em;
        border: none!important;
      }
    }
    &[data-pregunta="5"]{
      min-height: 100px;
    }
     .btn-cont-itemdos{
       position: relative;
     }
  }
  .button-finish-s7{
    position: relative;
  }


}
