<div class="fs-bg abs-p isla gr" data-ani-class="grow" data-ani-delay="200"></div>
<div class="fs-bg abs-p edificio gr" data-ani-class="grow" data-ani-delay="400"></div>

<div class="pagina" data-pagina="1">
	<div class="title-slide" data-ani-class="bounceInRight">
		<div class="fs-bg icono" data-n="3"></div> 
		<h2>Actividad de aprendizaje 3</h2>
		<h3>¿Qué aprendí?</h3>
	</div>
	<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>	
		<div class="caja" tooltip="Pregunta 1" tooltip-position="buttom">
			<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="1" data-n="1"><span>1</span></div>
			<div class="fs-bg isla"></div>	
		</div>

		<div class="caja" data-n="2" tooltip="Pregunta 2" tooltip-position="buttom">
			<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="2" data-n="2"><span>2</span></div>
			<div class="fs-bg isla"></div>		
		</div>

		<div class="caja" data-n="3" tooltip="Pregunta 3" tooltip-position="buttom">
			<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="3" data-n="3" ><span>3</span></div>
			<div class="fs-bg isla"></div>		
		</div>

		<div class="caja" data-n="4" tooltip="Pregunta 4" tooltip-position="buttom">
			<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="4" data-n="4"><span>4</span></div>
			<div class="fs-bg isla"></div>		
		</div>

		<div class="button abs-p finalizar hoverable click-me oculto">
			<span>Finalizar</span>
		</div>
</div>

<div class="pagina paginita oculto" data-pagina="2">
	<div class="titulo-pregunta" data-ani-class="bounceInRight">
		<div class="fs-bg icono-pregunta"><span>1</span></div> 
		<h3>¿Cuáles pueden ser los peligros y riesgos en un contexto laboral?</h3>
	</div>

	<div class="contenedor">
		<div class="draggable-items" ></div>
		<div class="dropables iguales"><span>Arrastre aquí riesgos que considera pertinentes para un contexto laboral</span></div>
		<textarea class="iguales" data-respuesta="1" placeholder="Describa aquí los peligros laborales"></textarea>
		<div class="button abs-p reiniciar hoverable click-me oculto">
			<span>Reiniciar</span>
		</div>
	</div>
</div>

<div class="pagina paginita oculto" data-pagina="3">
	<div class="titulo-pregunta" data-ani-class="bounceInRight">
		<div class="fs-bg icono-pregunta"><span>2</span></div>
		<h3>¿Qué métodos de control en seguridad y salud en el trabajo se pueden usar para la intervención de los peligros y riesgos?</h3>
	</div>

	<div class="contenedor" data-n="2">
		<textarea class="" data-respuesta="2" placeholder="Argumente aquí su respuesta"></textarea>
	</div>
</div>

<div class="pagina paginita oculto" data-pagina="4">
	<div class="titulo-pregunta" data-ani-class="bounceInRight">
		<div class="fs-bg icono-pregunta"><span>3</span></div>
		<h3>¿Cuáles métodos de control en seguridad y salud en el trabajo, se pueden establecer teniendo en cuenta la jerarquización de los controles para la intervención de los peligros y riesgos identificados, y utilizando la metodología GTC 45?</h3>
	</div>

	<div class="contenedor" data-n="2">
		<textarea class="" data-respuesta="3" placeholder="Argumente aquí su respuesta"></textarea>
	</div>
</div>

<div class="pagina paginita oculto" data-pagina="5">
	<div class="titulo-pregunta" data-ani-class="bounceInRight">
		<div class="fs-bg icono-pregunta"><span>4</span></div>
		<h3>¿Qué es y cómo se desarrolla un proceso de identificación de peligros y riesgos para las organizaciones?</h3>
	</div>

	<div class="contenedor" data-n="2">
		<textarea class="" data-respuesta="4" placeholder="Argumente aquí su respuesta"></textarea>
	</div>
</div>

<div class="button abs-p volver hoverable oculto acciones">
	<span>Volver</span>
</div>

<div class="button abs-p guardar hoverable oculto acciones">
	<span>Guardar y continuar</span>
</div>