<div class="fs-bg abs-p edificio gr" data-ani-class="grow" data-ani-delay="200"></div>

<div class="pagina" data-pagina="1">
	<div class="title-slide" data-ani-class="bounceInRight">
	    <div class="fs-bg icono"></div> 
	    <h2>Actividad de aprendizaje 2</h2>
	    <h3>Peligros, evaluación y valoración de riesgos en el desarrollo organizacional y humano de las empresas</h3>
	</div>
	<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

	<div class="fs-bg abs-p recurso hoverable click-me noColor" data-recurso="1" data-n="1" tooltip="1 . Recursos" tooltip-position="right"></div>
	<div class="fs-bg abs-p recurso hoverable noColor" data-recurso="2" data-n="2" tooltip="2. Peligros, valoración y evaluación de riesgos" tooltip-position="right"></div>
	<div class="fs-bg abs-p recurso hoverable noColor" data-recurso="3" data-n="3" tooltip="3. Métodos de control" tooltip-position="right"></div>
	<div class="fs-bg abs-p recurso hoverable noColor" data-recurso="4" data-n="4" tooltip="4. Socialización" tooltip-position="right"></div>
	<div class="fs-bg abs-p recurso hoverable noColor" data-recurso="5" data-n="5" tooltip="5. Retroalimentación" tooltip-position="right"></div>

	<div class="button abs-p finalizar hoverable click-me oculto">
		<span>Finalizar</span>
	</div>
</div>

<div class="pagina paginita oculto" data-pagina="2">
	<div class="title-slide" data-ani-class="bounceInRight">
	    <div class="fs-bg icono" data-n="2"></div> 
	    <h2>Actividad de aprendizaje 2</h2>
	    <h3>1. Recursos</h3>
	</div>

	<div class="contenedor">
		<h3 class="descrp">Para el desarrollo de la actividad consulte los siguientes recursos:</h3>
		<div class="botonera">
			<a class="enlace" data-enlace="1" href="img/slide3_anexo1.pdf" target="_blank"><div class="fs-bg hoverable click-me boton-enlace" data-boton-enlace="1" tooltip="Identificación de peligros, valoración y evaluación de riesgos" tooltip-position="right"></div></a>

			<a class="enlace" data-enlace="2" href="img/slide3_anexo2.pdf" target="_blank"><div class="fs-bg hoverable click-me boton-enlace" data-boton-enlace="2" tooltip="GTC 45 Metodología identificación de peligros y riesgos" tooltip-position="right"></div></a>

			<a class="enlace" data-enlace="3" href="img/slide3_anexo3.pdf" target="_blank"><div class="fs-bg hoverable click-me boton-enlace" data-boton-enlace="3" tooltip="Decreto 1072 de 2015" tooltip-position="right"></div></a>

			<a class="enlace" data-enlace="4" href="https://www.draw.io/" target="_blank"><div class="fs-bg hoverable click-me boton-enlace" data-boton-enlace="4" tooltip="Para el desarrollo de mapas conceptuales puede utilizar Draw.io" tooltip-position="right"></div></a>
			
			<a class="enlace" data-enlace="5" href="https://screencast-o-matic.com/" target="_blank"><div class="fs-bg hoverable click-me boton-enlace" data-boton-enlace="5" tooltip="Para elaborar video clip puede utilizar Screencast-O-Matic" tooltip-position="right"></div></a>

		</div>
		{{!-- <div class="fondo-enlace oculto">
			<a class="enlace escondido" data-enlace="1" href="../img/slide3_anexo1.pdf" target="_blank">Identificación de peligros, valoración y evaluación de riesgos</a>
			<a class="enlace escondido" data-enlace="2" href="../img/slide3_anexo2.pdf" target="_blank">GTC 45 Metodología identificación de peligros y riesgos</a>
			<a class="enlace escondido" data-enlace="3" href="../img/slide3_anexo3.pdf" target="_blank">Decreto 1072 de 2015</a>
			<a class="enlace escondido" data-enlace="4" href="https://www.draw.io/" target="_blank">Para el desarrollo de mapas conceptuales puede utilizar Draw.io</a>
			<a class="enlace escondido" data-enlace="5" href="https://screencast-o-matic.com/" target="_blank">Para elaborar video clip puede utilizar Screencast-O-Matic</a>
		</div> --}}
		<div class="button abs-p continuar hoverable click-me oculto">
			<span>Continuar</span>
		</div>
	</div>
</div>

<div class="pagina paginita oculto" data-pagina="3">
	<div class="title-slide" data-ani-class="bounceInRight">
	    <div class="fs-bg icono" data-n="3"></div> 
	    <h2>Actividad de aprendizaje 2</h2>
	    <h3>2. Peligros, valoración y evaluación de riesgos</h3>
	</div>
	<div class="contenedor" data-n="3">
		<div class="izquierda">
			<div class="fs-bg abs-p locura"></div>
			<div class="dropeable"/>
		</div>
		<div class="derecha">
			<h3>Estudio de caso</h3>
			<p>A continuación usted deberá ser un cazador de riesgos. Para ello, sobre la siguiente imagen, identifique los peligros y riesgos en el área de trabajo.</p>
			<div class="fs-bg circulo draggable-items"></div>
		</div>
	</div>
	<div class="button abs-p reiniciar hoverable click-me oculto">
		<span>Reiniciar</span>
	</div>
</div>

<div class="pagina paginita oculto" data-pagina="4">
	<div class="title-slide" data-ani-class="bounceInRight">
	    <div class="fs-bg icono" data-n="4"></div> 
	    <h2>Actividad de aprendizaje 2</h2>
	    <h3>3. Métodos de control</h3>
	</div>

	<div class="contenedor" data-n="2">
		<div class="izquierda">
			<textarea data-n="2" data-respuesta="1" placeholder="Comparta su mapa conceptual en el aula virtual. Si desea, complemente argumentando su propuesta."></textarea>
		</div>
		<div class="derecha">
			<p>Recuerde que puede usar esta herramienta para elaborar el mapa conceptual: Draw io.</p>
			<a href="https://www.draw.io/" target="_blank"><div class="fs-bg mapa hoverable click-me"></div></a>
		</div>
	</div>
</div>

<div class="pagina paginita oculto" data-pagina="5">
	<div class="title-slide" data-ani-class="bounceInRight">
	    <div class="fs-bg icono" data-n="5"></div> 
	    <h2>Actividad de aprendizaje 2</h2>
	    <h3>4. Socialización</h3>
	</div>

	<div class="contenedor" data-n="2">
		<div class="izquierda">
			<textarea data-n="2" data-respuesta="2" placeholder="Si lo desea, escriba aquí argumentos complementarios sobre su propuesta."></textarea>
		</div>
		<div class="derecha">
			<p>Herramienta para elaborar video Screencast-O-Matic.</p>
			<a href="https://screencast-o-matic.com/" target="_blank"><div class="fs-bg mapa hoverable click-me" data-n="2"></div></a>
			
		</div>
	</div>
</div>

<div class="button abs-p volver hoverable oculto acciones">
	<span>Volver</span>
</div>

<div class="button abs-p guardar hoverable oculto acciones">
	<span>Guardar y continuar</span>
</div>