<iframe width="560" height="315" src="https://www.youtube.com/embed/i80YKE__b5s?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>

{{!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/{{AN.mediaid}}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe> --}}