@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';

body[data-current-slide-class="slide6"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide6"] #wrapper {
    background-color:#00accb;

    .navigation-buttons{
        .prev{
            display:none;
        }
    }
}

#{$slide} {

    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }

    
    [data-id-in-slide="e05y8x3fvyirulibpgb9"]{
        position:absolute;
        width:29.11429760201836%;
        height:71.88075283297005%;
        left:70.851875%;
        top:22.048666666666666%;
        background-image:url('../img/2/20.png');
    }    

    .content{
        width:92%;
        margin-left:4%;
        display:flex;
        align-items: center;
        justify-content: space-between;

        .element{
            width:20%;
            position:relative;

            .title{
                width: 100%;
                height: 230px;
                background-size: contain;
                background-position: 50% 50%;
                background-image: url(../img/2/21.png);
                display: flex;
                align-items: center;
                justify-content: center;
                background-repeat: no-repeat;
                font-family: FFBold;
                text-align: center;
                font-size: 1.4em;
                padding: 25px;
            }

            .text{
                width: 100%;
                /* height: 450px; */
                background-color: #FFFFFF;
                border: solid 5px #90133c;
                padding: 15px;
                font-family: FFLight;
                font-size: 1.5em;
                color: #000000;
                position: absolute;
                top: 160px;
            }
        }
    }
}
