@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="19"]';

body[data-current-slide-class="slide19"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide19"] #wrapper {
    background-color:#9769af;

    .navigation-buttons{
        .prev,
        .next{
            top:15%;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }

    [data-id-in-slide="x3eaj6s8uzb7okh2gldi"]{
        position:absolute;
        width:17.443164541447906%;
        height:70.98721342813828%;
        left:10.4296875%;
        top:24.93922222222222%;
        background-image:url('../img/2/2.png');
        z-index:1;
    }
    
    [data-id-in-slide="n0tsaks2b2640ksxlxr"]{
        position:absolute;
        width:38.36956523073991%;
        height:26.274934764839035%;
        left:21.196312499999998%;
        top:36.204815783590426%;
    }
    
    [data-id-in-slide="h84hhejpq0wqwo1j1yvi"]{
        position:absolute;
        width:37.56446761624434%;
        height:15.185759740736085%;
        left:22.042999999999996%;
        top:73.86111111111111%;
    }
    
    [data-id-in-slide="101cjg5ofgrsoabblz0k9"]{
        position:absolute;
        width:31.528293294925806%;
        height:84.04271931502208%;
        left:68.46125%;
        top:14.100666666666667%;
        background-image:url('../img/2/18.png');
    }
    
    [data-id-in-slide="wcp5awyz0e4iy4l323xr"]{
        position:absolute;
        left:50.401375%;
        top:10.246222%;
        width:25.39006008708501%;
        height:73.30903007017803%;
        z-index:1;
        background-image:url('../img/2/19.png');
    }
    
    .description{
        display:flex;
        align-items: center;
        justify-content: center;
        font-family: FFLight;
        color:#000000;
        font-size:2em;
        text-align: center;
        background-color:#ebc346;
        box-shadow:30px 30px 0px rgba(0, 0, 0, 0.4);
        padding-left:80px;
        padding-right:10px;
    }

    .question{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: FFBold;
        background-color:#FFFFFF;
        color:#000000;
        font-size:2em;
        box-shadow:30px 30px 0px rgba(0, 0, 0, 0.4);
        padding-left:60px;
        padding-right:10px;
    }

    .range-selector{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        position:relative;

        .liquid{
            width: 56%;
            height: 560px;
            position: absolute;
            bottom: 0;
            
            .fill{
                position:absolute;
                width:100%;
                bottom:0;
                height: 0;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,2690c7+100 */
                background: rgb(125,185,232); /* Old browsers */
                background: -moz-linear-gradient(top, rgba(125,185,232,1) 0%, rgba(38,144,199,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(38,144,199,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(38,144,199,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#2690c7',GradientType=0 ); /* IE6-9 */
                transition:all 0.65s ease;
            }

            .top{
                width: 100%;
                height: 0px;
                border-radius: 100%;
                bottom: 0%;
                position: absolute;
                background-color: #2690c7;
                z-index: 2;
                transition:all 0.65s ease;
                top:auto;
            }

            &.selected{
                .fill{
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#44af58+0,2bd85f+100 */
                    background: rgb(68,175,88); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(68,175,88,1) 0%, rgba(43,216,95,1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(68,175,88,1) 0%,rgba(43,216,95,1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(68,175,88,1) 0%,rgba(43,216,95,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44af58', endColorstr='#2bd85f',GradientType=0 ); /* IE6-9 */
                }

                .top{
                    background-color: #328243;
                }
            }
        }

        .ranges{
            width: 61%;
            position: relative;
            z-index: 2;

            .range{
                width: 100%;
                height: 145px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                transition:all 0.25s ease;
                cursor: pointer;
                
                span{
                    font-family: FFBold;
                    font-size:2.2em;
                    color:#2b2b2b;
                    text-align: center;
    
                }
            }
        }

        .reflection{
            position: absolute;
            width: 48%;
            height: 79%;
            background-image: url(../img/2/reflection.png);
            background-position: 100% 0;
            background-repeat: no-repeat;
            z-index: 20;
            pointer-events: none;
        }
        
    }
}
