@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  //background-color: #EAEBED;
  background-image: url('../img/2/1.png');
  .navigation-buttons{
    > *{
      display:none;
    }
  }
}

#{$slide} {

  a[data-activity]{
    &.disabled{
      display:none;
    }

    &:hover{
      cursor:pointer;

      .icon{
        background-color:lighten($baseComplement, 10%);
      }
    }

    width:85px;
    height:85px;
    position:absolute;
    z-index:300;

    .icon{
      transition:all 0.35s ease;
      width:100%;
      height:100%;
      background-color:$baseComplement;
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius:100%;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      
      i{
        font-size:4em;
        color:#FFFFFF;
      }
    }

    &[data-activity="Actividad 1"]{
      left:23%;
      top:29%;
    }

    &[data-activity="Actividad 3"]{
      left: 63%;
      top: 6%;
    }
  }

  [data-id-in-slide="rtpoek"]{
    left:22.30233929070844%;
    top:42.54671111070357%;
    z-index:13;
    .circle{
      background-color:#b553d8;
    }
  }
  
  [data-id-in-slide="rzsdt"]{
    left:32.602%;
    top:23.447511111518647%;
    z-index:14;
    .circle{
      background-color:#ce5374;
    }
  }
  
  [data-id-in-slide="js94t"]{
    left: 57.157775%;
    top: 12.623067%;

    .circle{
      background-color:#67b3dd;
    }
  }

  .pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index:100;
    
    &.disabled{
      opacity:0.5;
      filter:opacity(0.5);
    }
    
    &:hover{
      &:not(.disabled){
        cursor:pointer;
        .experience-menu{
          display:block;
          transform: scaleX(1);
          transition:all 0.5s ease;
  
          .black-square{
            transform: scaleX(1);
          }
        }
      }
    }

    .circle{
      width:110px;
      height:110px;
      z-index:12;
      border-radius:100%;
      border:solid 11px #FFFFFF;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      position:relative;
      z-index:100;
    }

    .triangle{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 22px 11px 0 11px;
      position:relative;
      top:-2px;
      border-color: #FFFFFF transparent transparent transparent;
    }

    .number{
      position: absolute;
      font-family: FFBold;
      font-size: 4.3em;
      color: #FFFFFF;
      z-index: 200;
      top: 18px;
    }
  }

  .experience-menu{
    position: absolute;
    width: 431px;
    z-index: 30;
    left: 92%;
    top: 5%;
    //display:none;
    transform: scaleX(0);
    transform-origin:0;

    .title{
      background-color: #E3C44B;
      color: #90133C;
      font-family: FFBold;
      padding: 10px;
      text-align: center;
      font-size: 2.7em;
    }

    .black-square{
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      //height: 90px;
      margin-top: 6px;
      padding: 11px 40px;
      transition:all 0.75s ease;
      transform: scaleX(0);
      transform-origin:0;

      &:hover{
        &:not(.disabled){
          background-color: rgba(6, 70, 107, 0.95);
          cursor:pointer;
        }
      }

      &:nth-of-type(2){
        transition:all 1.2s ease;
      }

      &:nth-of-type(3){
        transition:all 1.6s ease;
      }

      h2{
        font-family: FFBold;
        font-size:2.4em;
      }

      .icon{
        border-radius:100%;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
        display:flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
      }

      span{
        font-family: FFLight;
        font-size:1.5em;
      }

      i{
        font-size:1.9em;
      }

      &.disabled{
        background-color:rgba(40, 40, 40, 0.5);
        &:hover{
          cursor: default;
        }
      }
    }

    &[data-id="0"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
        &[data-id="2"]{
          .icon{
            background-color:#9622C6;
  
            span{
              font-family: FFBold;
              font-size:2em;
            }
          }
        }
      }
    }

    &[data-id="1"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
      }
    }

    &[data-id="2"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
      }
    }
  }

  [data-id-in-slide="119pr6vb6kshfa3ba9k9"]{
    position:absolute;
    width:34.24429634447309%;
    height:41.11924694870612%;
    left:30.4658125%;
    top:47.185850883076235%;
    background-image:url('../img/2/10.png');
    z-index:3;
  }
  
  [data-id-in-slide="q9q53ubyxd5jv0553ik9"]{
    position:absolute;
    width:31.830045826718123%;
    height:39.68746834304437%;
    left:32.902375%;
    top:41.32473977196512%;
    background-image:url('../img/2/16.png');
    z-index:3;
  }
  
  [data-id-in-slide="qvj56d8l1taxyfuvj9k9"]{
    position: absolute;
    width: 140.000977%;
    height: 82.491756%;
    left: -12.2%;
    top: 4.750965%;
    background-image: url(../img/2/17.png);
    z-index: 3;
  }
  
  [data-id-in-slide="lls2bns7sld5gagiudi"]{
    position:absolute;
    width:28.510583766269498%;
    height:33.78598686301839%;
    left:36.663103621730386%;
    top:30.322926894701542%;
    background-image:url('../img/2/15.png');
    z-index:3;
  }
  
  [data-id-in-slide="8da0sahyn7one6q8y3nmi"]{
    position:absolute;
    width:28.5102798185598%;
    height:24.30684912425945%;
    left:38.19725%;
    top:30.998260228034873%;
    background-image:url('../img/2/11.png');
    z-index:3;
  }
  
  [data-id-in-slide="w2yp2wccb3wteu3qbbj4i"]{
    position:absolute;
    width:10.804828359807281%;
    height:20.552203193117037%;
    left:47.17870887826962%;
    top:32.78644444444444%;
    background-image:url('../img/2/14.png');
    z-index:4;
  }
  
  [data-id-in-slide="le38s3dd15g7zmfmkj4i"]{
    position:absolute;
    width:9.89939576423384%;
    height:20.909904959269507%;
    left:41.44239637826961%;
    top:25.093777777777774%;
    background-image:url('../img/2/13.png');
    z-index:3;
  }
  
  [data-id-in-slide="yiaflbuujxd14zcpd5cdi"]{
    position:absolute;
    width:5.773345517440581%;
    height:17.510007964453386%;
    left:52.870125%;
    top:25.039961994187347%;
    background-image:url('../img/2/12.png');
    z-index:3;
  }
  
  [data-id-in-slide="wnbm2gopm69in8us1yvi"]{
    position:absolute;
    width:41.68914856325453%;
    height:50.2395831150095%;
    left:22.930666121730383%;
    top:49.760444444444445%;
    background-image:url('../img/2/9.png');
  }  
  
}

.swal2-modal{
  &.slide1Modal{
    display: flex;
    width: 100% !important;
    /* height: 100%; */
    padding: 100px 100px 100px 200px !important;
    background-color:rgba(0, 0, 0, 0.85);

    h1{
      font-size:3em;
      text-align:left;
    }

    h2{
      color:#FFFFFF;
      font-size:2.2em;
      text-align: left;
      font-family: FFLight;
    }

    hr{
      width: 65%;
      margin-left: 35%;
      border-top: 3px #FFFFFF dashed;
    }
  }
}