@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5"]';

body[data-current-slide-class="slide5"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide5"] #wrapper {
    background-color:rgba(114, 64, 141, 0.66);

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {

    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }

    
    [data-id-in-slide="ji9ikglqc0d5p8f72e29"]{
        position:absolute;
        width:18.450444181200485%;
        height:67.4097836803809%;
        left:29.5078125%;
        top:27.55907310529846%;
        background-image:url('../img/2/2.png');
        z-index:2;
    }
    
    [data-id-in-slide="6i49es0r77jgoelmobt9"]{
        position:absolute;
        width:39.17488696829414%;
        height:33.96546542711128%;
        left:40.063458878269614%;
	    top:31.01388888888889%;
    }    

    .text{
        font-family: FFLight;
        font-size:2em;
        color:#FFFFFF;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left:70px;
        box-shadow:30px 30px 0px rgba(0, 0, 0, 0.5);
        background-color:#00accb;

    }
}
