@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2"]';

body[data-current-slide-class="slide2"]{
    //background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide2"] #wrapper {
    background-color:#9769af;

    .navigation-buttons{
        .prev{
            display:none;
        }

        .next{
            top:22%;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }
    
    [data-id-in-slide="lc0zu3cg16pqmyhqia4i"]{
        position:absolute;
        width:29.61681834169077%;
        height:73.49053085876369%;
        left:70.38%;
        top:20.94966666666667%;
        background-image:url('../img/2/18.png');
    }
    
    [data-id-in-slide="kv0ld07vz3cdv64unmi"]{
        position:absolute;
        width:19.25460001832283%;
        height:70.6302485049184%;
        left:11.7734375%;
        top:23.732628660854015%;
        background-image:url('../img/2/2.png');
        z-index:1;
    }
    
    [data-id-in-slide="mjal39xyvx39gi3blnmi"]{
        position:absolute;
        width:49.33563017509354%;
        height:29.851324745347085%;
        left:24.2715%;
        top:36.894111111111116%;
    }

    .text{
        box-shadow:30px 30px 0px rgba(0, 0, 0, 0.3);
        background-color:#ebc346;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color:#000000;
        padding-left:40px;

        h1{
            text-align:center;
            font-family:FFBold;
            font-size:2.5em;
        }

        h2{
            font-family:FFLight;
            font-size:2em;
            text-align:center;
        }
    }
}
