<div>
<h1>Usted ha explorado y evaluado su conocimiento sobre la gestión organizacional de los grupos de apoyo en Seguridad y Salud en el Trabajo, específicamente el Comité de Convivencia Laboral.
<br><br>
Ahora puede obtener el documento completo de la unidad por medio del botón PDF en el menú superior. Si usted considera que necesita complementar la actividad 2 puede usar esta información para hacerlo durante el tiempo que esté el aula abierta.
</h1>
</div>
