<iframe src="img/activity-animate/activity.html" scrolling="no" class="brain-icon animated pulse" frameborder="0"></iframe>
<h1>SE HAN GUARDADO LAS RESPUESTAS DE ESTA ACTIVIDAD</h1>
<div class="content-download">
      <!-- <a href="http://localhost:8888/sst_ud4_dynamicPdf/pdf_act02.php?{{parametros}}" target="_blank"> -->
    <a href="dynamicPdf/pdf_act02.php?{{parametros}}" target="_blank">
        <div class="button-down-pdf fa fa-file-pdf-o hoverable"><i class="fa fa-download"></i></div>
    </a>
    <h2>1. Descargue el documento PDF</h2>
</div>
<div class="content-sendActivity">
    <a href="{{assignLink}}" target="_blank">
        <div class="button-send fa fa-paper-plane hoverable"><i class="fa fa-upload"></i></div>
    </a>
    <h2>2. Envie el documeto de Actividad 2</h2>
</div>
