<h1>5) Comparta la infografía en la plataforma virtual, y realice aportes constructivos con  relación a las medidas de intervención propuestas por otros compañero.</h1>
<div class="cont-textarea-s5">
  <textarea name="name" rows="8" cols="70" placeholder="Si desea complementar su análisis registre aquí sus ideas"></textarea>
</div>
<br>
<div class="button hoverable btn_end_acttwon">
  <span>Finalizar Actividad</span>
</div>
