<h1>4) Para el desarrollo de este punto tenga en cuenta lo siguiente:</h1>
<ul class="ulCuatro">
  <li>Consulte los conceptos que se encuentran en el cofre para que los involucre según su pertinencia en la síntesis que presentará a través de una infografía.</li>
  <li>Tome en cuenta el análisis que realizó sobre el video en el punto anterior. </li>
  <li>Elabore una infografía a través de la cual presente: las conductas que considera como acoso laboral y las que no, asimismo proponga las medidas de intervención y prevención:</li>
</ul>
<div class="contVinculosCuatro">
  <h1>Consulte el siguiente material de apoyo sobre el diseño de infografías:</h1>
  <a href="https://www.youtube.com/watch?v=lkxd0Lz6x2w" target="_blank"> <div class="button hoverable"><span>¿Qué es, para qué y cómo hacer una infografía?</span></div> </a>
  <a href="https://www.youtube.com/watch?v=88FeHXdBOYM" target="_blank"> <div class="button hoverable"><span>¿Cómo elaborar una infografía en Power Point?</span></div> </a>
  <a href="https://www.easel.ly/" target="_blank"> <div class="button hoverable"><span>Herramienta web para elaborar infografías</span></div> </a>
</div>
