<div class="team-modal">
    <div class="close-button hoverable">
        <i class="fa fa-angle-down"></i>
    </div>
    <div class="header">
        <div class="title">
            <h2>Equipo de Diseño y Desarrollo</h2>
        </div>
    </div>
    <div class="body">
    </div>
</div>
