@import "../_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./variables";


body{
    background-color:$base;
    // background-color: #69D2E7;
    // background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

}

body.cursor-pointer{
    cursor:pointer;
}

#stage{
    // overflow-y:scroll !important;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
}

.slide{
    .group{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        display:none;

        &.visible{
            display:block;
        }
    }
}

.swal2-modal{
    &.ova-themed{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/02.png);
        background-color: $base;
        border-radius: 25px;
        h1,
        h2,
        h3,
        p,
        li{
            color:white;
            line-height: 1.4;
        }
    }
}

.disabled{
    pointer-events:none;
}

.oculto{
    visibility: hidden;
    opacity: 0;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 14px 16px 0 16px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='left']::before{
  left:-4%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg) 
}
[tooltip-position='top']::before{
  left:50%;
}
[tooltip-position='buttom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:-14px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 2em;
    min-width: 115%;
    border-radius: 15px;
    pointer-events: none;
    padding: 3%;
    z-index:99;
    opacity:0;
}

[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
}
[tooltip-position='top']::after{
  left:50%;
}
[tooltip-position='buttom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}

.title-slide{
    .icono{
        background-image: url(../img/1/actividad_1.png);
        width: 5%;
        height: 60px;
        margin-top: 2%;
        float: left;

        &[data-n="2"]{ 
          background-image: url(../img/1/r_3.png);
        }

        &[data-n="3"]{ 
          background-image: url(../img/1/a_3.png);
        }
    }

    h2{
        float: left;
        width: 83%;
    }

    h3{
        float: left;
    }
}

.button-continuar{
    width: 23%!important;
}

.modal3{
  .button{
    float: left;
    margin-top: 2%!important;
    margin-left: 10%!important;
    width: 34%;
  }
}

.noColor{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */
}

.slide3ModalPagina{
  width: 90%!important;
  height: 700px;
  background-color: rgba(#000618, 0.8)!important;

  p{
    font-family: FFLight;
    font-size: 1.7em;
    color: white;
    margin-top: 1%;
    text-align: left;

    &.morado{
      color: #BA007C!important;
      font-weight: bold;
    }
  }
}

.slide3P5{
    
  background-color: #FFC843!important;

  .imagen{
    float: left;
    background-image: url(../img/3/imagen.png);
    width: 30%;
    height: 150px;
    margin-left: 5%;
    margin-top: 5%;
  }

  .texto{
    float: left;
    font-family: FFLight;
    font-size: 1.4em;
    color: #551224!important;
    width:  60%;
  }
}

.slide4Modal{
  background-color: #FFC843!important;

  h2{
    color: #551224!important;
  }
}

.modalText{
  h2{
    color: white!important;
  }
}

.allDoneModal{
  width: 70%!important;
  height: 550px;
  background-color: rgba(#000618, 0.9)!important;

  h1, h2{
    color: white!important;

    span{
      color: #BA007C!important;
    }
  }
}

.gr{
  -ms-transform: scale(0); /* IE 9 */
  -webkit-transform: scale(0); /* Safari */
  transform: scale(0);
  transform-origin: 50% 100%;
}

.grow{
    animation-duration: 2s;
    animation-name: grow;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: grow;
}

@keyframes grow{
  0% {transform:scaleY(0)}
  100% {transform:scaleY(1)}
}
@-moz-keyframes grow{
  0% {transform:scaleY(0)}
  100% {transform:scaleY(1)}
}
@-webkit-keyframes grow{
  0% {transform:scaleY(0)}
  100% {transform:scaleY(1)}
}

.modalPdf{

  p{
    font-family: FFBold;
    font-size: 1.8em;
  }

  .boton{
    float: left;  
    margin-left: 13%;
    background-color: #731632;
    width:  30%;
    height: 200px;

    .fs-bg{
        width: 100%;  
        height:   130px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: unset;

        &.sube{
          background-image: url(../img/2/enviar.png);
        }

        &.baja{
          background-image: url(../img/2/descarga.png);
        }
    }

    p{
      font-size: 1em;

      &[data-n="2"]{
        font-size: 0.9em;
      }
    }
  }
  
}