@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';
body[data-current-slide-class="slide3"] #wrapper {
  background-color: #7A4B9E;
}
#{$slide} {
  background-color: #7A4B9E;
  text-align: center;

  /* unvisited link */
  a:link {
      color: #90133C;
  }

  /* visited link */
  a:visited { 
      color: #000618;
  }

  /* mouse over link */
  a:hover {
      color: #000618;
  }

  /* selected link */
  a:active {
      color: blue;
  }

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .edificio{
    background-image: url(../img/3/edificio.png);
    width: 55%;
    height: 87%;
    left: 53%;
    top: 8%;
  }

  textarea{
    width: 84%;
    height: 80%;
    min-height: 30%;
    float: left;
    margin-left: 8%;
    border-color: transparent;
    color: #680F10;
    padding: 2%;
    font-size: 1.4em;

    &[data-n="2"]{
        margin: 0;
        width: 100%;  
        height: 100%; 
        font-size: 2.2em;
    }
  }

  textarea:hover{
    border-color: $base;  
  }

  textarea::-webkit-input-placeholder {
    color: #9A999E;
    text-align:center;
    padding-top: 15%;
    font-size: 1.5em;
  }
  textarea:-moz-placeholder {
    color: #9A999E;
    text-align:center;
    padding-top: 15%; 
    font-size: 1.5em;
  }
  textarea:-ms-input-placeholder { 
    color: #9A999E;
    text-align:center;
    padding-top: 15%; 
    font-size: 1.5em;
  }

  .isla{
    background-image: url(../img/1/isla.png);
    width: 80%;
    height: 77%;
    left: 72%;
    top: 40%;
  }

  .pagina{
    position: absolute;
    top: 7%;
    left: 0%;
    width: 100%;
    height: 86%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    .title-slide{
      margin-left: 10%;

      h3{
        width: 63%;
      }
    }

    .button-continuar{ top: 4%; }

    .recurso{
      background-image: url(../img/3/recurso1.png);
      width: 15%;
      height: 25%;
      left: 8%;
      top: 24%;
      z-index: 5;
      transition: all 0.7s linear;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;

      &[data-n="2"]{
        background-image: url(../img/3/recurso2.png);
        left: 21%;
        top: 34%; 
        z-index: 4;         
      }

      &[data-n="3"]{
        background-image: url(../img/3/recurso3.png);
        left: 34%;
        top: 44%;
        z-index: 3;          
      }

      &[data-n="4"]{
        background-image: url(../img/3/recurso4.png);
        left: 47%;
        top: 54%; 
        z-index: 2;         
      }

      &[data-n="5"]{
        background-image: url(../img/3/recurso5.png);
        left: 60%;
        top: 64%;
        z-index: 1;          
      }
    }

    .title-slide .icono {
      background-image: url(../img/1/a_2.png);
      width: 9%;
      height: 110px;
      margin-top: 2%;
      float: left;

      &[data-n="2"]{ background-image: url(../img/3/recurso1.png); }
      &[data-n="3"]{ background-image: url(../img/3/recurso2.png); }
      &[data-n="4"]{ background-image: url(../img/3/recurso3.png); }
      &[data-n="5"]{ background-image: url(../img/3/recurso4.png); }
      &[data-n="6"]{ background-image: url(../img/3/recurso5.png); }
    }

    .descrp{
        font-family: FFLight;
        font-size: 2.5em;
        color: white;
        text-align: center;
    }

    .contenedor{
      margin-top: 5%;
      margin-left: 5%;
      width: 90%;
      height: 75%;
      padding: 3%;

      [tooltip]::before {
        border-width: 50px 16px 0 16px;
      }

      [tooltip]::after {
       width: 600%;
      }

      &[data-n="2"]{
        background-color: #FF8B00;
        margin-top: 10%;
        margin-left: 10%;
        width: 81%;
        padding: 0;

        .izquierda{
          float: left;
          width: 80%;
          height: 100%;
        }

        .derecha{
          float: left;
          width: 20%;
          height: 100%; 
          padding-top: 8%;

          p{
            font-size: 2.1em;
            font-family: FFLight;
          }

          .mapa{
            background-image: url(../img/3/mapa.png);
            width: 70%;
            height: 30%;
            margin-top: 5%;
            margin-left: 17%;

            &[data-n="2"]{
              background-image: url(../img/3/mapa2.png);
            }
          }
        }
      }

      &[data-n="3"]{
        background-color: #FF8B00;
        margin-top: 10%;
        margin-left: 17%;
        width: 81%;
        height: 68%;
        padding: 0;

        .izquierda{
          float: left;
          width: 80%;
          height: 100%;

        .locura{
          background-image: url(../img/3/locura.png);
          width: 85%;
          height: 69%;
          left: 2%;
          top: 20%;
        }
      }

        .derecha{
          float: left;
          width: 13%;
          height: 100%; 
          padding: 0.506%;
          margin-left: 7%;

          p{
            font-family: FFLight;
            font-size: 1.4em;
            color: white;
          }

          .draggable-items{
            position: relative;
            width: 100%;
            height: 30%;
            margin-top: 5%;
            margin-left: 0%;
            z-index: 10;
            
            .circulo{
              background-image: url(../img/3/circulo.png);
              width: 100%;
              height: 100%;
              position: absolute!important;
              left: 0;
              top: 0;
            }
          }
        }
      }

      .botonera{
        position: absolute;
        top: 26%;
        left: 25%;
        width: 10%;
        height: 60%;

        .boton-enlace{
          float: left;
          background-image: url(../img/3/rombo_inactivo.png);
          width: 82%;
          height: 20%;
          margin-top: 12%;
          transition: all 0.7s linear;
          -webkit-transition: all 0.7s linear;
          -moz-transition: all 0.7s linear;
          -ms-transition: all 0.7s linear;
          -o-transition: all 0.7s linear;

          &.activo, &:hover{
            background-image: url(../img/3/rombo_activo.png);
          }
        }
      }

      .fondo-enlace{
        position: absolute;
        top: 52%;
        left: 15%;
        width: 73%;
        height: 35%;
        padding: 6% 7%;
        background-color: #EBC346;

        a{
          font-family: FFBold;
          font-size: 2.3em;
        }
      }

      .continuar{
        top: 89%;
        left: 85%;
        background-color: #90133C;
        span{color: #F6F7F6;}
        border-radius: 25px;
      }
    }
  }

  .dropeable{
    position: absolute;
    width: 85%;
    height: 69%;
    left: 2%;
    top: 20%;
    z-index: 2;

    .drop{
      float: left;
      width: 16.606%;
      height: 33.306%;

        &.highlight{
            background-color: rgba($base, 0.5);
            -webkit-box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
            -moz-box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
            box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
        }

        &.over{
            background-color:rgba($base, 0.1);
        }

        .circulo{
          background-image: url(../img/3/circulo.png);
          width: 80%;
          height: 100%;
          margin-left: 10%
        }

        .equis{
          background-image: url(../img/3/equis.png);
          width: 60%;
          height: 60%;
          margin-left: 25%;
          margin-top: 15%;
        }
    }
  }

  .reiniciar{
    top: 90.506%;
    left: 48%;
    background-color: #90133C;
    span{color: #F6F7F6;}
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
  }

  .volver{
    top: 84.506%;
    left: 63%;
    background-color: #90133C;
    span{color: #F6F7F6;}
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
  }

  .guardar{
    top: 84.506%;
    left: 71.506%;
    background-color: #90133C;
    span{color: #F6F7F6;}
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
  }

  .finalizar{
      top: 80%;
      left: 82%;
  }

}