@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="4"]';
body[data-current-slide-class="slide4"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/4/background.png');
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/4/background.png');
  text-align: center;

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .contenedor{
    position: absolute;
    top: 25%;
    left: 20%;
    width: 59%;
    height: 62%; 

    .boton{
      float: left;
      background-image: url(../img/4/boton_amarillo.png);
      width: 48%; 
      height: 13%; 
      margin-left: 2%;
      margin-top: 2%;
      display: inline-table;
      text-align: center;
      transition: all 0.7s linear;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;

      span{
        font-family: FFBold;
        font-size: 1.8em;
        color: #250002;
        display: table-cell;
        vertical-align: middle;
      }

      &:hover{
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%); /* Para cuando es estándar funcione en todos */
        
      }

      &.naranja{
        background-image: url(../img/4/boton_naranja.png);
      }

      &.largo{
        background-image: url(../img/4/boton_amarillo_largo.png);
      }

      &[data-n="2"]{
        width: 100%;  
      }
    }
  }
  
}