@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
}

#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
  
  .actividad{
      top: 80%;
      left: 82%;
  }

  .disabled{
    opacity: 0.5;
  }

  .isla{
    background-image: url(../img/1/isla.png);
    width: 57%;
    height: 55%;
    left: 20%;
    top: 55%;
  }

  .isla-peque{
    background-image: url(../img/1/isla1.png);
    width: 19%;
    height: 25%;
    left: 7.506%;
    top: 53%;

    &[data-n="2"]{
      background-image: url(../img/1/isla2.png);
      left: 73%;
      top: 49%;     
    }
  }

  .arbol{
    background-image: url(../img/1/arbol.png);
    width: 3%;
    height: 10%;
    left: 40%;
    top: 71%;

    &[data-n="2"]{
      left: 44.506%;
      top: 73%;     
    }

    &[data-n="3"]{
      left: 49%;
      top: 70%;
    }

    &[data-n="4"]{
      left: 59.506%;
      top: 66%;      
    }
  }

  .tablas{
    background-image: url(../img/1/tablas.png);
    width: 6%;
    height: 10%;
    left: 34%;
    top: 71%;
  }

  .edificio{
    background-image: url(../img/1/edificio1.png);
    width: 15%;
    height: 32%;
    left: 23%;
    top: 43%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    &[data-n="2"]{
      background-image: url(../img/1/edificio2.png);
      top: 20%;
      left: 32.506%;
      width: 25%;
      height: 48%;
    }

    &[data-n="3"]{
      background-image: url(../img/1/edificio3.png);
      top: 54.506%;
      left: 62.506%;
      width: 9%;
      height: 14%;
    }

    .icono{
      position: absolute;
      background-image: url(../img/1/exp_1_inactivo.png);
      width: 53%;
      height: 41%;
      left: 7%;
      top: -29%;
      z-index: 2;
      transition: all 0.7s linear;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;

      &.expe_1{
        background-image: url(../img/1/exp_1_activo.png);
      }

      &[data-n="2"]{
        background-image: url(../img/1/exp_2_inactivo.png);
        width: 20.506%;
        height: 23%;
        left: 49%;
        top: 14%;      

        &.expe_2{
            background-image: url(../img/1/exp_2_activo.png);
          }

        &.izquierda{
          left:   22%;
        }
      }

      &[data-n="3"]{
        background-image: url(../img/1/exp_3_inactivo.png);
        width: 57.506%;
        height: 77%;
        left: 21%;
        top: -64%;   

        &.expe_3{
          background-image: url(../img/1/exp_3_activo.png);
        }   
      }
    }

    .caja{
      position: absolute;
      width: 130%;
      height: 80%;
      top: -16%;
      left: -106%;
      z-index: 1;

      .titulo{
        width: 100%;  
        height: 20%;
        background-color: #EBC346;
        display: inline-table;
        text-align: center;

        span{
          font-family: FFBold;
          font-size: 1.8em;
          color: #90133C;
          display: table-cell;
          vertical-align: middle;
        }
      }

      .cajita{
        margin-top: 5%;
        width:  93%;
        height: 35%;
        margin-left: 7%;
        background-color: rgba(#000618, 0.7);
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;

        .simbolo{
          float: left;
          background-image: url(../img/1/a_1.png);
          width:  20%;
          height: 55%;
          margin-left: 10%;
          margin-top: 6%;

          &[data-n="2"]{background-image: url(../img/1/r_1.png);}
          &[data-n="3"]{background-image: url(../img/1/r_2.png);}
          &[data-n="4"]{background-image: url(../img/1/a_2.png);}
          &[data-n="5"]{background-image: url(../img/1/r_3.png);}
          &[data-n="6"]{background-image: url(../img/1/a_3.png);}
        }

        .nombre{
          float: left;
          width:  70%;
          height:   100%;
          padding: 1%;
          display: inline-table;
          text-align: center;

          span{
            font-family: FFBold;
            font-size: 1.8em;
            color: white;
            display: table-cell;
            vertical-align: middle;

            &[data-n="2"]{
              font-size: 1.3em;
            }

            &[data-n="3"]{
              font-size: 1.5em;
            }
          }
        }

        &[data-n="2"]{margin-left: 0;}
      }

      &[data-n="2"]{
        top: 17%;
        left: 37%;
        width: 90%;
        height: 60%;
      }

      &[data-n="3"]{
        top: -50%;
        left: 37%;
        width: 250%;
        height: 220%;
      }

    } //fin caja
  }
}
