<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Experiencia de aprendizaje 2</h2>
  <h3>Ahora hablaremos acerca de el estándar número 5  que corresponde a la gestión del espacio físico.</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar</span></div>

<div class="contenedor" data-ani-class="pulse" data-ani-delay="400">
	<div class="fs-bg mapa"></div>
</div>
<div class="abs-p fs-bg control" data-ani-class="shake" data-ani-delay="700">
	<div class="direccion hoverable" data-n="1" data-direccion="resta" data-posicion="y"><i class="fa fa-caret-up"></i></div>
	<div class="direccion hoverable" data-n="2" data-direccion="suma" data-posicion="x"><i class="fa fa-caret-right"></i></div>
	<div class="direccion hoverable" data-n="3" data-direccion="suma" data-posicion="y"><i class="fa fa-caret-down"></i></div>
	<div class="direccion hoverable" data-n="4" data-direccion="resta" data-posicion="x"> <i class="fa fa-caret-left"></i></div>
</div>

<div class="fs-bg abs-p audios" data-n="1" data-ani-class="pulse" data-ani-delay="900">
	<audio controls class="repro" id="audio1">
	<source src="img/4/Audio1_OVA_ESAP.mp3" type="audio/mp3">
	Your browser does not support the audio element.
	</audio> 
</div>
<div class="fs-bg abs-p audios" data-n="2" data-ani-class="pulse" data-ani-delay="1100">
	<audio controls class="repro" id="audio2">
	<source src="img/4/Audio2_OVA_ESAP.mp3" type="audio/mp3">
	Your browser does not support the audio element.
	</audio> 
</div>
<div class="fs-bg abs-p audios" data-n="3" data-ani-class="pulse" data-ani-delay="1300">
	<audio controls class="repro" id="audio3">
	<source src="img/4/Audio3_OVA_ESAP.mp3" type="audio/mp3">
	Your browser does not support the audio element.
	</audio> 
</div>
<div class="fs-bg abs-p audios" data-n="4" data-ani-class="pulse" data-ani-delay="1500">
	<audio controls class="repro" id="audio4">
	<source src="img/4/Audio4_OVA_ESAP.mp3" type="audio/mp3">
	Your browser does not support the audio element.
	</audio> 
</div>