<div class="hexagono">
  <div class="hexa"></div>
</div>

<div class="button hoverable button-continuar" data-ani-class="bounceInLeft" data-switch-to-slide="3" data-ani-delay="1000"><span>Continuar</span></div>

<div class="abs-p fs-bg avatar" data-ani-class="bounce" data-ani-delay="300"></div>

<div class="contenedor" data-ani-class="pulse" data-ani-delay="700">
  <h1>ACTIVIDAD 1</h1>
  <hr/>
  <p>¿Qué conozco sobre el estándar de gerencia del talento humano y del ambiente físico?
  <br><br>
  Complete los espacios en blanco para construir frases coherentes usando el listado de palabras.
  </p>
</div>

{{!-- <div class="button abs-p continuar hoverable click-me" data-ani-class="bounceInUp">
  <span>Continuar</span>
</div> --}}