<div class="abs-p fs-bg mesa" data-ani-class="bounce" data-ani-delay="300"></div>
<div class="abs-p fs-bg grafica" data-n="1" data-ani-class="bounce" data-ani-delay="400"></div>
<div class="abs-p fs-bg grafica" data-n="2" data-ani-class="bounce" data-ani-delay="500"></div>
<div class="abs-p fs-bg tarjeta" data-n="1" data-ani-class="bounce" data-ani-delay="600"></div>
<div class="abs-p fs-bg tarjeta" data-n="2" data-ani-class="bounce" data-ani-delay="700"></div>
<div class="abs-p fs-bg mano" data-n="1" data-ani-class="bounce" data-ani-delay="1000"></div>
<div class="abs-p fs-bg mano" data-n="2" data-ani-class="bounce" data-ani-delay="1300"></div>
<div class="abs-p fs-bg tarjeta" data-n="3" data-ani-class="bounce" data-ani-delay="1400"></div>

<div class="abs-p fs-bg hoverable click-me learning-experience tran disabled clicked" data-experience="1" data-n="1" data-ani-class="bounce" data-ani-delay="1700"></div>
<div class="abs-p fs-bg hoverable click-me learning-experience tran disabled clicked" data-experience="2" data-n="2" data-switch-to-slide="4" data-ani-class="bounce" data-ani-delay="2100"></div>
<div class="abs-p fs-bg hoverable click-me learning-experience tran disabled clicked" data-experience="3" data-n="3" data-ani-class="bounce" data-ani-delay="2500"></div>

<div class="abs-p fs-bg hoverable click-me actividad tran" data-actividad="1" data-n="1" data-switch-to-slide="2" data-ani-class="bounce" data-ani-delay="1800"><p>Actividad 1</p></div>
<div class="abs-p fs-bg hoverable click-me actividad tran disabled clicked" data-actividad="2" data-n="2" data-switch-to-slide="5" tooltip="Pista: Para realizar esta actividad es importante explorar la mayor cantidad de contenido de este recurso. Si no lo ha hecho le recomendamos hacerlo antes de desarrollarla." tooltip-position="buttom" data-ani-class="bounce" data-ani-delay="2200"><p>Actividad 2</p></div>
<div class="abs-p fs-bg hoverable click-me actividad tran disabled clicked" data-actividad="3" data-n="3" tooltip="Pista: Para realizar esta actividad es importante explorar la mayor cantidad de contenido de este recurso. Si no lo ha hecho le recomendamos hacerlo antes de desarrollarla." tooltip-position="left" data-switch-to-slide="6" data-ani-class="bounce" data-ani-delay="2600"><p>Actividad 3</p></div>