<div class="abs-p fs-bg avatar" data-ani-class="bounce" data-ani-delay="1100"></div>

<div class="contenedor" data-ani-class="pulse" data-ani-delay="300">
  <h1>ACTIVIDAD 2</h1>
  <hr/>
  <p>Procesos relacionados con la gerencia del talento humano y del ambiente físico en instituciones prestadoras de salud.
  <br><br>
  Si considera que necesita más información para realizar esta actividad puede seguir explorando este recurso y volver después.
  </p>
  <div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft" ><span>Continuar</span></div>
</div>

<div class="caja" data-ani-class="pulse" data-ani-delay="500">
	<a href="img/FORMATO U5_ACT2_V2.xlsx" target="_blank">
		<div class="fs-bg imagen hoverable click-me"></div>
	</a>
	<div class="contenido">
		<p>Descargue y diligencie el formato teniendo en cuenta una IPS con la que se encuentre relacionado, si es necesario consulte algunos de los recursos disponibles.</p>
	</div>
</div>

<div class="caja" data-n="2" data-ani-class="pulse" data-ani-delay="700">
	<a href="https://www.powtoon.com/home/es/?edgetrackerid=10099087263812&gclid=CjwKCAjwspHaBRBFEiwA0eM3kflpjZVSdaVtEtW8jW4sMO5LTMDcNgzG7WovQo9KkMY30m7oAJBOoxoC6gIQAvD_BwE" target="_blank">
		<div class="fs-bg imagen hoverable click-me"></div>
	</a>
	<div class="contenido">
		<p>Una vez realizado este análisis realice un video de 2 minutos empleando los conceptos obtenidos en su cofre de conceptos. Para esto identifique las ideas principales, asígneles símbolos e imágenes y explíquelas en sus palabras. Elabore este video por medio de la herramienta Powtoons.</p>
		<a href="https://youtu.be/dNV2tFxKH8c" target="_blank">¿Cómo usar powtoons?</a>
	</div>
</div>

<div class="caja" data-n="3" data-ani-class="pulse" data-ani-delay="900">
	<a class="foro" href="" target="_blank">
		<div class="fs-bg imagen hoverable click-me foro"></div>
	</a>
	<div class="contenido">
		<p>Comparta la dirección del video en el foro de la unidad.</p>
		<p>Estando en el foro escoja el video de un compañero y propónga aportes para mejorarlo.</p>
	</div>
</div>

<div class="abs-p explorar hoverable click-me fs-bg">
</div>