<div class="ova-content-footer">
    <div class="esap-logo"></div>
    <div class="main-info">
        {{!-- <div class="unit-info animated fadeInUp" title="Título del curso">
            <h2>
                <b>{{courseTitle}}</b>
            </h2>
        </div> --}}
        <div class="ova-title animated fadeInUp" title="Título de la unidad">
            <h2>{{ovaTitle}}</h2>
        </div>
    </div>
    <div class="icon-oka"></div>
    <div class="copy-container">
        <h3>ESAP - 2018 © Departamento de Capacitación <br> Todos los derechos reservados</h3>
    </div>
</div>