<div class="title-slide" data-ani-class="bounceInRight">
  <h2>TEMA 2. Evaluación de estándares de acreditación.</h2>
  <h3>2.2. Herramientas de evaluación de los estándares de acreditación</h3>
</div>
<div class="button hoverable button-continuar btn_cont_S5" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<iframe src="https://www.youtube.com/embed/{{media.AV.mediaid}}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
