<div class="home-back" data-ani-class="bounceInUp">
  <!-- <img
    src="img/1/element-exp1.svg"
    alt="triangle with all three sides equal"
    height="87px"
    width="100px" /> -->
    <div class="home-exp" data-exp="1" data-switch-to-slide="3" title="Recurso 1"></div>
    <div class="home-exp" data-exp="2" data-switch-to-slide="9" title="Recurso 4"></div>
    <div class="home-exp" data-exp="3" data-switch-to-slide="4" title="Recurso 2"></div>
    <div class="home-exp" data-exp="4" data-switch-to-slide="5" title="Recurso 3"></div>
</div>


<br>



<div data-ani-class="bounceInDown" class="button-exp" data-button-exp="1">
  <div class="title-exp">
    <h2>Experiencia de Aprendizaje</h2>
    <div class="number">
      <h1>1</h1>
    </div>
  </div>
  <div class="button-act animate-active" data-button-act="1" data-switch-to-slide="2">ACTIVIDAD 1</div>
</div>

<div data-ani-class="bounceInRight" class="button-exp disabled" data-button-exp="2">
  <div class="title-exp">
    <h2>Experiencia de Aprendizaje</h2>
    <div class="number">
      <h1>2</h1>
    </div>
  </div>
  <div class="button-act" data-button-act="2" data-switch-to-slide="6">ACTIVIDAD 2</div>
</div>

<div data-ani-class="bounceInLeft" class="button-exp disabled" data-button-exp="3">
  <div class="title-exp">
    <h2>Experiencia de Aprendizaje</h2>
    <div class="number">
      <h1>3</h1>
    </div>
  </div>
  <div class="button-act" data-button-act="3" data-switch-to-slide="10">ACTIVIDAD 3</div>
</div>

<div class="initial-message" data-ani-class="bounceInUp">
  <div class="cont-texto">
  <h2>Para dar inicio a la unidad lo invitamos a evaluar su conocimiento acerca de Estándares de Acreditación.</h2>
  </div>
  <img src="img/8/personaje_s8.png" alt="">
</div>

<div class="second-message" data-ani-class="pulse">
  <div class="cont-texto">
  <h2>Explore cada uno de los recursos y realice las actividades propuestas en las experiencias de aprendizaje.</h2>
  </div>
  <img src="img/8/personaje_s8.png" alt="">
</div>
