<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>ACTIVIDAD 1</h2>
  <h3>Comparación entre los diferentes estándares</h3>
</div>

  <div class="button hoverable button-finish"><span>Finalizar</span></div>



<div class="cont-preguntas">
  <h2>Diligencie el siguiente cuestionario, teniendo en cuenta sus conocimientos previos. <br> Marque su respuesta y justifíquela:</h2>
  <div class="pregunta">
    <h2>1.Los estándares de habilitación son equivalentes a los estándares de acreditación en salud
    </h2>
  </div>

  <div class="options">
    <li>
      <input type="checkbox" size="60" name="" id="1" value="Totalmente de acuerdo">
      <p>Totalmente de acuerdo</p>
    </li>
    <li>
      <input type="checkbox" name="" id="2" value="Parcialmente de acuerdo">
      <p>Parcialmente de acuerdo</p>
    </li>
    <li>
      <input type="checkbox" name="" id="3" value="Totalmente en desacuerdo">
      <p>Totalmente en desacuerdo</p>
    </li>
    <li>
      <input type="checkbox" name="" id="4" value="Parcialmente en desacuerdo">
      <p>Parcialmente en desacuerdo</p>
    </li>
  </div>

  <div class="cont-text">
    <textarea name="" id="" cols="30" rows="5" placeholder="Escriba aquí"></textarea>
  </div>
</div>
