<div>
    <div class="markup">
        <pre style="text-align: left; font-size: 16px;">
            <code class="html">{{markup}}</code>
        </pre>
    </div>
    <hr/>
    <div class="styles">
        <pre style="text-align: left; font-size: 16px;">
            <code class="css">{{styles}}</code>
        </pre>
    </div>
</div>
