<h1>BIENVENIDO A LA ACTIVIDAD DE APLICACIÓN DE SUS CONOCIMIENTOS. </h1>
<div class="content">
    <div class="icon"></div>
    <div class="text">
        <h2>Explore el siguiente gráfico dando clic en cada uno de los botones ubicados en los recuadros de diferentes colores</h2>
    </div>
</div>