<h1>Actividad 1</h1>
<hr>
<h2>¿Cómo considera usted su grado de conocimiento de los grupos de especial protección de derechos humanos? Relacione las imágenes en parejas. Recuerde que está evaluando su conocimiento actual sobre este tema y por tanto no es obligatoria usar todas las imágenes pero si debe encontrar por lomenos (3)tres parejas. </h2>
<h2>Cuando considere que ya finalizó escoja (3) tres términos haciendo clic sobre cada recuadro para avanzar.</h2>

