@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';
body[data-current-slide-class="slide3"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
  text-align: center;

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .title-slide h3{
    font-size: 1.9em;
    width: 80%;
  }

  .contenedor{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 85%;
    height: 67%;

    .caja{
      float: left;
      width: 22%;
      height: 30%;
      margin-top: 1.506%;
      margin-left: 3%;

      .titulo{
        border-radius: 50px;
        float: left;
        width: 100%;
        height: 25%;
        display: inline-table;
        text-align: center;

        span{
          font-family: FFBold;
          font-size: 1.5em;
          color: white;
          display: table-cell;
          vertical-align: middle;
        }

        &[data-n="2"]{
          span{
            font-size: 1.4em;
          }
        }

        &.rosado{background-color: #E33A5A;}
        &.morado{background-color: #A3195B;}
        &.limon{background-color: #95C11F;}
        &.verde{background-color: #3AAA35;}
        &.naranja{background-color: #F39200;}
        &.ocre{background-color: #DD820A;}

        &.izquierda{
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }

        &.derecha{
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }

      }

      textarea{
        width: 84%;
        height: 78%;
        min-height: 30%;
        float: left;
        margin-left: 8%;
        border-color: transparent;
        color: #680F10;
        padding: 2%;
        font-size: 1.4em
      }

      textarea:hover{
        border-color: $base;  
      }

      textarea::-webkit-input-placeholder {
        color: #9A999E;
        text-align:center;
        padding-top: 15%;
        font-size: 2em;
      }
      textarea:-moz-placeholder {
        color: #9A999E;
        text-align:center;
        padding-top: 15%; 
        font-size: 2em;
      }
      textarea:-ms-input-placeholder { 
        color: #9A999E;
        text-align:center;
        padding-top: 15%; 
        font-size: 1.5em;
      }
    }
  }

}