@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="7"]';
body[data-current-slide-class="slide7"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/7/background.png');
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/7/background.png');
  text-align: center;

  .tabla{
    background-image: url(../img/7/tabla.png);
    width: 50%;
    height: 78%;
    left: 0;
    top: 8%;
  }

  .esteto{
    background-image: url(../img/7/esteto.png);
    width: 36%;
    height: 30%;
    left: 61%;
    top: 25%;
  }

  h2, h3{
    position: absolute;
    top: 65%;
    left: 38%;
    width: 64%;
    font-family: FFBold;
    font-size: 3.5em;
    color: #009788;
    border-bottom: dotted 11px;  
    text-align: left;
  }

  h3{
    border: none;
    top: 73%;
  }
  
}