@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2"]';
body[data-current-slide-class="slide2"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/2/background.png');
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/2/background.png');
  text-align: center;

  .doctor{
    background-image: url(../img/10/doctor.png);
    width: 20%;
    height: 62%;
    left: 14%;
    top: 10%;
  }

  p{
    position: absolute;
    top: 38%;
    left: 42%;
    width: 45%;
    font-family: FFBold;
    font-size: 3em;
    color: white;
  }
  
}