@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="4"]';
body[data-current-slide-class="slide4"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/4/background.png');
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/4/background.png');
  text-align: center;

  p{
    position: absolute;
    top: 38%;
    left: 42%;
    width: 45%;
    font-family: FFBold;
    font-size: 3em;
    color: #009788;
  }

  .consultorio{
    background-image: url(../img/4/consultorio.png);
    width: 40%;
    height: 81%;
    left: 4%;
    top: 7%;
  }
  
}