@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="4"]';

body[data-current-slide-class="slide4"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide4"] #wrapper {
    background-color:rgba(114, 64, 141, 0.66);

    .navigation-buttons{
        > *{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
        }
    }
    
    [data-id-in-slide="qqd01r"]{
        position:absolute;
        width:27.142916367391425%;
        height:70.95337700800786%;
        left:0%;
        top:23.116531890467908%;
        z-index:2;
        background-image:url('../img/2/32.png');
    }
    
    [data-id-in-slide="qvwc9n"]{
        position:absolute;
        width:30.751055299267694%;
        height:47.12216170001933%;
        left:69.249375%;
        top:47.74648187354988%;
        background-image:url('../img/2/51.png');
        z-index:3;
    }
    
    [data-id-in-slide="7zqjh"]{
        position:absolute;
        width:28.81752952345563%;
        height:33.6011327520785%;
        left:71.181875%;
        top:29.995710389678397%;
        background-image:url('../img/2/35.png');
        z-index:2;
    }
    
    [data-id-in-slide="hsdao"]{
        position:absolute;
        width:9.61180153689639%;
        height:38.87006381517466%;
        left:59.860903134516384%;
        top:56.398555555555554%;
        background-image:url('../img/2/49.png');
    }
    
    [data-id-in-slide="8q6c4"]{
        position:absolute;
        width:24.43503536923579%;
        height:50.55684077122004%;
        left:41.17164605387181%;
        top:43.809377056345056%;
        background-image:url('../img/2/36.png');
    }
    
    [data-id-in-slide="sxibk9"]{
        position:absolute;
        width:39.25860199187029%;
        height:19.16434043890178%;
        left:37.3524375%;
        top:25.48611111111111%;
        background-image:url('../img/2/50.png');
        z-index:4;
    }
    
    [data-id-in-slide="lj49rf"]{
        position:absolute;
        width:19.15013076534404%;
        height:29.47678316435454%;
        left:29.892111688388198%;
        top:23.71493261190062%;
        z-index:8;
        background-image:url('../img/2/33.png');
    }

    [data-id-in-slide="7dn2ra"]{
        position:absolute;
        width:20.053536045578962%;
        height:21.685377191286417%;
        left:29.854624999999995%;
        top:36.69795627698827%;
        background-image:url('../img/2/41.png');
    }
    
    [data-id-in-slide="12d7ke"]{
        position:absolute;
        width:21.08519658135151%;
        height:20.081161180394435%;
        left:77.473125%;
        top:30.79626594523395%;
        z-index:0;
        background-image:url('../img/2/41.png');
    }
 
    .audio-trigger{
        position:absolute;
        background-color:$baseComplement;
        border-radius:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        text-align:center;
        width:80px;
        height:80px;
        transition:all 0.35s ease;
        z-index:30;
        display:none;

        &.visible{
            display: flex;
        }

        &:hover{
            cursor:pointer;
        }
    
        i{
            color:rgba(0, 0, 0, 0.7);
            font-size:3.2em;
        }

        &.click-me{
            &:not(.clicked){
                background-color:$base;
            }
        }

        &[data-id="1"]{
            left: 13%;
            top: 25%;
        }

        &[data-id="2"]{
            left: 50%;
            top: 31%;
        }

        &[data-id="3"]{
            left: 82%;
            top: 28%;
        }

        &[data-id="4"]{
            left: 56%;
            top: 47%;
        }

        &[data-id="5"]{
            left: 70%;
            top: 60%;
        }

        &[data-id="6"]{
            left: 87%;
            top: 57%;
        }
    }
    
}