@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  //background-color: #EAEBED;
  background-image: url('../img/2/1.png');
  .navigation-buttons{
    > *{
      display:none;
    }
  }
}

#{$slide} {

  a[data-activity]{
    &.disabled{
      display:none;
    }

    &:hover{
      cursor:pointer;

      .icon{
        background-color:lighten($baseComplement, 10%);
      }
    }

    width:85px;
    height:85px;
    position:absolute;
    z-index:300;

    .icon{
      transition:all 0.35s ease;
      width:100%;
      height:100%;
      background-color:$baseComplement;
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius:100%;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      
      i{
        font-size:4em;
        color:#FFFFFF;
      }
    }

    &[data-activity="Actividad 1"]{
      left:23%;
      top:29%;
    }

    &[data-activity="Actividad 3"]{
      left: 63%;
      top: 6%;
    }
  }

  [data-id-in-slide="rtpoek"]{
    left:22.30233929070844%;
    top:42.54671111070357%;
    z-index:13;
    .circle{
      background-color:#b553d8;
    }
  }
  
  [data-id-in-slide="rzsdt"]{
    left:32.602%;
    top:23.447511111518647%;
    z-index:14;
    .circle{
      background-color:#ce5374;
    }
  }
  
  [data-id-in-slide="js94t"]{
    left: 57.157775%;
    top: 12.623067%;

    .circle{
      background-color:#67b3dd;
    }
  }

  .pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index:100;
    
    &.disabled{
      opacity:0.5;
      filter:opacity(0.5);
    }
    
    &:hover{
      &:not(.disabled){
        cursor:pointer;
        .experience-menu{
          display:block;
          transform: scaleX(1);
          transition:all 0.5s ease;
  
          .black-square{
            transform: scaleX(1);
          }
        }
      }
    }

    .circle{
      width:110px;
      height:110px;
      z-index:12;
      border-radius:100%;
      border:solid 11px #FFFFFF;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      position:relative;
      z-index:100;
    }

    .triangle{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 22px 11px 0 11px;
      position:relative;
      top:-2px;
      border-color: #FFFFFF transparent transparent transparent;
    }

    .number{
      position: absolute;
      font-family: FFBold;
      font-size: 4.3em;
      color: #FFFFFF;
      z-index: 200;
      top: 18px;
    }
  }

  .experience-menu{
    position: absolute;
    width: 431px;
    z-index: 30;
    left: 92%;
    top: 5%;
    //display:none;
    transform: scaleX(0);
    transform-origin:0;

    .title{
      background-color: #E3C44B;
      color: #90133C;
      font-family: FFBold;
      padding: 10px;
      text-align: center;
      font-size: 2.7em;
    }

    .black-square{
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      //height: 90px;
      margin-top: 6px;
      padding: 11px 40px;
      transition:all 0.75s ease;
      transform: scaleX(0);
      transform-origin:0;

      &:hover{
        &:not(.disabled){
          background-color: rgba(6, 70, 107, 0.95);
          cursor:pointer;
        }
      }

      &:nth-of-type(2){
        transition:all 1.2s ease;
      }

      &:nth-of-type(3){
        transition:all 1.6s ease;
      }

      h2{
        font-family: FFBold;
        font-size:2.4em;
      }

      .icon{
        border-radius:100%;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
        display:flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
      }

      span{
        font-family: FFLight;
        font-size:1.5em;
      }

      i{
        font-size:1.9em;
      }

      &.disabled{
        background-color:rgba(40, 40, 40, 0.5);
        &:hover{
          cursor: default;
        }
      }
    }

    &[data-id="0"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
        &[data-id="2"]{
          .icon{
            background-color:#9622C6;
  
            span{
              font-family: FFBold;
              font-size:2em;
            }
          }
        }
      }
    }

    &[data-id="1"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
      }
    }

    &[data-id="2"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
      }
    }
  }

  [data-id-in-slide="umui3t"]{
    position:absolute;
  }
  
  [data-id-in-slide="j9tcv"]{
    position:absolute;
  }
  
  [data-id-in-slide="rtpoek"]{
    position:absolute;
  }
  
  [data-id-in-slide="rzsdt"]{
    position:absolute;
  }
  
  [data-id-in-slide="js94t"]{
    position:absolute;
  }
  
  [data-id-in-slide="ozfbai"]{
    position:absolute;
    width:42.609588294459215%;
    height:40.54256557295171%;
    left:31.59725%;
    top:59.45411111111111%;
    background-image:url('../img/2/27.png');
    z-index:10;
  }
  
  [data-id-in-slide="jiukpg"]{
    position:absolute;
    width:95.97538994525812%;
    height:82.18059495540894%;
    left:1.707333614911045%;
    top:10.084877777777779%;
    background-image:url('../img/2/31.png');
    z-index:8;
  }
  
  [data-id-in-slide="9i3v7b"]{
    position:absolute;
    width:5.6164947297346295%;
    height:15.957900438458692%;
    left:20.1975%;
    top:5.428244444444444%;
    background-image:url('../img/2/10.png');
    z-index:25;
  }
  
  [data-id-in-slide="6tauh8"]{
    position:absolute;
    width:9.999056150077944%;
    height:20.081296499379675%;
    left:25.2313504058059%;
    top:8.55131111111111%;
    z-index:8;
    background-image:url('../img/2/7.png');
  }
  
  [data-id-in-slide="vufral"]{
    position:absolute;
    width:5.358298140169573%;
    height:24.2070307464875%;
    left:14.124600405805902%;
    top:19.438666666666666%;
    z-index:17;
    background-image:url('../img/2/18.png');
  }
  
  [data-id-in-slide="p4qsxj"]{
    position:absolute;
    width:5.100014812708455%;
    height:25.58063488395044%;
    left:18.2528370941941%;
    top:22.93788888888889%;
    z-index:17;
    background-image:url('../img/2/18.png');
  }
  
  [data-id-in-slide="wokdrh"]{
    position:absolute;
    width:5.229810108441488%;
    height:16.645456202468424%;
    left:11.2728125%;
    top:29.127122319162883%;
    z-index:19;
    background-image:url('../img/2/8.png');
  }
  
  [data-id-in-slide="xrv9j5"]{
    position:absolute;
    width:5.373222895297516%;
    height:17.925479113654525%;
    left:15.43781880452912%;
    top:33.52143323639267%;
    z-index:21;
    background-image:url('../img/2/8.png');
  }
  
  [data-id-in-slide="ykf5hn"]{
    position:absolute;
    width:5.289367583365972%;
    height:14.63586080764216%;
    left:6.244056195470879%;
    top:33.07198468460259%;
    z-index:23;
    background-image:url('../img/2/10.png');
  }
  
  [data-id-in-slide="4n1b5a"]{
    position:absolute;
    width:5.373487434027814%;
    height:14.187227765130803%;
    left:8.61168119547088%;
    top:35.842999999999996%;
    z-index:28;
    background-image:url('../img/2/10.png');
  }
  
  [data-id-in-slide="7i7dwr"]{
    position:absolute;
    width:2.4292187286418025%;
    height:4.914956586999495%;
    left:7.859187500000001%;
    top:48.333333333333336%;
    z-index:18;
    background-image:url('../img/2/13.png');
  }
  
  [data-id-in-slide="94roje"]{
    position:absolute;
    width:5.625837744485642%;
    height:8.654103336873316%;
    left:13.554131304529118%;
    top:46.17477777777777%;
    z-index:30;
    background-image:url('../img/2/12.png');
  }
  
  [data-id-in-slide="n72od4"]{
    position:absolute;
    width:6.2146709231637205%;
    height:9.700913769399813%;
    left:10.93581880452912%;
    top:47.53576656972601%;
    z-index:36;
    background-image:url('../img/2/3.png');
  }
  
  [data-id-in-slide="ei3s5p"]{
    position:absolute;
    width:7.643954044716836%;
    height:14.634677892097073%;
    left:14.681%;
    top:52.12577777777778%;
    z-index:39;
    background-image:url('../img/2/25.png');
  }
  
  [data-id-in-slide="mr40sz7"]{
    position:absolute;
    width:3.690322218801259%;
    height:18.073925773035306%;
    left:64.79036638508896%;
    top:7.9774776808371195%;
    z-index:30;
    background-image:url('../img/2/2.png');
  }
  
  [data-id-in-slide="vpqcfs"]{
    position:absolute;
    width:5.288057596815065%;
    height:8.354552565480947%;
    left:62.58875%;
    top:22.187555555555555%;
    z-index:31;
    background-image:url('../img/2/9.png');
  }
  
  [data-id-in-slide="cjiwe"]{
    position:absolute;
    width:5.709961060720369%;
    height:14.486316460138374%;
    left:68.62274937338334%;
    top:10.641444347503784%;
    z-index:31;
    background-image:url('../img/2/10.png');
  }
  
  [data-id-in-slide="k15jp"]{
    position:absolute;
    width:8.82234124123328%;
    height:12.841333771778789%;
    left:75.87963361491104%;
    top:7.980322222222223%;
    z-index:19;
    background-image:url('../img/2/25.png');
  }
  
  [data-id-in-slide="fxe8r"]{
    position:absolute;
    width:3.5217706159178372%;
    height:14.48495487505783%;
    left:78.78286638508897%;
    top:9.584255652496216%;
    z-index:31;
    background-image:url('../img/2/18.png');
  }
  
  [data-id-in-slide="liwh3"]{
    position:absolute;
    width:4.195819921480695%;
    height:13.738599856801502%;
    left:81.94588361491104%;
    top:7.590666666666667%;
    z-index:25;
    background-image:url('../img/2/10.png');
  }
  
  [data-id-in-slide="6ay9u"]{
    position:absolute;
    width:10%;
    height:10%;
    left:63.63375%;
    top:13.91309990305934%;
    z-index:27;
    background-image:url('../img/2/25.png');
  }
  
  [data-id-in-slide="4un985"]{
    position:absolute;
    width:6.297546633159488%;
    height:11.34572702975164%;
    left:25.1009375%;
    top:25.768764516053185%;
    z-index:10;
    background-image:url('../img/2/3.png');
  }
  
  [data-id-in-slide="zfxvjo"]{
    position:absolute;
    width:5.2051795764373745%;
    height:21.962909518789957%;
    left:74.76375%;
    top:29.279544347503784%;
    z-index:16;
    background-image:url('../img/2/6.png');
  }
  
  [data-id-in-slide="ipf72i"]{
    position:absolute;
    width:7.9811681488160335%;
    height:22.71122887509989%;
    left:75.95088361491104%;
    top:26.107222222222223%;
    z-index:14;
    background-image:url('../img/2/6.png');
  }
  
  [data-id-in-slide="eg4kfo"]{
    position:absolute;
    width:13.11238777910235%;
    height:17.47719930286844%;
    left:72.51149937338334%;
    top:52.56177777777778%;
    z-index:17;
    background-image:url('../img/2/21.png');
  }
  
  [data-id-in-slide="wbdc34"]{
    position:absolute;
    width:12.102667704565528%;
    height:15.532223276623487%;
    left:70.795625%;
    top:31.950222222222223%;
    z-index:19;
    background-image:url('../img/2/27.png');
  }
  
  [data-id-in-slide="tqtp8"]{
    position:absolute;
    width:13.448707765396959%;
    height:15.682408370047527%;
    left:23.9827460058528%;
    top:52.15277777777778%;
    z-index:47;
    background-image:url('../img/2/21.png');
  }
  
  [data-id-in-slide="2656iz8"]{
    position:absolute;
    width:13.532466041287694%;
    height:14.934596270924462%;
    left:42.916687499999995%;
    top:39.67879309317519%;
    z-index:22;
    background-image:url('../img/2/21.png');
  }
  
  [data-id-in-slide="j9t49m"]{
    position:absolute;
    width:14.37263180718608%;
    height:17.02648178244343%;
    left:53.132625%;
    top:35.22078898582955%;
    z-index:24;
    background-image:url('../img/2/22.png');
  }
  
  [data-id-in-slide="mpefnd"]{
    position:absolute;
    width:10%;
    height:10%;
    left:44.6755625%;
    top:18.411544347503785%;
    background-image:url('../img/2/4.png');
  } 
  
  [data-id-in-slide="ozfbai"]{
    position:absolute;
    left:33.9263164941472%;
    top:45.081%;
    width:42.523309391889406%;
    height:54.59809540739611%;
    z-index:29;
  }
  
  [data-id-in-slide="eg4kfo"]{
    position:absolute;
    left:70.74025861491104%;
    top:53.15588888888889%;
  }
  
  [data-id-in-slide="wbdc34"]{
    position:absolute;
  }
  
  [data-id-in-slide="tqtp8"]{
    position:absolute;
    left:13.58725%;
    top:68.67866666666666%;
    width:13.616538529120094%;
    height:14.931293965027757%;
  }
  
  [data-id-in-slide="2656iz8"]{
    position:absolute;
    z-index:27;
  }
  
  [data-id-in-slide="j9t49m"]{
    position:absolute;
  }
  
  [data-id-in-slide="mpefnd"]{
    position:absolute;
  }
  
  [data-id-in-slide="x8qtie"]{
    position:absolute;
    width:11.934726042510043%;
    height:14.486316460138374%;
    left:42.1880585058528%;
    top:21.093777777777774%;
    z-index:18;
    background-image:url('../img/2/19.png');
  }
  
  [data-id-in-slide="fsynt6"]{
    position:absolute;
    width:10.925306317623338%;
    height:12.841334798615199%;
    left:37.4511875%;
    top:27.09688888888889%;
    z-index:19;
    background-image:url('../img/2/17.png');
  }
  
  [data-id-in-slide="59tjc"]{
    position:absolute;
    width:14.121802883225206%;
    height:15.682667132823013%;
    left:27.49025%;
    top:46.98590009694066%;
    z-index:13;
    background-image:url('../img/2/19.png');
  }
  
  [data-id-in-slide="gw7ybr"]{
    position:absolute;
    width:15.635934780937184%;
    height:19.122183018064437%;
    left:37.584575109058235%;
    top:59.03744444444444%;
    z-index:9;
    background-image:url('../img/2/22.png');
  }
  
  [data-id-in-slide="l3yq3s"]{
    position:absolute;
    width:3.35089938958272%;
    height:7.150387667711137%;
    left:42.6584375%;
    top:56.0059042042863%;
    z-index:18;
    background-image:url('../img/2/26.png');
  }
  
  [data-id-in-slide="db56b4"]{
    position:absolute;
    width:5.288062217578913%;
    height:10.74588821842404%;
    left:31.793121005852804%;
    top:46.58177777777777%;
    z-index:17;
    background-image:url('../img/2/11.png');
  }
  
  [data-id-in-slide="kuk6cbf"]{
    position:absolute;
    width:4.784653100158773%;
    height:10.000000410734565%;
    left:44.70213361491105%;
    top:21.54511111111111%;
    z-index:20;
    background-image:url('../img/2/11.png');
  }
  
  [data-id-in-slide="qfl63"]{
    position:absolute;
    width:5.455837532135872%;
    height:17.775014720726784%;
    left:67.769375%;
    top:49.24487768083712%;
    z-index:29;
    background-image:url('../img/2/16.png');
  }
  
  [data-id-in-slide="ezcvnk"]{
    position:absolute;
    width:4.952312895619532%;
    height:16.28022020630047%;
    left:66.163125%;
    top:52.88298468460259%;
    z-index:31;
    background-image:url('../img/2/14.png');
  }
  
  [data-id-in-slide="c97fud"]{
    position:absolute;
    width:4.699483180912474%;
    height:13.588233013332772%;
    left:64.743125%;
    top:57.00622222222223%;
    z-index:31;
    background-image:url('../img/2/15.png');
  }
  
  [data-id-in-slide="538se"]{
    position:absolute;
    width:9.663015291154945%;
    height:18.97229776087231%;
    left:57.6861210058528%;
    top:51.50844444444445%;
    z-index:29;
    background-image:url('../img/2/7.png');
  }
  
  [data-id-in-slide="u428ia"]{
    position:absolute;
    width:4.8678822985889125%;
    height:21.662543439287514%;
    left:55.026062499999995%;
    top:51.73521101417045%;
    z-index:33;
    background-image:url('../img/2/6.png');
  }
  
  [data-id-in-slide="1ppui"]{
    position:absolute;
    width:6.044823196020934%;
    height:26.746213355905113%;
    left:51.69975861491104%;
    top:49.367333333333335%;
    z-index:36;
    background-image:url('../img/2/2.png');
  }
  
  [data-id-in-slide="n3ikf"]{
    position:absolute;
    width:6.970699510535834%;
    height:10.745892325769683%;
    left:47.6014414941472%;
    top:74.946%;
    z-index:44;
    background-image:url('../img/2/9.png');
  }
  
  [data-id-in-slide="d7h5i"]{
    position:absolute;
    width:8.065275292377292%;
    height:17.626727220989654%;
    left:48.62361638508895%;
    top:63.33821512151609%;
    z-index:41;
    background-image:url('../img/2/4.png');
  }
  
  [data-id-in-slide="babj1n"]{
    position:absolute;
    width:4.868205752058273%;
    height:23.009724058662098%;
    left:40.8881835058528%;
    top:50.774540240158146%;
    z-index:38;
    background-image:url('../img/2/6.png');
  }
  
  [data-id-in-slide="2o6i8m"]{
    position:absolute;
    width:5.541464907003123%;
    height:28.541657356683203%;
    left:38.1531875%;
    top:48.2186554586149%;
    z-index:40;
    background-image:url('../img/2/2.png');
  }
  
  [data-id-in-slide="7gno0b"]{
    position:absolute;
    width:9.999998357061742%;
    height:11.64498617960338%;
    left:44.653875%;
    top:61.47656676360732%;
    z-index:37;
    background-image:url('../img/2/3.png');
  }
  
  [data-id-in-slide="fsr5fk"]{
    position:absolute;
    width:4.3627080493788375%;
    height:19.718832475500502%;
    left:55.13617888508896%;
    top:34.004666666666665%;
    z-index:32;
    background-image:url('../img/2/6.png');
  }
  
  [data-id-in-slide="x9caee"]{
    position:absolute;
    width:5.120397801354306%;
    height:29.141469470264127%;
    left:52.0133164941472%;
    top:27.643766569726004%;
    z-index:32;
    background-image:url('../img/2/2.png');
  }
  
  [data-id-in-slide="6rvbph"]{
    position:absolute;
    width:2.512979314914462%;
    height:4.765777793257907%;
    left:57.568375%;
    top:74.50622222222223%;
    z-index:40;
    background-image:url('../img/2/13.png');
  }
  
  [data-id-in-slide="7anwk4v"]{
    position:absolute;
    width:2.932017905234007%;
    height:4.314659806632738%;
    left:61.056875%;
    top:69.07411111111112%;
    z-index:31;
    background-image:url('../img/2/13.png');
  }
  
  [data-id-in-slide="gr6tri"]{
    position:absolute;
    width:2.8017632147910865%;
    height:5.0578681972633355%;
    left:42.71104347992838%;
    top:73.19736714679401%;
    z-index:41;
    background-image:url('../img/2/13.png');
  }
  
  [data-id-in-slide="rnz6bs"]{
    position:absolute;
    width:10%;
    height:10%;
    left:41.71202026818995%;
    top:73.4656796769852%;
    z-index:13;
  }
  
  [data-id-in-slide="1ksb7t"]{
    position:absolute;
    width:2.806102041622398%;
    height:6.109175508774179%;
    left:45.38898097992838%;
    top:75.081%;
    z-index:46;
    background-image:url('../img/2/13.png');
  }
  
  [data-id-in-slide="ak9u2n"]{
    position:absolute;
    width:6.634312523165429%;
    height:10.147981913221315%;
    left:63.26474138508895%;
    top:29.444444444444443%;
    z-index:27;
    background-image:url('../img/2/24.png');
  }
  
  [data-id-in-slide="s6aywf"]{
    position:absolute;
    width:6.382901382959707%;
    height:10.598177800749705%;
    left:42.78917888508895%;
    top:32.145111111111106%;
    z-index:29;
    background-image:url('../img/2/24.png');
  }
  
  [data-id-in-slide="yafq27"]{
    position:absolute;
    width:5.7938117518880645%;
    height:10.447444376682368%;
    left:29.10375%;
    top:36.56444444444445%;
    z-index:43;
    background-image:url('../img/2/23.png');
  }
  
  [data-id-in-slide="d415b4"]{
    position:absolute;
    width:7.308204722757455%;
    height:9.551369421896027%;
    left:45.9689375%;
    top:50.128233430273994%;
    z-index:45;
    background-image:url('../img/2/23.png');
  }
  
  [data-id-in-slide="fdakkv"]{
    position:absolute;
    width:13.448853319458172%;
    height:14.63586080764216%;
    left:17.50488130452912%;
    top:59.592999999999996%;
    z-index:25;
    background-image:url('../img/2/22.png');
  }
  
  [data-id-in-slide="0najn8"]{
    position:absolute;
    width:2.596728349277501%;
    height:6.710039141361036%;
    left:22.6171875%;
    top:60.486111111111114%;
    z-index:66;
    background-image:url('../img/2/26.png');
  }
  
  > .s-t{
    filter:opacity(0.3);
  }
}

.swal2-modal{
  &.slide1Modal{
    display: flex;
    width: 100% !important;
    /* height: 100%; */
    padding: 100px 100px 100px 200px !important;
    background-color:rgba(0, 0, 0, 0.85);

    h1{
      font-size:3em;
      text-align:left;
    }

    h2{
      color:#FFFFFF;
      font-size:2.2em;
      text-align: left;
      font-family: FFLight;
    }

    hr{
      width: 65%;
      margin-left: 35%;
      border-top: 3px #FFFFFF dashed;
    }
  }

  &.ova-themed{
    background-image:url(../img/2/1.png);

    h2{
      font-family: FFLight;
      color: #FFFFFF;
    }
  }
}