@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="10"]';

body[data-current-slide-class="slide10"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide10"] #wrapper {
    background-color:rgba(114, 64, 141, 0.5);

    .navigation-buttons{
        .prev{
            top:6%;
        }
        .next{
            display:none;
        }
    }
}

#{$slide} {
    
}
