@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5"]';

body[data-current-slide-class="slide5"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide5"] #wrapper {
    background-color:rgba(114, 64, 141, 0.66);

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {

    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }
    
    [data-id-in-slide="9x2vb"]{
        position:absolute;
        width:12.962831643230679%;
        height:23.517703247857053%;
        left:9.93275%;
        top:24.647%;
        background-image:url('../img/2/44.png');
    }
    
    [data-id-in-slide="q6e458"]{
        position:absolute;
        width:12.061548786207585%;
        height:29.246473398427433%;
        left:31.3878125%;
        top:28.37%;
        background-image:url('../img/2/46.png');
    }
    
    [data-id-in-slide="tuecet"]{
        position:absolute;
        width:9.74059492142184%;
        height:40.24531380913251%;
        left:49.5846629058059%;
        top:49.566400721432714%;
        background-image:url('../img/2/45.png');
    }
    
    [data-id-in-slide="tsi60j"]{
        position:absolute;
        width:15.79932546947506%;
        height:26.953357874532742%;
        left:67.899375%;
        top:62.61377777777778%;
        background-image:url('../img/2/43.png');
    }
    
    [data-id-in-slide="ttc9pm"]{
        position:absolute;
        width:32.61852%;
        height:36.349886180998645%;
        left:70.38%;
        top:27.197511832543825%;
        background-image:url('../img/2/48.png');
    }
    
    [data-id-in-slide="66be7"]{
        position:absolute;
        width:35.52018982075207%;
        height:40.70365494690964%;
        left:0%;
        top:54.59877777777778%;
        background-image:url('../img/2/47.png');
    }
    
    [data-id-in-slide="h3jju"]{
        position:absolute;
        left:22.5247120941941%;
        top:26.47377777777778%;
    }
    
    [data-id-in-slide="uauzbfv"]{
        position:absolute;
        left:43.00674999999999%;
        top:27.59295627698827%;
    }
    
    [data-id-in-slide="kllqha"]{
        position:absolute;
        left:66.37172894612819%;
        top:26.462222222222223%;
    }
    
    [data-id-in-slide="t861so"]{
        position:absolute;
        left:62.249375%;
        top:62.19871038967839%;
    }
    
    [data-id-in-slide="4i7vrg"]{
        position:absolute;
        left:32.8252745941941%;
        top:61.821000000000005%;
    }    

    .point{
        font-family:FFBold;
        font-size:3.3em;
        color:#FFFFFF;
        transition:all 0.35s ease;
        width:80px;
        height:80px;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color:$baseComplement;
        color:#FFFFFF;
        border-radius:100%;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
        display:none;

        &.visible{
            display:flex;
        }

        &:hover{
            cursor:pointer;
            //color:$base;
            background-color:#FFFFFF;
            transform:scale(1.1);
        }

        &:active{
            transition:none;
            transform:scale(1);
        }

        &.click-me{
            &:not(.clicked){
                background-color:$base;
            }
        }
    }
}

.swal2-modal{
    &.slide5Modal{
        li{
            font-family: FFLight;
            text-align: left;
            color: #FFFFFF;
            font-size: 1.5em;
            margin-bottom: 20px;
        }
    }
}