@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6-2"]';

body[data-current-slide-class="slide6-2"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide6-2"] #wrapper {
    background-color:#3C88CA;

    .navigation-buttons{
        > *{
            display:none;
        }
    }
}

#{$slide} {

    [data-id-in-slide="xl1nms"]{
        position:absolute;
        width:28.335965594244193%;
        height:74.45024000042058%;
        left:71.6625%;
        top:17.820222222222224%;
        z-index:4;
        background-image:url('../img/2/34.png');
    }

    h2{
        font-family: FFLight;
        font-size: 2.6em;
        padding: 10px;
        margin: 35px 100px;

        &.note{
            border:solid 1px #FFFFFF;
        }
    }

    table{
        width: 90%;
        margin-left:5%;
        box-shadow: -10px 15px 0px rgba(0, 0, 0, 0.4);

        thead{
            tr{
                th{
                    &:nth-of-type(1){
                        background-color:#383448;
                    }
    
                    &:nth-of-type(2){
                        background-color:#3F4163;
                    }

                    span{
                        display:table;
                        margin:12px auto;
                        font-family:FFBold;
                        font-size:2em;
                    }
                }
            }
        }

        tbody{
            tr{
                td{
                    &:nth-of-type(1){
                        background-color:#C963A9;

                        &.writable{
                            font-family:FFBold;
                            font-size:1.8em;
                        }
                    }

                    &:nth-of-type(2){
                        background-color:#FFFFFF;

                        &.writable{
                            font-family:FFLight;
                            font-size:1.8em;
                            color:#000000;
                        }
                    }

                    margin:solid 2px $base;
                    height:60px;

                    &.writable{
                        position:relative;
                        padding:10px;

                        &:hover{
                            background-color:$base;
                            cursor:pointer;
                        }

                        textarea{
                            position: absolute;
                            left:0;
                            top:0;
                            width:80%;
                            height:300px;
                            overflow-y:auto;
                            font-family:FFLight;
                            font-size:1.5em;
                            color:#000000;
                            z-index:10;
                        }
                    }
                }
            }
        }
    }

    .buttons{
        display:flex;
        align-items:center;
        justify-content: space-between;
        margin-top:20px;

        .button{
            position:static;
            top:auto;
            left:auto;
        }
    }

    .content{
        position: relative;
        z-index: 50;
    }
}

.swal2-modal{
    &.definedTerms{
        h1{
            font-size: 2em;
            text-decoration: underline;
        }

        h2{
            font-family: FFLight;
            text-align: left;

            b{
                font-family: FFBold;
            }
        }
    }
}