@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';

body[data-current-slide-class="slide3"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide3"] #wrapper {
    background-color:#D37E2F;

    .navigation-buttons{
        .next,
        .prev{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                margin-top: 5px;
            }
        }
    }
    [data-id-in-slide="uyf2z9"]{
        position:absolute;
        width:51.247305106674155%;
        height:78.05755135324021%;
        left:2.763675%;
        top:16.450666666666667%;
        z-index:3;
        background-image:url('../img/2/37.png');
    }
    
    [data-id-in-slide="93m12r"]{
        position:absolute;
        width:25.337180294736083%;
        height:66.139841534545%;
        left:74.660625%;
        top:22.278511832543824%;
        background-image:url('../img/2/34.png');
    }
    
    [data-id-in-slide="eq12x9"]{
        position:absolute;
        width:37.58364011406069%;
        height:68.20366375837845%;
        left:47.8125%;
        top:22.15317849921049%;
        z-index:5;
        background-image:url('../img/2/42.png');
    }

    .step{
        position:absolute;
        font-family:FFBold;
        font-size:2em;
        color:#000000;
        z-index:30;
        cursor:pointer;
        transition:all 0.35s ease;
        padding:10px;
        display:none;

        &.visible{
            display:block;
        }

        &:hover,
        &.click-me:not(.clicked){
            cursor:pointer;
            background-color:$base;
        }

        &[data-id="1"]{
            left: 70%;
            top: 31%;
        }

        &[data-id="2"]{
            left: 77.6%;
            top: 55%;
        }

        &[data-id="3"]{
            left: 71%;
            top: 75%;        
        }

        &[data-id="4"]{
            left: 56%;
            top: 74%;
        }

        &[data-id="5"]{
            left: 49.2%;
            top: 52%;
        }

        &[data-id="6"]{
            left: 56%;
            top: 31%;
        }
    }

    .description{
        text-align: center;
        font-family: FFLight;
        font-size: 1.5em;
        color: #000000;
        position: absolute;
        left: 57%;
        top: 37%;
        width: 20%;
        z-index: 30;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.swal2-modal{
    &.slide3Step1Modal{
        padding:0 !important;
        margin:0 !important;
        width:1360px !important;

        .swal2-header{
            height:0;
        }
         
        .content{
            width:100%;
            display:flex;
            align-items:center;
            justify-content:space-around;
            padding:28px 10px;
            
            .icon{
                width:100%;
                height:200px;
                background-size:contain;
                background-position:50% 50%;
                background-repeat:no-repeat;
            }
            
            &.content-1{
                background-color: #E6B54A;

                .block{
                    &:nth-of-type(1){
                        width:25%;

                        .icon{
                            background-image: url(../img/2/39.png);
                        }
                    }
    
                    &:nth-of-type(2){
                        width: 70%;

                        h1{
                            color: #5C162C;
                            font-family: FFLight;
                            font-size: 2em;
                            text-align: left;
                        }

                    }
                }
            }


            &.content-2{
                background-color: #FFC843;

                .block{
                    &:nth-of-type(1){
                        width:25%;

                        .icon{
                            background-image: url(../img/2/40.png);
                        }
                    }
    
                    &:nth-of-type(2){
                        width: 70%;

                        h2,
                        li{
                            color: #5C162C;
                            font-family: FFLight;
                            font-size: 1.8em;
                            text-align: left;
                        }

                        a{
                            text-decoration: underline;
                        }

                        li{
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
                
    }
    &.slide3Step5Modal{
        padding: 30px !important;
        margin:0 !important;
        background-color: #E6B54A;      
        
        h2{
            font-size: 1.5em;
            font-family: FFBold;
            line-height: 1.5em;
            color: #FFFFFF;
        }

        li{
            text-align:left;
            font-family: FFLight;
            font-size: 1.3em;
            color:#FFFFFF;
        }
    }
}