@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="7"]';

body[data-current-slide-class="slide7"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide7"] #wrapper {
    background-color:rgba(114, 64, 141, 0.66);

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
        }
    }
    
}
