@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5-1"]';

body[data-current-slide-class="slide5-1"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide5-1"] #wrapper {
    background-color:rgba(114, 64, 141, 0.66);

    .navigation-buttons{
        > *{
            display:none;
        }
    }
}

#{$slide} {
    overflow-y:auto;
    
    h1{
        font-family: FFBold;
        padding: 14px;
        font-size: 2.6em;
        text-align: center;
        background-color:lighten($base, 5%);
    }

    h2{
        font-family: FFLight;
        color: #FFFFFF;
        /* padding: 20px; */
        font-size: 2.3em;
        padding-left: 5%;
    }

    textarea{
        color: #4a4a4a;
        font-family: FFLight;
        font-size: 2.1em;
        margin: 20px;
        width: 90%;
        margin-left: 5%;
        min-height: 180px;
        margin: 10px 5%;
    }

    .button{
        position:static;
        margin:10px auto; 
    }
}