<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Actividad de aprendizaje 3</h2>
</div>
<div data-id-in-slide="ji9ikglqc0d5p8f72e29"></div>
<div data-id-in-slide="6i49es0r77jgoelmobt9" class="text">
  <h2>Ha terminado la actividad. Lo invito a continuar explorando los recursos.</h2>
</div>