<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Actividad de aprendizaje 1</h2>
</div>
<div data-id-in-slide="lc0zu3cg16pqmyhqia4i"></div>
<div data-id-in-slide="kv0ld07vz3cdv64unmi" class="character"></div>
<div data-id-in-slide="mjal39xyvx39gi3blnmi" class="text">
  <h1>¡BIENVENIDO!</h1>
  <h2>Identifique su conocimiento sobre los mecanismos de protección de Derechos Humanos</h2>
</div>