<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
  </div>
  <h2>TEMA 1- 4.3</h2>
  <h3>Derecho de petición</h3>
</div>
<div data-id-in-slide="e05y8x3fvyirulibpgb9" class="fs-bg"></div>
<div class="content">
  <div class="element" data-ani-class="fadeInLeft" data-ani-delay="500">
    <div class="title">DERECHO DE PETICIÓN</div>
    <div class="text">El derecho de petición es la facultad que toda persona tiene para presentar solicitudes ante las autoridades o ante ciertos particulares y obtener de ellos una pronta solución sobre lo solicitado. Es un derecho fundamental y también constituye un mecanismo de protección de derechos consagrado, está consignado en el Artículo 23 de la Constitución Nacional</div>
  </div>
  <div class="element" data-ani-class="fadeInLeft" data-ani-delay="2000">
    <div class="title">ESTE DERECHO SE PUEDE EJERCER ANTE</div>
    <div class="text">Las autoridades o particulares que presten un servicio público y que actúen o deban actuar en desarrollo de funciones públicas.</div>
  </div>
  <div class="element" data-ani-class="fadeInLeft" data-ani-delay="3500">
    <div class="title">LAS PETICIONES SE DENOMINAN</div>
    <div class="text">Quejas, reclamos, manifestaciones, peticiones de información, sugerencia, consultas.</div>
  </div>
  <div class="element" data-ani-class="fadeInLeft" data-ani-delay="5000">
    <div class="title">ACCIONES POPULARES Y DE GRUPO</div>
    <div class="text">La acción de grupo es un trámite judicial para reclamar la reparación del daño causado a un derecho o interés colectivo o al derecho de cada uno de los miembros de un grupo social, siempre y cuando el daño ocasionado sea para todos o por una misma causa. Esta acción igual que la de grupo, protege los derechos colectivos.</div>
  </div>
</div>