<div data-id-in-slide="czbfulrdu585i885mi"></div>
<div data-id-in-slide="sdguvjexss7t2fn7b9"></div>

<div class="content">
    <div class="title">
        <div class="icon">
            <i class="fa fa-gavel" aria-hidden="true"></i>
        </div>
        <div class="text">QUÉ TAN PERTINENTE SUELE SER?</div>
    </div>
    <div class="description">
        <p>El juez que debe decidir sobre la misma y tiene la obligación de darle pronta respuesta y por ello puede posponer cualquier otro asunto, excepto que si se trate de una acción de tutela.</p>
    </div>
</div>