<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Actividad de aprendizaje 2</h2>
</div>
<div data-id-in-slide="x3eaj6s8uzb7okh2gldi" class="character"></div>
<div data-id-in-slide="101cjg5ofgrsoabblz0k9"></div>
<div data-id-in-slide="ems1olqc4kr5mjf9a4i"></div>
<div data-id-in-slide="w5vy37q5sxfx7eo5stt9"></div>
<div data-id-in-slide="hi45q122idaufxx647vi" class="text">
Ahora, vamos a poner en practica todos los conceptos, complete  los espacios con sus ideas y planteamientos
</div>
<div class="inputs">
  <div class="input-group">
    <h2>¿Qué derecho o derechos se vulneraron en la noticia seleccionada?</h2>
    <textarea placeholder="Escriba acá" data-id="0"></textarea>
  </div>
</div>
