<div data-id-in-slide="czbfulrdu585i885mi"></div>
<div data-id-in-slide="sdguvjexss7t2fn7b9"></div>

<div class="content">
    <div class="title">
        <div class="icon">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
        </div>
        <div class="text">¿CUANDO RECURRIR A LA ACCIÓN DE CUMPLIMIENTO?</div>
    </div>
    <div class="description">
        <ol>
            <li>Cuando una autoridad incurre en acciones u omisiones con las cuales se produce el incumplimiento de una norma con fuerza material de ley o de un acto administrativo</li>
            <li>Cuando una autoridad realiza actos o ejecuta hechos de los cuales se deduce el inminente incumplimiento de una de aquellas normas o actos</li>
            <li>Cuando un particular que actúe o deba actuar en ejercicio de funciones públicas incurre en acciones u omisiones con las cuales se produce la inobservancia de una de esas normas o actos cuyo cumplimiento se puede reclamar. </li>
        </ol>
    </div>
</div>