@import "./variables";

h2{
    font-family:FFLight;

    &.question{
        text-align:left;
        font-family: FFBold;
        font-weight: 100;
    }

    &.answer{
        text-align:left;
        margin-left:10px;
    }
}