<div>
    <div class="contAudio">
        <audio data-ani-class="bounceInLeft" controls controlsList="nofullscreen nodownload">
            <source src="img/2/int_audio_05.mp3" type="audio/mpeg">
        </audio>
        <br>
        <h2>El manejo de los desastres, hace parte de una buena gestión de los riesgos. Países como Colombia, deberían implementar
            una adecuada gestión reactiva que le permitirá en un futuro</h2>

    </div>

    <div class="contCasos" data-caso="4">

        <div class="itemCaso algo hoverable" data-itemcaso="1" alt="">
            <h2>Aprender de las experiencias que se vayan presentando e ir implementando mejoras a corto plazo

            </h2>
        </div>
        <div class="itemCaso hoverable" data-itemcaso="1" alt="">
            <h2>Desarrollar un plan de emergencia que cubra una gestión para la población del 30 %



            </h2>
        </div>
        <div class="itemCaso hoverable" data-itemcaso="1" alt="">
            <h2>Informar a la población de las atenciones que están cubiertas y las que no en caso de presentarse un evento de
                desastre



            </h2>
        </div>
        <div class="itemCaso hoverable" data-itemcaso="0" alt="">
            <h2>Responder acertadamente las emergencias que se presenten, de tal modo que se reduzcan los costos y se dé respuesta
                inmediata en caso de un evento de desastre



            </h2>
        </div>

    </div>
    <div class="button hoverable reiniciarInt">
        <span>Reniciar</span>
    </div>
</div>
