<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>Actividad de aprendizaje 2: Intervención de los grupos de apoyo <br> en la gestión organizacional de la seguridad y salud en el trabajon</h2>
</div>

<div class="cont-item-s5" data-ani-class="bounceInUp">

  <div class="item-s5 item-modal" data-item-cinco="1">
    <img src="img/5/item-5-1.png" alt="">
  </div>
  <div class="item-s5 item-modal" data-item-cinco="2">
    <img src="img/5/item-5-2.png" alt="">
  </div>
  <div class="item-s5 item-modal-dos" data-item-cinco="3">
    <img src="img/5/item-5-3.png" alt="">
  </div>
  <div class="item-s5 item-modal" data-item-cinco="4">
    <img src="img/5/item-5-4.png" alt="">
  </div>
  <div class="item-s5 item-modal-dos" data-item-cinco="5">
    <img src="img/5/item-5-5.png" alt="">
  </div>

</div>


<div class="modal_cinco" data-modal-cinco="3" data-ani-class="bounceInUp">
  <button type="button" class="modal-close" aria-label="Close this dialog" style="display: flex;">×</button>
  <h1>3) Analice el video anterior con relación a la Ley 1010 de 2006 y defina las conductas que pueden o no considerarse como acoso laboral.</h1>
  <div class="cont-textarea-s5 textoUno">
    <textarea name="name" rows="8" cols="80" placeholder="Escriba aquí su respuesta "></textarea>
  </div>
</div>

<div class="modal_cinco" data-modal-cinco="5" data-ani-class="bounceInUp">
  <button type="button" class="modal-close" aria-label="Close this dialog" style="display: flex;">×</button>
  <h1>5) Comparta la infografía en la plataforma virtual, y realice aportes constructivos con  relación a las medidas de intervención propuestas por otros compañero.</h1>
  <div class="cont-textarea-s5 textoDos">
    <h2>Si desea complementar su análisis registre aquí sus ideas</h2>
    <textarea name="name" rows="5" cols="80" placeholder="Si desea complementar su análisis registre aquí sus ideas"></textarea>
  </div>
  <br>
  <div class="button hoverable btn_end_acttwon">
    <span>Finalizar Actividad</span>
  </div>
</div>
