<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>Actividad de aprendizaje 3: ¿Qué aprendí?</h2>
</div>

<div class="cont-icon-preguntas">

  <div class="icon-preguntados" data-icon-pregunta="1">
    <img src="img/1/icon-pregunta-1.png" alt="">
  </div>

  <div class="icon-preguntados" data-icon-pregunta="2">
    <img src="img/1/icon-pregunta-2.png" alt="">
  </div>

  <div class="icon-preguntados" data-icon-pregunta="3">
    <img src="img/1/icon-pregunta-3.png" alt="">
  </div>

  <div class="icon-preguntados" data-icon-pregunta="4">
    <img src="img/1/icon-pregunta-4.png" alt="">
  </div>

</div>

<div class="button hoverable button-finish-s7"><span>Finalizar Actividad</span></div>



<div class="cont-preguntados" data-pregunta="1" data-ani-class="bounceInUp">
  <div class="pregunta">
    <h2>¿En que consisten las estrategias de intervención y manejo en seguridad y salud en el trabajo en una organización?</h2>
  </div>
  <div class="cont-text">
    <textarea name="" id="" cols="30" rows="10" placeholder="Argumente su respuesta aquí"></textarea>
  </div>
  <div class="button hoverable btn-cont-itemdos"><span>Continuar</span></div>
</div>


<div class="cont-preguntados" data-pregunta="2" data-ani-class="bounceInUp">
  <div class="pregunta">
    <h2>¿Qué estrategias de intervención y manejo en seguridad y salud en el trabajo se pueden aplicar para situaciones de conflicto de una organización?</h2>
  </div>
  <div class="cont-text">
    <textarea name="" id="" cols="30" rows="10" placeholder="Argumente su respuesta aquí"></textarea>
  </div>
  <div class="button hoverable btn-cont-itemdos"><span>Continuar</span></div>
</div>

<div class="cont-preguntados" data-pregunta="3" data-ani-class="bounceInUp">
  <div class="pregunta">
    <h2>¿Cómo se pueden desarrollar estrategias de intervención y manejo en seguridad y salud en el trabajo para situaciones de conflicto interpersonal en organizaciones, a través de los comités de convivencia laboral?</h2>
  </div>
  <div class="cont-text">
    <textarea name="" id="" cols="30" rows="10" placeholder="Argumente su respuesta aquí"></textarea>
  </div>
  <div class="button hoverable btn-cont-itemdos"><span>Continuar</span></div>
</div>

<div class="cont-preguntados" data-pregunta="4" data-ani-class="bounceInUp">
  <div class="pregunta">
    <h2>¿Cuál es la importancia de la gestión organizacional en seguridad y salud en el trabajo del comité de convivencia laboral?</h2>
  </div>
  <div class="cont-text">
    <textarea name="" id="" cols="30" rows="10" placeholder="Argumente su respuesta aquí"></textarea>
  </div>
  <div class="button hoverable btn-cont-itemdos"><span>Continuar</span></div>
</div>
