
<div class="cont-exp" data-cont-exp="1">
  <div class="item-exp act-ini" data-switch-to-slide="2" data-item="1" title="Actividad de Aprendizaje 1">
    <img src="img/1/item-exp-1.png" alt="">
  </div>
  <div class="item-exp resource-uno disabled" data-switch-to-slide="3" data-item="2" title="Cultura organizacional y Comités de Convivencia laboral y Seguridad y Salud en el Trabajo">
    <img src="img/1/item-exp-1.png" alt="">
  </div>
</div>


<div class="cont-exp disabled" data-cont-exp="2">
  <div class="item-exp" data-switch-to-slide="4" data-item="1" title="Acoso laboral">
    <img src="img/1/item-1-exp-2.png" alt="">
  </div>
  <div class="item-exp"  data-switch-to-slide="5" data-item="2"  title="Actividad de Aprendizaje 2">
    <img src="img/1/item-2-exp-2.png" alt="">
  </div>
</div>


<div class="cont-exp disabled" data-cont-exp="3">
  <div class="item-exp act-end" data-switch-to-slide="7" data-item="1" title="Actividad de Aprendizaje 3">
    <img src="img/1/item-1-exp-3.png" alt="">
  </div>
  <div class="item-exp" data-switch-to-slide="6" data-item="2" title="Acción de intervención del Comité de Convivencia Laboral en la organización.">
    <img src="img/1/item-2-exp-3.png" alt="">
  </div>
</div>



<div class="initial-message" data-ani-class="bounceInUp">
    <div class="cont-texto">
      <h1>¡Bienvenido!</h1>
  <h2>En la presente unidad usted aprenderá a desarrollar estrategias de intervención y manejo en seguridad y salud en el trabajo para situaciones de conflicto interpersonal en organizaciones, a través de los comités de convivencia laboral.
<br>
<br>
Para empezar inicie la Actividad de aprendizaje 1 de la primera Experiencia de Aprendizaje</h2>
  </div>

  <div class="button hoverable ini-s1">
    <span>Iniciar</span>
  </div>

</div>
