<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Acción de intervención del Comité de Convivencia  <br> Laboral en la organización.</h2>
</div>
<div class="button hoverable button-continuar btn_cont_S6" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>
<br>
<div class="cont-elements">
  <div class="element" data-element="1">
    <h2>Acoso laboral</h2>
  </div>
  <div class="element" data-element="2">
    <h2>Prevención de la situación</h2>
  </div>
  <div class="element" data-element="3">
    <h2>Enfrentamiento de la situación</h2>
  </div>
  <div class="element" data-element="4">
    <h2>Intervención de las situaciones</h2>
  </div>
  <div class="element" data-element="5">
    <h2>Reglamento de trabajo</h2>
  </div>

</div>

<div class="cont-screen">
  <div class="contAudio">
    <audio id="soundUno" controls controlsList="nofullscreen nodownload">
      <source src="img/sound/sound_1.mp3" type="audio/mpeg">
    </audio>
  </div>
</div>

<div class="cont-elements">
  <div class="element" data-element="6">
    <h2>Factores de riesgo psicosocial</h2>
  </div>
  <div class="element" data-element="7">
    <h2>Intervenciones de los factores de riesgos</h2>
  </div>
  <div class="element" data-element="8">
    <h2>Enfoque individual</h2>
  </div>
  <div class="element" data-element="9">
    <h2>Enfoque organizacional</h2>
  </div>

</div>
